<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col col-2 col-md-2 col-lg-2">
                  <a [routerLink]="['/folletos-informativos/fondos-inversion']" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
                </a>
               
              </div>
              <div class="col col-md-6 col-lg-8">
                <h4>
                    Fondo Largo Plazo</h4>
              </div>
            </div>
          </div>

        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/folletos/fondos-inversion/HeyG/Cartera.pdf" target="_blank">  
                                Cartera</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/folletos/fondos-inversion/HeyG/Cartera-mensual.pdf" target="_blank">
                                Cartera mensual</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/folletos/fondos-inversion/HeyG/Prospecto-HeyG.pdf" target="_blank">  
                                Prospecto</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/folletos/fondos-inversion/HeyG/DICI-HeyG.pdf" target="_blank">
                                DICI</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
