<section class="hey-hero-image">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="vertical-center">

                    <h1>Coviértete en Digital Banker</h1>

                    <p>Buscamos expandir nuestro equipo de trabajo, conectando con mentes que quieran desafiar los límites de la innovación.</p>

                    <a class="btn btn-primary" role="button" [routerLink]="['/careers/jobs']">Conoce nuestras vacantes</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 offset-md-1 col-lg-5 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <h2>Somos más que un Banco</h2>

                <p>Estamos en constante evolución al ser un ecosistema de productos y herramientas financieras diseñadas con tecnología inteligente para ofrecer a nuestros clientes soluciones que fortalezcan su relación con el dinero.</p>
            </div>

            <div class="col-8 offset-2 col-md-4 offset-md-0 col-lg-4 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-careers-01.png'" style="border-radius:100%;">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-02">
    <div class="container-fluid">
        <div class="row align-items-center no-gutters">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-careers-02.png'">
            </div>

            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h2>Oportunidades de trabajo a distancia</h2>

                        <p>Buscamos ofrecer la posibilidad de arreglos para trabajo remoto. Queremos estar seguros que quien trabaja de manera remota tiene las herramientas y recursos para estar conectado a nuestra comunidad alrededor del país.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-testimonials">
    <div class="container">
        <div class="row justify-content-md-center justify-content-lg-start">
            <div class="col-md-7 offset-md-0 col-lg-9 offset-lg-1">
                <h2>Lo que dice el equipo</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h3>“En Hey he aprendido que puedo crecer profesionalmente de una manera innovadora, pensando manera diferente a lo que había hecho y lo mejor, es que lo he podido lograr conservando un equilibrio entre mi vida
                                                laboral y personal”</h3>

                                            <h4>Aline López - Gte. Estrategias de Ciclo de Vida</h4>

                                            <p>Hey Banco</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h3>“La experiencia y los aprendizajes que he obtenido aquí, sin duda los llevare siempre conmigo, al igual que todas las herramientas que me han dado para desarrollarme laboral y personalmente”</h3>

                                            <h4>Emiliano Flores - Analista Producto TDC</h4>

                                            <p>Hey Banco</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <h3>“Aqui no solamente aprendo a crecer en lo profesional, tambien en lo personal. Hey tiene por mucho uno de los equipos mas humanos con los que he colaborado y de ellos aprendo diario en ambos ámbitos”</h3>

                                            <h4>Andrés Zablah - Sub-Dir Mercadotecnia</h4>

                                            <p>Hey Banco</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3>“En Hey he aprendido que puedo crecer profesionalmente de una manera innovadora, pensando manera diferente a lo que había hecho y lo mejor, es que lo he podido lograr conservando un equilibrio entre mi vida laboral
                                        y personal”</h3>

                                    <h4>Aline López - Gte. Estrategias de Ciclo de Vida</h4>

                                    <p>Hey Banco</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3>“La experiencia y los aprendizajes que he obtenido aquí, sin duda los llevare siempre conmigo, al igual que todas las herramientas que me han dado para desarrollarme laboral y personalmente”</h3>

                                    <h4>Emiliano Flores - Analista Producto TDC</h4>

                                    <p>Hey Banco</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h3>“Aqui no solamente aprendo a crecer en lo profesional, tambien en lo personal. Hey tiene por mucho uno de los equipos mas humanos con los que he colaborado y de ellos aprendo diario en ambos ámbitos”</h3>

                                    <h4>Andrés Zablah - Sub-Dir Mercadotecnia</h4>

                                    <p>Hey Banco</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-8 offset-2 col-md-4 offset-md-1 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-careers-03.png'" style="border-radius:100%;">
            </div>

            <div class="col-md-6 offset-md-1 col-lg-5 offset-lg-0">
                <h2>Apenas estamos comenzando</h2>

                <p>Hasta ahora, hemos conectado con más de 5 mil personas que creen firmemente que la simplicidad en el mundo de las finanzas ¡es posible! Pero esto solamente es el inicio de un gran cambio, y tu puedes ser parte de él.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-jobs-benefits bg-blue">
    <div class="container">
        <div class="row justify-content-md-center justify-content-lg-start">
            <div class="col-md-7 offset-md-0 col-lg-10 offset-lg-1">
                <div class="d-none d-xs-none d-sm-none d-md-none d-lg-block">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Bienestar</h2>

                                    <p>
                                        El centro de nuestras acciones es pensando en las personas fuera y dentro de nuestra empresa, por lo tanto buscamos causar un impacto positivo y relevante en el desempeño de cada uno de nuestros empleados.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Hacemos las cosas ¡simples!</h2>

                                    <p>
                                        Uno de nuestros atributos más grandes de nuestra marca es la practicidad. Nuestra misión es crear herramientas inteligentes que eliminen las fricciones en la relación de las personas con su dinero.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Involucramiento Social</h2>

                                    <p>
                                        Buscamos construir comunidades conscientes de sus finanzas, buscando ser un canal en donde todos se sientan bienvenidos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="carousel-mobile-02" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Bienestar</h2>

                                    <p>
                                        El centro de nuestras acciones es pensando en las personas fuera y dentro de nuestra empresa, por lo tanto buscamos causar un impacto positivo y relevante en el desempeño de cada uno de nuestros empleados.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Hacemos las cosas ¡simples!</h2>

                                    <p>
                                        Uno de nuestros atributos más grandes de nuestra marca es la practicidad. Nuestra misión es crear herramientas inteligentes que eliminen las fricciones en la relación de las personas con su dinero.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2>Involucramiento Social</h2>

                                    <p>
                                        Buscamos construir comunidades conscientes de sus finanzas, buscando ser un canal en donde todos se sientan bienvenidos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile-02" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile-02" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile-02" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile-02" data-slide-to="2"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile-02" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-linkedin></hey-linkedin>