<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1 class="mb-20">La cuenta que siempre te da más</h1>

                    <hey-btn-crear-cuenta title="Abrir una cuenta"> </hey-btn-crear-cuenta>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center ">
                <img loading="lazy" class="responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-0-hero-image.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-1-ic-navega-forma-simple.png'" class="align-self-start" alt="Navega de forma simple, Tu banco digital">

                    <div class="media-body">
                        <h3>Navega de forma simple</h3>

                        <p>En unos simples taps realiza todos tus movimientos y disfruta de los beneficios de contar con tu banco digital.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-2-ic-transferencia.png'" class="align-self-start" alt="Transferencias 24/7, Tu banco digital">

                    <div class="media-body">
                        <h3>Transferencias 24/7</h3>

                        <p>Realiza transferencias durante cualquier hora del día, desde la palma de tu mano. ¡Fácil y rápido!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-3-ic-cobra-paga-codi.png'" class="align-self-start" alt="Paga y cobra con CoDi®, Tu banco digital">

                    <div class="media-body">
                        <h3>Paga y cobra con CoDi®</h3>

                        <p>Por medio de códigos QR, recibe o deposita de manera automática. Sin complicaciones.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-4-ic-retira-cajeros.png'" class="align-self-start" alt="Retira en 3,600 cajeros, Tu banco digital">

                    <div class="media-body">
                        <h3>Retira en 3,600 cajeros</h3>

                        <p>Con tu Tarjeta Hey retira efectivo o realiza consultas en más de 3,600 cajeros como Banregio, Inbursa, Scotiabank y Banbajío sin costo alguno.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <hey-btn-crear-cuenta title="Quiero mi Cuenta Hey"> </hey-btn-crear-cuenta>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <img loading="lazy" class="mobile-coleccion" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-6-img-tarjetas-coleccion.png'" alt="Tu banco digital, tarjetas de colección hey banco">
            </div>
        </div>

        <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
            <h2> Colección Cosmos
            </h2>
            <p>
                5 diseños únicos de edición limitada para tu tarjeta Hey Banco. <br> Abre tu Cuenta Hey en minutos y selecciona la tarjeta para ti.
            </p>
            <a class="btn btn-primary" role="button" [routerLink]="['/parami/coleccion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
        </div>

    </div>
</section>

<section class="hey-hero-image bg-white hey-pro-nomina">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-10 offset-1 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h2>Tu nómina en <br> Hey Banco</h2>

                    <p class="mb-20"> Cambia tu nómina y conviértete en Hey Pro </p>
                    <div class="mb-20">
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-11">
                                8% en Inversión Hey
                            </p>
                        </div>
                    </div>

                    <div class="text-center text-lg-left text-md-left mt-25">
                        <a class="btn btn-primary" role="button" [routerLink]="['/parami/hey-pro']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                    </div>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center mt-20">
                <img loading="lazy" class="responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-62-img-nomina-hey.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
            </div>
        </div>
    </div>
</section>


<section class="hey-applepay bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-md-1 col-lg-5">
                <h2>Con Apple Pay, tus datos están seguros</h2>
                <p>
                    Cuando haces una compra, Apple Pay usa un número específico de dispositivo y un código único de transacción. Puedes estar tranquilo que tus datos privados, se mantendrán así.
                </p>

                <a class="btn btn-primary" role="button" [routerLink]="['/pagos/applepay']">Conoce más</a>
            </div>
            <div class="col-9 col-md-4 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive-apple-pay" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-9-img-apple-pay.png'" alt="¿Cómo agrego mi tarjeta a Apple Pay?, Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Protección de vida</h2>

                <p>Tu Cuenta Hey incluye una protección de Vida por $25,000 pesos al asignarle un beneficiario desde tu app ¡sin costo!
                </p>
            </div>
            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-12-img-proteccion-vida.png'" alt="¿La cuenta Hey viene con seguro de vida incluido?, Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-13-img-contactless.png'" alt="¿La tarjeta de la Cuenta Hey sirve para pago sin contacto?, Tu banco digital">
            </div>
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Paga sin contacto</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-14-ic-localiza.svg'" class="align-self-start" alt="Tu banco digital, Paga sin contacto">

                    <div class="media-body">
                        <h4>1. Localiza</h4>

                        <h5>Busca el símbolo de Pagos Sin Contacto a la hora de pagar.</h5>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-15-ic-acerca.svg'" class="align-self-start" alt="Tu banco digital, Paga sin contacto">

                    <div class="media-body">
                        <h4>2. Acerca</h4>

                        <h5>Coloca tu Tarjeta Hey a la terminal de pago.</h5>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-16-ic-paga.svg'" class="align-self-start" alt="Tu banco digital, Paga sin contacto">

                    <div class="media-body">
                        <h4>3. Paga</h4>

                        <h5>Tu pago se procesa en segundos.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Recibe tu tarjeta directamente en tu domicilio</h2>

                <p>Solicita tu cuenta con un tiempo de respuesta mínimo y obtén tu tarjeta física con envió hasta tu domicilio.
                </p>
            </div>

            <div class="col-12 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-17-img-tarjeta-domicilio.png'" alt="¿Tengo que pagar por la tarjeta física de la Cuenta Hey?, Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Obtener tu cuenta ¡Es sencillo!</h2>

                <div class="row">
                    <div class="col-12 col-md-10 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 1</h3>

                                <p>Selecciona aquí la opción “Quiero mi Cuenta Hey” o descarga la App Hey Banco.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 2</h3>

                                <p>Crea tu usuario o si ya eres cliente Hey ingresa con tu usuario y contraseña.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-10 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 3</h3>

                                <p>Solo tienes que tener a la mano tu INE o IFE para realizar la contratación.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <hey-btn-crear-cuenta title="Elige una cuenta"> </hey-btn-crear-cuenta>

                <a class="btn btn-outline-primary" role="button" href="https://youtu.be/TH30MrqS0_Q" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-24-btn-play.svg'">¿Cómo lo solicito?
                </a>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Sin monto mínimo de apertura ni renta mensual</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Tarjeta Virtual</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Crédito y Débito en una misma tarjeta</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Tarjeta física con tecnología Contactless</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Seguro de hospitalización (opcional)</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Pago con CoDi®</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                    <div class="media-body">
                        <p>Paga y cobra con QR</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="row">
                    <div class="col-12">
                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                            <div class="media-body">
                                <p>Ideal para Persona Física y manejo personal de Persona Física con Actividad Empresarial (no se permite apertura a Personas Morales)</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                            <div class="media-body">
                                <p>Ser mayor de 18 años</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                            <div class="media-body">
                                <p>Tener credencial del INE/IFE vigente</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-20-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?, Tu banco digital">

                            <div class="media-body">
                                <p>Contar con un teléfono inteligente (smartphone) iOS y Android con número mexicano</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-3 col-lg-1">
                        <a href="https://www.gob.mx/ipab" target="_blank">
                            <img loading="lazy" class="ipab" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-21-btn-ipab.png'" alt="¿La cuenta hey tiene el respaldo del IPAB?, Tu banco digital">
                        </a>
                    </div>

                    <div class="col-9 col-lg-11">
                        <p>
                            El instituto para la Protección al Ahorro Bancario (IPAB) garantiza las operaciones establecidas en el Artículo 46 fracciones I y II, de la Ley de Instituciones de Crédito, hasta por 400 mil unidades de inversión (UDI) por persona física o moral, y por
                            banco, visita <a href="https://www.gob.mx/ipab" target="_blank">www.gob.mx/ipab</a>.<br><br> Producto en Moneda Nacional y disponible a través del App Hey Banco impulsado por Banregio disponible
                            en el App Store o Google Play.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-22-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey?, Tu banco digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Cómo abro una Cuenta Hey?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Selecciona en esta sección el botón con la opción Quiero mi Cuenta Hey o bien descarga la app Hey Banco dentro de tu tienda Apple o Google.<br><br> Crea tu usuario registrando tu nombre y contraseña<br><br> Manten a la
                                mano tu INE/IFE vigente para seguir el flujo de contratación y llenar los datos que te solicitamos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cuál es la diferencia entre la Cuenta Hey y Hey Pal’ Norte?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                La Cuenta Hey Pal’ Norte te ofrece beneficios exclusivos para el festival Tecate Pal’ Norte así como promociones a futuros eventos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Si no cuento con INE o IFE vigente ¿puedo abrir mi Cuenta Hey?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                No, es necesario mantener tu INE/IFE vigente para realizar el trámite.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Cómo recuperar mi cuenta Hey si la cancele?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Una vez que cancelas la cuenta de Hey no se puede recuperar, es necesario crear una cuenta nueva. Puedes iniciar nuevamente el trámite entrando a tu app Hey Banco e ingresando un nuevo usuario y contraseña así como tus documentos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  ¿Dónde encuentro los 16 números de mi tarjeta?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                En la parte de atrás tu tarjeta cuenta con un identificador indicando si es débito o crédito. Hasta solicitar tu Crédito Hey y sea aprobado esta numeración se activará en automático.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  ¿Por qué mi tarjeta física no tiene los mismos números que la virtual?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-23-ic-mas-info-faq.svg'" alt="Tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Por seguridad, los números de tu tarjeta virtual son diferentes a los de la tarjeta física. Sin embargo ambos pertenecen a la misma cuenta. Puedes consultarlos dentro de la app en los detalles de tu cuenta.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>