<section class="hey-ayuda-detalle">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda']">Centro de Ayuda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <h1 class="title_h1">Tarjeta Virtual Hey</h1>
                        </li>
                    </ol>
                </nav>

                <div class="video-responsive">
                    <iframe src="https://www.youtube.com/embed/X6nJOwE3rPQ" title="¿Qué es mi tarjeta virtual Hey y cómo la uso?" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>