<section class="hey-hero-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1">
                <div class="vertical-center">
                    <h1>Almacén 42</h1>

                    <h3>ZOOM IN | Episodio 8</h3>
                </div>
            </div>

            <div class="col-lg-5 order-1 order-sm-1 order-md-1 order-lg-2">
                <div class="vertical-center">
                    <a href="https://www.youtube.com/watch?v=JcZoybgjjYY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>

                    <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-08.png'">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-stories">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3>Nuevas historias</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-3 col-lg-1 offset-lg-1">
                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoom-01.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=yq0Yk0emiMY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>
                </div>

                <h4 class="text-center">Tampiquito</h4>
            </div>

            <div class="col-3 col-lg-1">
                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-01.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=w1LIMhQXn0o" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>
                </div>

                <h4 class="text-center">Coco a Gogo</h4>
            </div>

            <div class="col-3 col-lg-1">
                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-06.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=wev2lDw1gXQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>
                </div>

                <h4 class="text-center">La Cueva</h4>
            </div>

            <div class="col-3 col-lg-1">
                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-05.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=LeYnk2rQ0xA" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>
                </div>

                <h4 class="text-center">Experts</h4>
            </div>
        </div>
    </div>
</section>

<section class="hey-video-card bg-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Hey paga la cuenta</h2>

                <p>Creamos nuestro Talk Show para crear conversaciones de forma divertida al rededor de nuestras finanzas personales durante acontecimientos cotidianos.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-5 offset-lg-1">
                <div class="card" target="_blank">
                    <a href="https://www.youtube.com/watch?v=tmYj6veb4LQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>

                    <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/heypaga-01.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="card-body">
                        <h3 class="card-title">Episodio 1: El amor y el dinero</h3>

                        <p class="card-text">Nos sentamos en la mesa y nos atrevimos a hablar de lo que todos conocen, pero pocos hablan… el dinero en una relación.</p>

                        <p class="card-time">18:52</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Zoom In</h2>

                <p>Dedicado a conectar con Emprendedores y Freelancers cambiando el rumbo de los negocios en México.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <div class="card h-100 bg-01">
                                        <a href="https://www.youtube.com/watch?v=JcZoybgjjYY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>

                                        <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-08.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                        <div class="card-body">
                                            <h3 class="card-title">Episodio 8: Almacén 42</h3>

                                            <p class="card-text">Hablamos de la vida y cerveza con beto quien nos comparte el reto que ha sido introducir su servicio a domicilio y el trabajo para hacerlo posible.</p>

                                            <p class="card-time">1:54</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card h-100 bg-01">
                                        <a href="https://www.youtube.com/watch?v=u4DSYq9TdJI" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>

                                        <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-07.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                        <div class="card-body">
                                            <h3 class="card-title">Episodio 7: TWOFEETUNDR</h3>

                                            <p class="card-text">Ricardo nos habla sobre la oferta única de su negocio y el gran beneficio que ha tenido al migrar su marca a plataformas digitales</p>

                                            <p class="card-time">2:03</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card h-100 bg-01">
                                        <a href="https://www.youtube.com/watch?v=wev2lDw1gXQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>

                                        <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-06.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                        <div class="card-body">
                                            <h3 class="card-title">Episodio 6: La Cueva</h3>

                                            <p class="card-text">Paul nos enseña cómo hacer de nuestra pasión un negocio que puede adaptarse a cualquier situación.</p>

                                            <p class="card-time">2:01</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <div class="card h-100 bg-01">
                                        <a href="https://www.youtube.com/watch?v=LeYnk2rQ0xA" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>

                                        <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-05.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                        <div class="card-body">
                                            <h3 class="card-title">Episodio 5: Experts</h3>

                                            <p class="card-text">Conoce la primera PyMe que además de ser consultora ambiental trabaja día a día por la inclusión y diversidad de la comunidad LGBT+</p>

                                            <p class="card-time">1:52</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card h-100 bg-01">
                                        <a href="https://www.youtube.com/watch?v=rQi4dfuu9CQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>

                                        <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-04.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                        <div class="card-body">
                                            <h3 class="card-title">Episodio 4: NL20</h3>

                                            <p class="card-text">Con el objetivo de mantener la industria del entretenimiento activa, Itzell, Neto y Gerry trabajan en una increible iniciativa musical la cual hoy nos comparten.</p>

                                            <p class="card-time">1:56</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="card bg-01">
                                <a href="https://www.youtube.com/watch?v=JcZoybgjjYY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>

                                <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-08.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                <div class="card-body">
                                    <h3 class="card-title">Episodio 8: Almacén 42</h3>

                                    <p class="card-text">Hablamos de la vida y cerveza con beto quien nos comparte el reto que ha sido introducir su servicio a domicilio y el trabajo para hacerlo posible.</p>

                                    <p class="card-time">1:54</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card bg-01">
                                <a href="https://www.youtube.com/watch?v=u4DSYq9TdJI" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>

                                <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-07.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                <div class="card-body">
                                    <h3 class="card-title">Episodio 7: TWOFEETUNDR</h3>

                                    <p class="card-text">Ricardo nos habla sobre la oferta única de su negocio y el gran beneficio que ha tenido al migrar su marca a plataformas digitales</p>

                                    <p class="card-time">2:03</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card bg-01">
                                <a href="https://www.youtube.com/watch?v=wev2lDw1gXQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>

                                <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-06.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                <div class="card-body">
                                    <h3 class="card-title">Episodio 6: La Cueva</h3>

                                    <p class="card-text">Paul nos enseña cómo hacer de nuestra pasión un negocio que puede adaptarse a cualquier situación.</p>

                                    <p class="card-time">2:01</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card bg-01">
                                <a href="https://www.youtube.com/watch?v=LeYnk2rQ0xA" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>

                                <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-05.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                <div class="card-body">
                                    <h3 class="card-title">Episodio 5: Experts</h3>

                                    <p class="card-text">Conoce la primera PyMe que además de ser consultora ambiental trabaja día a día por la inclusión y diversidad de la comunidad LGBT+</p>

                                    <p class="card-time">1:52</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card bg-01">
                                <a href="https://www.youtube.com/watch?v=rQi4dfuu9CQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>

                                <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoomin-04.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                                <div class="card-body">
                                    <h3 class="card-title">Episodio 4: NL20</h3>

                                    <p class="card-text">Con el objetivo de mantener la industria del entretenimiento activa, Itzell, Neto y Gerry trabajan en una increible iniciativa musical la cual hoy nos comparten.</p>

                                    <p class="card-time">1:56</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="1"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="3"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-video-card bg-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>ZOOM</h2>

                <p>Creamos nuestro Talk Show para crear conversaciones de forma divertida al rededor de nuestras finanzas personales durante acontecimientos cotidianos.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-5 offset-lg-1">
                <div class="card">
                    <a href="https://www.youtube.com/watch?v=yq0Yk0emiMY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" class="play-icon" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>

                    <img loading="lazy" [src]="environment.assetsUrl + 'img/empowerment/zoom-01.png'" class="card-img-top" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="card-body">
                        <h3 class="card-title">Episodio 1: Tampiquito</h3>

                        <p class="card-text">Nos dimos una vuelta por el icónico barrio “Tampiquito” para conocer de cerca la evolución y transformación de su comercio.</p>

                        <p class="card-time">26:40</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>