<section class="bgimage-videotutoriales">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Consulta nuestros videotutoriales</h1>
            </div>
        </div>

    </div>

</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>App Hey Banco</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-md-3 col-lg-4 offset-lg-0">
                                    <a href="https://www.youtube.com/watch?v=RRhbhQq_-XY&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/01-img.png'" alt="Conoce la nueva App de Hey Banco">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-md-3 offset-md-1 col-lg-4 offset-lg-0">
                                    <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Cómo activo mi tarjeta fisica hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-md-3 offset-md-1 col-lg-4 offset-lg-0">
                                    <a href="https://www.youtube.com/watch?v=_0NVF54imcw&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/03-img.png'" alt="¿Cómo hago una transferencia desde mi App Hey?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=6Kw78RIbDQk&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/04-img.png'" alt="¿Dónde encuentro la CLABE interbancaria de mi Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=SNzFv9QsRKY&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/05-img.png'" alt="¿Dónde encuentro mis estados de Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=ktw3Rft8jTw&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/06-img.png'" alt="¿Como rastreo el envío de mi Tarjeta Hey a domicilio?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=vBy6eJVe5Ic&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/07-img.png'" alt="¿Dónde reviso los movimientos de mis Cuentas Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=mwFIMHOZFkQ&t=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/08-img.png'" alt="¿Cómo solicito mi tarjeta fisica desde mi App Hey Banco?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <a href="https://www.youtube.com/watch?v=RRhbhQq_-XY&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/01-img.png'" alt="Conoce la nueva App de Hey Banco">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Cómo activo mi tarjeta fisica hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=_0NVF54imcw&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/03-img.png'" alt="¿Cómo hago una transferencia desde mi App Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=6Kw78RIbDQk&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/04-img.png'" alt="¿Dónde encuentro la CLABE interbancaria de mi Cuenta Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=SNzFv9QsRKY&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/05-img.png'" alt="¿Dónde encuentro mis estados de Cuenta Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=ktw3Rft8jTw&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/06-img.png'" alt="¿Como rastreo el envío de mi Tarjeta Hey a domicilio?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=vBy6eJVe5Ic&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/07-img.png'" alt="¿Dónde reviso los movimientos de mis Cuentas Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=mwFIMHOZFkQ&t=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/08-img.png'" alt="¿Cómo solicito mi tarjeta fisica desde mi App Hey Banco?">
                                <br>
                            </a>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="1"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="3"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Cuentas</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-cuentas" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=JaJuvPOTRXI&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/09-img.png'" alt="¿Como abrir una Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Cómo activo mi tarjeta fisica hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=OwlPcvEJaLE&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/10-img.png'" alt="¿Cómo verifico mi Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=vBy6eJVe5Ic&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/07-img.png'" alt="¿Dónde reviso los moviemientos de mis Cuentas Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=6Kw78RIbDQk&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/04-img.png'" alt="¿Dónde encuentro la CLABE interbancaria de mi Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=BBpxyiqpauo&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/16-img.png'" alt="¿Cómo abrir una cuenta Hey Menores?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=LeaU0AFgT4I&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/11-img.png'" alt="¿Qué es mi Tarjeta Virtual y cómo la uso?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=SNzFv9QsRKY&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/05-img.png'" alt="¿Dónde encuentro mis estados de Cuenta Hey?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-cuentas" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-cuentas" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-cuentas" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-cuentas" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-cuentas" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-cuentas" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=JaJuvPOTRXI&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/09-img.png'" alt="¿Como abrir una Cuenta Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Cómo activo mi tarjeta fisica hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=OwlPcvEJaLE&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/10-img.png'" alt="¿Cómo verifico mi Cuenta Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=vBy6eJVe5Ic&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/07-img.png'" alt="¿Dónde reviso los moviemientos de mis Cuentas Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=6Kw78RIbDQk&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/04-img.png'" alt="¿Dónde encuentro la CLABE interbancaria de mi Cuenta Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=BBpxyiqpauo&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/16-img.png'" alt="¿Cómo abrir una cuenta Hey Menores?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=LeaU0AFgT4I&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/11-img.png'" alt="¿Qué es mi Tarjeta Virtual y cómo la uso?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=SNzFv9QsRKY&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/05-img.png'" alt="¿Dónde encuentro mis estados de Cuenta Hey?">
                                <br>
                            </a>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-cuentas" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-cuentas" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-cuentas" data-slide-to="1"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-cuentas" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-cuentas" data-slide-to="3"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-cuentas" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-cuentas" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>TDC</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-tdc" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Como activo mi tarjeta fisica Hey?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=mwFIMHOZFkQ&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/08-img.png'" alt="¿Cómo solicito mi tarjeta fisica desde mi App Hey Banco?">
                                        <br>
                                    </a>
                                </div>

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=ktw3Rft8jTw&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/06-img.png'" alt="¿Cómo rastreo el envío de mi Tarjeta Hey a domicilio?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">

                                <div class="col-lg-4 ">
                                    <a href="https://www.youtube.com/watch?v=LeaU0AFgT4I&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/11-img.png'" alt="¿Qué es mi Tarjeta Virtual y cómo la uso?">
                                        <br>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-tdc" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-tdc" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-tdc" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-tdc" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-tdc" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-tdc" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=Dxp_Wr1cM4E&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/02-img.png'" alt="¿Como activo mi tarjeta fisica Hey?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=mwFIMHOZFkQ&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/08-img.png'" alt="¿Cómo solicito mi tarjeta fisica desde mi App Hey Banco?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=ktw3Rft8jTw&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/06-img.png'" alt="¿Cómo rastreo el envío de mi Tarjeta Hey a domicilio?">
                                <br>
                            </a>
                        </div>

                        <div class="carousel-item">
                            <a href="https://www.youtube.com/watch?v=LeaU0AFgT4I&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/11-img.png'" alt="¿Qué es mi Tarjeta Virtual y cómo la uso?">
                                <br>
                            </a>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-tdc" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-tdc" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-tdc" data-slide-to="1"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-tdc" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-tdc" data-slide-to="3"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-tdc" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-tdc" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Ahorro</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-ahorro" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=0dGWj-YseAE&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/12-img.png'" alt="¿Qué es y cómo funciona Ahorro Hey?">
                                        <br>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-ahorro" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-ahorro" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-ahorro" data-slide-to="2"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-ahorro" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-ahorro" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=0dGWj-YseAE&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/12-img.png'" alt="¿Qué es y cómo funciona Ahorro Hey?">
                                <br>
                            </a>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-ahorro" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-ahorro" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-ahorro" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-ahorro" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Seguros</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-seguros" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=JZTCdtcV3Y0&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/13-img.png'" alt="¿Qué es protección Hey y cómo la activo?">
                                        <br>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-seguros" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-seguros" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-seguros" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-seguros" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-seguros" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-seguros" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=JZTCdtcV3Y0&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/13-img.png'" alt="¿Qué es protección Hey y cómo la activo?">
                                <br>
                            </a>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-seguros" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-seguros" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-seguros" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-seguros" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Inversion</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-inversion" class="carousel slide d-none d-xs-none d-sm-none d-md-block d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=zmJT3GwFIb4&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/14-img.png'" alt="¿Qué es y como funciona la inversion Hey?">
                                        <br>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-inversion" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-inversion" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-inversion" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-inversion" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-inversion" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-inversion" class="carousel slide d-block d-xs-block d-sm-block d-md-none d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=zmJT3GwFIb4&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/14-img.png'" alt="¿Qué es y como funciona la inversion Hey?">
                                <br>
                            </a>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-inversion" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-inversion" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-inversion" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-inversion" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>BancaWeb</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin-banca-web" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <a href="https://www.youtube.com/watch?v=pG3NY_sy4I0&=1s&ab_channel=HeyBanco" target="_blank">
                                        <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/15-img.png'" alt="Conoce la nueva Banca Web">
                                        <br>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin-banca-web" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin-banca-web" data-slide-to="1" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin-banca-web" data-slide-to="2"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin-banca-web" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin-banca-web" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://www.youtube.com/watch?v=pG3NY_sy4I0&=1s&ab_channel=HeyBanco" target="_blank">
                                <img loading="lazy" class="videos" [src]="environment.assetsUrl + 'img/videos/15-img.png'" alt="Conoce la nueva Banca Web">
                                <br>
                            </a>
                        </div>

                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin-banca-web" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin-banca-web" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin-banca-web" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin-banca-web" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>