<section class="hey-hero-image hey-creditos-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="vertical-center">
                    <h1>Crédito de Auto Hey</h1>

                    <p>Tu nueva opción en crédito automotriz:<br> Más eficiente y ágil, con respuesta inmediata.</p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-6 offset-lg-0 text-center">
                <img loading="lazy" class="responsive-auto" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-3-credito-auto.png'" alt="Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-1-ic-check-verde.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <h3>Proceso de solicitud digital</h3>

                        <p>Más eficiente, disponible 24/7 desde tu celular.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-1-ic-check-verde.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <h3>Respuesta inmediata</h3>

                        <p>A la solicitud de crédito.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-1-ic-check-verde.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <h3>Opciones de mancomunar ingresos</h3>

                        <p>Con familiares directos.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-1-ic-check-verde.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <h3>Financiamiento de todo tipo</h3>

                        <p>De automóviles, motocicletas y pick-ups.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-credito-auto bg-green">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10  text-center">
                <h2> Registra tu interés por <br>Crédito de Auto Hey</h2> <br>
                <a class="btn btn-primary" role="button" href="https://cloud.hola.banregio.com/estrena-auto" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Registrate aquí</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-creditos bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-4 offset-md-1 order-2 order-md-1 col-lg-5">
                <img loading="lazy" class="responsive-auto-fijo" [src]="environment.assetsUrl + 'img/P261-Credito-Auto/P261-4-credito-auto.png'" alt="Tu banco digital, Crédito de auto hey">
            </div>

            <div class="col-12 col-md-6 offset-md-1 col-lg-5 offset-lg-0 order-1 order-md-2 order-lg-2">
                <h1>Obtén un crédito a tu medida</h1>
                <p>Crea un plan de financiamiento para adquirir tu auto con el precio que buscas.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Plazos desde 12 y hasta 60 meses.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Enganche desde <strong>10%</strong> del valor del vehículo.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Tasa de interés desde <strong>11.50%</strong> a <strong>13.25%</strong>* aplican restricciones*.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Crédito desde $10 mil y hasta los $10 millones de pesos.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Sin penalización por abonos a capital o pagos anticipados.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Incluye seguro de vida, daños y desempleo.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>
                <p>Diseñado para personas físicas con empleo formal, informal o actividad empresarial que cumplan con estos requisitos:</p>
                <br>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Edad de 18 a 69 años y 11 meses.</p>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Antigüedad laboral mínima de 1 año.</p>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Ingresos mensuales brutos de $10,000 pesos.</p>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Crédito de auto hey">

                    <div class="media-body">
                        <p>Nacionalidad: Mexicanos y extranjeros con FM2.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <b class="title">Ley de Transparencia</b><br><br>
                            <b>MODALIDAD Y REQUISITOS DE CONTRATACIÓN</b><br> Elige el vehículo de la marca que prefieras. Ya autorizado tu crédito, gestionaremos la factura con la agencia y se realizará la firma del contrato. Posteriormente haremos el
                            pago a la distribuidora y estarás estrenando tu auto. El Crédito Automotriz está disponible en aquellas plazas con presencia de Banco Regional, S.A. Institución de Banca Múltiple, Banregio Grupo Financiero.<br><br>

                            <b>RECOMENDACIONES SOBRE RIESGO</b><br> Contratar créditos en exceso a tu capacidad de pago puede afectar tu patrimonio y tu historial crediticio. El pago oportuno que realices de tus créditos en las fechas pactadas con el
                            Banco te permitirá mantener un historial crediticio satisfactorio. En caso de que la fecha límite de tu pago corresponda a un día inhábil bancario, podrás realizar dicho pago al siguiente día hábil. Incumplir te puede generar
                            comisiones e intereses moratorios. El avalista, obligado solidario o coacreditado responderá como obligado principal por el total del pago frente a la Institución Financiera.<br><br>

                            <b>RECOMENDACIONES DE USO</b><br> Realiza varias cotizaciones antes de elegir el financiamiento que se adecue a tus necesidades. Considera el costo de los servicios y mantenimientos porque pueden representar gran diferencia.
                            El Financiamiento se otorga con Seguros, por lo que debes tomar en cuenta la suma correspondiente. La contratación de los productos o servicios ADICIONALES O LIGADOS A LOS PRODUCTOS Y SERVICIOS aquí ofertados podrá ser realizada
                            por el Cliente a través de la entidad que estime conveniente, toda vez que es su derecho innegable contratar LOS REFERIDOS productos o servicios ADICIONALES a través de un tercero independiente. Consulta los medios de pago
                            aquí.
                            <br><br> CAT PROMEDIO <b class="num">25.6% </b> Sin IVA. Vigencia de la oferta de CAT 02 de Junio de 2022. Cálculo realizado el 02 de Diciembre de 2021.<br> La unidad a financiar implica la contratación de un seguro, el cual
                            varía dependiendo de la unidad cotizada, por lo tanto, para conocer el costo del mismo lo invitamos a contactar a uno de nuestros asesores especializados al teléfono:<b>(81) 8152 0800 Opción 1</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-faq-cuenta.png'">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card" style="background-color: white;">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Cómo se realiza el trámite? ¿es de manera digital o presencial?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                El proceso será de manera digital, cuando se realicen las firmas de tu contrato un asesor hey acudirá a tu domicilio o el lugar que indiques para poder realizar el trámite.
                            </div>
                        </div>
                    </div>

                    <div class="card" style="background-color: white;">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿En cuanto tiempo dan respuesta de análisis?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Se da respuesta del decreto de manera casi inmediata.
                            </div>
                        </div>
                    </div>

                    <div class="card" style="background-color: white;">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿A quién se puede invitar como coacreditado?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Familiares directos: cónyuge, padre, madre, hijos (as) y hermanos (as).
                            </div>
                        </div>
                    </div>

                    <div class="card" style="background-color: white;">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    ¿Dónde puedo consultar el saldo de mi crédito de auto?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Desde la app en el apartado de Crédito de Auto Hey.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>