<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <div class="vertical-center">
                    <h1>Tu Seguro de Auto Hey</h1>

                    <p>Con tu seguro de Auto Hey nunca tienes pérdidas. Obtén tu cobertura Smart y recibe $1,000 pesos en tu renovación por no tener siniestros.</p>

                    <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotizar y contratar</a>
                    <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotizar y contratar</a>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center order-1 order-sm-1 order-md-2 order-lg-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/hero-image/hero-image-seguro-auto-persona.png'">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>¡Vas por buen camino!</h2>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-1">
                <h3>Contratación Online</h3>

                <p>Elige, cotiza y contrata de forma 100% digital. Sin necesidad de salir de casa. </p>

                <h3>Cuidarte te premia</h3>

                <p>Te recompensamos con $1,000 pesos si durante la vigencia de tu póliza no sufres accidentes y decides renovar con <a style="text-decoration:underline;">nosotros*</a></p>

                <h3>¡Tú eliges cómo pagar!</h3>

                <p>Te ofrecemos hacer el pago de tu póliza a 3 y 6 Meses Sin Intereses en cualquier paquete.</p>

                <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contratar</a>
                <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contratar</a>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-seguro-auto.png'" alt="Seguro de auto">
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits no-color bg-02">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>La responsabilidad vial es de todos</h2>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <h3>50% menos</h3>

                                <p>Es el estimado mundial que se ha fijado para la iniciativa a reducir accidentes viales hacia el 2030. México se ha unido a este plan.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <h3>$4,100 pesos</h3>

                                <p>Es la cifra que puedes evitar pagar a gobierno si cuentas con un seguro vigente.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <h3>28%</h3>

                                <p>De los accidentes ocurren por rebasar los límites de velocidad establecidos. ¡Ayúdanos a bajar esa cifra!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-green">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Sin papel, sin filas, ni letras chiquitas</h2>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Compara nuestros seguros</h2>

                <p>¡Elige tu nuevo plan!</p>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th></th>

                                <th><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/star-icon.svg'">Smart</th>

                                <th>Limitada</th>

                                <th>Básica</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Recompensa de $1,000.00<img loading="lazy" matTooltip="Recibe $1,000 pesos por no tener siniestros al renovar tu póliza. " [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/clear-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/clear-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Daños materiales<img loading="lazy" matTooltip="Si chocaste, sufriste incendio, inundación o terremoto. Pagas el 5% del valor de tu auto, si eres el responsable." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/clear-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/clear-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Robo total<img loading="lazy" matTooltip="Pagamos el valor de tu auto, solo debes presentar la denuncia y algunos documentos del auto. Deducible del 10%." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/clear-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Gastos médicos ocupantes<img loading="lazy" matTooltip="¡Tu salud es primero! Cubrimos desde un collarín hasta una posible cirugía sin deducible." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Responsabilidad civil<img loading="lazy" matTooltip="Cubrimos los daños ocasionados a terceros (médicos o a propiedad) por el uso de tu auto. ¡Sin deducible!" [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Gastos legales<img loading="lazy" matTooltip="Cobertura en gastos que se generen de la defensa del conductor ante autoridades." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Asistencia vial ilimitada<img loading="lazy" matTooltip="Servicio de ambulancia, cambio de llanta, paso de corriente, además de 2 servicios de gasolina." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>
                            </tr>

                            <tr>
                                <td>Responsabilidad civil en EUA y Canadá<img loading="lazy" matTooltip="Cubrimos los daños a terceros y tus gastos médicos cuando viajes al extranjero." [src]="environment.assetsUrl + 'img/icons/info-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>

                                <td><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/check-icon.svg'"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotizar y contratar</a>
                <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotizar y contratar</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits bg-02">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <h2>Obtener tu seguro ¡Es sencillo!</h2>

                    <div class="row">
                        <div class="col-12 col-md-7 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>Cotiza</h3>

                                    <p>Conoce los beneficios y precios de cada plan.</p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>Elige</h3>

                                    <p>Selecciona el plan que se acomode a tus necesidades.</p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-7 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>Contrata</h3>

                                    <p>Con el mismo usuario de tu app Hey Banco sin necesidad de más trámites selecciona “Contratar”.</p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotiza mi seguro</a>
                    <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/cotizador/info-vehiculo" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotiza mi seguro</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos" id="recompensa">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Recompensa de $1,000.00 pesos al no tener accidentes y renovar tu seguro con Hey*</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Servicio legal y de asistencia vial ilimitados durante la vigencia de la póliza</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Paga tu seguro con cargo automático a tu cuenta Hey o tu tarjeta de crédito (excepto American Express)</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Opciones de pago: mensual, trimestral, semestral, anual y meses sin intereses</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Seguro para auto y pick ups de hasta 3.5 toneladas de uso particular (no se aseguran fronterizos, ni legalizados, ni uso comercial)</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Contratación en pesos</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Vigencia anual y renovación automática</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>El costo varía de acuerdo con el vehículo y código postal de residencia</p>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Ser mexicano de nacimiento</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Ser mayor de edad</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Contar con licencia de manejo vigente</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Factura de unidad o tarjeta de circulación vigente</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <p>El seguro de auto es ofrecido, operado y contratado por el Cliente exclusivamente con Quálitas Compañía de Seguros, S.A. de C.V. (Quálitas). *Beneficio exclusivo para seguros que incluyan cobertura de daños materiales. El pago correspondiente
                    a la renovación del seguro deberá realizarse con Tarjetas de Crédito y/o Débito Hey. El análisis de siniestralidad del Cliente no deberá presentar evento alguno, o bien en caso de que se presente siniestralidad, la responsabilidad
                    derivada de la misma no deberá estar a cargo del Cliente (de acuerdo al reporte emitido por Quálitas). En caso de que el Cliente cumpla con los requisitos indicados, el monto de la recompensa será depositado a la cuenta Hey que previamente
                    ha contratado el Cliente, en un plazo no mayor a 30 (treinta) días posteriores a la fecha de inicio de su renovación correspondiente. La recompensa aplicable será por la cantidad de $1,000.00 (mil pesos 00/100 M.N.), la cual estará
                    en todo momento sujeta a cambios sin previo aviso. En caso de dudas relativas a los beneficios descritos, escríbenos a contacto@heybanco.com. Los beneficios aquí descritos estarán vigentes del 18 de agosto 2020 al 31 de diciembre de
                    2020. Consulta las condiciones generales en aquí.
                    <br>
                    <br> Consulta las condiciones generales en <a href="https://www.qualitas.com.mx/web/qmx/condiciones-generales" target="_blank">aquí</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider bg-02">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Productos Hey para tu negocio</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-heypaygo.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Hey Pay Go</h3>

                                            <p>Conoce la terminal móvil que va con tu negocio.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/heypay/go']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-celular.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Celular</h3>

                                            <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                            <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=marketing&utm_source=email%20service&utm_campaign=lanzamiento%20mobile" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-drsam.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                            <p>Cuida tu salud con nuestros planes.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-drsam-negocio']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito-negocio.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Recíbela directo a tu domicilio, sin complicaciones ni costo alguno.</p>

                                            <a class="btn btn-link disabled" role="button" disabled>Próximamente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-heypaygo.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Hey Pay Go</h3>

                                    <p>Conoce la terminal móvil que va con tu negocio.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/heypay/go']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-celular.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Seguro de Celular</h3>

                                    <p>Recíbela directo a tu domicilio, sin complicaciones ni costo alguno.</p>

                                    <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=marketing&utm_source=email%20service&utm_campaign=lanzamiento%20mobile" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-drsam.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                    <p>Cuida tu salud con nuestros planes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-drsam-negocio']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito-negocio.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Tarjeta de Crédito</h3>

                                    <p>Recíbela directo a tu domicilio, sin complicaciones ni costo alguno.</p>

                                    <a class="btn btn-link disabled" disabled role="button">Próximamente</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>