<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>Fondo de Inversión HeyG</h1>

                    <p>Diversifica tus inversiones y dales un alcance global.</p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/hero-image/hero-image-fondo-hey.gif'" alt="Tu banco digital, Tu banco 100% digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/fondo-01.png'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <h3>Contratación asistida</h3>

                        <p>Accede a una inversión con horizonte a largo plazo con solamente $1,000.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/fondo-03.png'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <h3>Liquida en 48 horas</h3>

                        <p>Recibe tu dinero en tu Cuenta Hey dentro de 48 horas de liquidar tu inversión.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/fondo-02.png'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <h3>Exposición Global</h3>

                        <p>Invierte en las empresas más sólidas de las economías más avanzadas del mundo.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/fondo-04.png'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <h3>Ejecución diaria</h3>

                        <p>Invierte y liquida según quieras sin plazos forzados ni comisión por compra-venta.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <h2>
                    Invierte desde<br> $1,000 pesos
                </h2>

                <p>El Fondo HeyG invierte en las empresas más sólidas de las economías más avanzadas del mundo, incluyendo a las 500 empresas más grandes de EEUU, más empresas de otros sectores y países que pensamos serán más dinámicas que el promedio del
                    mercado.
                </p>

                <a class="btn btn-primary" role="button" href="https://heybanco.onelink.me/lpd1/HeaderNuevoPortal" target="_blank">Descargar app</a>
            </div>

            <div class="col-10 offset-1 col-md-5 offset-md-0  col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-fondo-01.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-md-5 offset-md-1 col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-fondo-02.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>

            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-1">
                <h2>Diversifica tus inversiones</h2>

                <p>El Fondo HeyG te libera de complicaciones y te permite participar en los mercados más desarrollados a través de los índices más importantes a nivel global, con un portafolio diseñado por especialistas.</p>

                <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/ficha-tecnica-fondos-inversion.pdf" target="_blank">Ficha técnica</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">
                <h2>Sin comisión de compra y venta</h2>

                <p>Realiza todas tus operaciones sin comisiones.</p>
                <span class="txtsmall">*Comisión anual por gestión 2%</span>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Horario 9:00 am a 13:30 horas.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Solicitud todos los días hábiles.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Ejecución mismo día de la operación - Al cierre.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Liquidación 48 hrs., 2 días hábiles.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Monto mínimo apertura Hey $1,000.00 mxn.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Sin cobro de comisión por compra/venta.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Comisión anual por gestión de 2%.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="row">
                    <div class="col-12">
                        <div class="media">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                            <div class="media-body">
                                <p>Tener una Cuenta Hey activa y <span matTooltip="Al verificar tu cuenta actualizamos tu expediente para ofrecerte más y mejores servicios.">verificada.<img loading="lazy" [src]="environment.assetsUrl + 'img/money-coach/ic_input_tooltip.png'"></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                <p>Conoce más información de los Fondos de Inversión</p>

                <ul>
                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/guia-servicios-fondos-inversion.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Guía de Servicios</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/cartera-gbmheyg.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Carteras</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/cartera-mensual-gbmheyg.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Cartera Mensual</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/prospectos-heyg.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Prospectos</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/dic-heyg.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">DICI</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/rendimiento-hey.pdf'" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Rendimientos</a>
                    </li>

                    <li>
                        <a href="https://heybanco.s3.amazonaws.com/assets/fondos/avisos-relevantes.pdf" target="_blank"><img loading="lazy" [src]="environment.assetsUrl + 'img/icons/download.svg'">Avisos relevantes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq bg-02">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-faq-cuenta.png'">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-white">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Qué es un fondo de inversión?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Los Fondos de Inversión son Sociedades Anónimas de Capital Variable, reguladas por la Ley de Fondos de Inversión y autorizadas por la Comisión Nacional Bancaria y de Valores (CNBV) para recibir recursos del público inversionista e invertirlos en una diversidad
                                de valores con el objetivo de ofrecer a los inversionistas la oportunidad de participar en el Mercado de Valores, diversificando su capital.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Cómo funcionan los fondos de inversión?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Los Fondos de inversión son entidades que funcionan como vehículos de inversión en los que una gran cantidad de personas aportan su dinero con el objetivo de obtener rendimientos de la cartera de valores que se conforma con esos recursos y cuyo valor
                                forma parte del capital social del fondo de inversión, representado por acciones o partes sociales. Por lo tanto, las personas que invierten en fondos, adquieren acciones representativas del patrimonio del fondo de inversión
                                y en consecuencia, una parte proporcional de la cartera o portafolio de valores.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cuáles son los objetivos de los fondos de inversión?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Los fondos de inversión tienen múltiples objetivos:
                                <ol>
                                    <li>Dan acceso a los pequeños y medianos inversionistas al mercado de valores.</li>
                                    <li>Ofrecen una amplia gama de opciones de inversión para los inversionistas.</li>
                                    <li>Fortalecen el mercado de valores al facilitar la participación de más personas en el mismo.</li>
                                    <li>Canalizan los recursos de los inversionistas para participar en el financiamiento del sector productivo del país.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    ¿Qué ventajas tiene invertir en un fondo de inversión?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Invertir en un fondo de inversión ofrece múltiples ventajas:
                                <ol>
                                    <li>Es administrado por un profesional que cuida los recursos de cada uno de los inversionistas.</li>
                                    <li>Ayuda al inversionista a diversificar de manera sencilla, ya que al invertir en un Fondo, todos los recursos son invertidos en diferentes instrumentos y a distintos plazos.</li>
                                    <li>Generalmente ofrece mayores rendimientos que una cuenta de ahorro, ya que reúne capital de muchos inversionistas, obteniendo así acceso a instrumentos con mayores beneficios en cuanto a tasas y plazos.</li>
                                    <li>Generalmente ofrece rápido acceso al capital de la inversión; la liquidez depende de las características de cada uno de los fondos.</li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    ¿Qué es un Fondo de Inversión de Renta Variable?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Son aquellos fondos de inversión en los cuales la rentabilidad de la inversión depende directamente del desempeño de los mercados bursátiles. Se tratan en su mayor parte de acciones que emiten las empresas o ETFs y que los fondos de inversión compran
                                a la espera de que se obtengan resultados favorables.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    ¿Qué es un ETF?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                ETF es una abreviación de exchange-traded fund, o fondo de inversión cotizado, en español. Un ETF es un fondo de inversión cuya principal característica es que se negocia en mercados secundarios de valores.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingSeven">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Una vez contratado el fondo de inversión lo veré disponible en el app?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                No, la contratación del Fondo de Inversión HeyG te permite la compra-venta de títulos en el mismo. Una vez que realices una compra, se desplegará un pagaré temporal por compra de títulos del fondo de inversión, hasta que la compra sea finalizada.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingEight">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    ¿Por qué se genera un pagaré durante la compra de fondos de inversión?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                            <div class="card-body">
                                El pagaré que se genera es temporal, ya que la orden de compra para la inversión puede tardar hasta 48 horas en ejecutarse.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingNine">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    ¿Qué pasa si ya no visualizo mi pagaré temporal?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                            <div class="card-body">
                                El pagaré temporal desaparece cuando la compra es finalizada y los títulos del fondo de inversión contratados se integran al resumen de tu portafolio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-cta-app></hey-cta-app>

<section class="hey-slider bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Conoce más productos</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-23-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-25-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Cuenta de Ahorro</h3>

                                            <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/personas/ahorro-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-27-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Inversiones</h3>

                                            <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/personas/inversion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-29-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Auto</h3>

                                            <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-31-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Celular</h3>

                                            <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                            <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-33-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                            <p>Cuida tu salud con nuestros planes.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/personas/seguros/apoyo-hospitalario']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-35-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?">
                                        </div>


                                        <div class="col-7">
                                            <h3>Crédito de auto</h3>

                                            <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                            <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-23-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-25-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Cuenta de Ahorro</h3>

                                    <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/personas/ahorro-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-27-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Inversiones</h3>

                                    <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/personas/inversion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-29-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Auto</h3>

                                    <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-31-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Celular</h3>

                                    <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                    <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-33-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                    <p>Cuida tu salud con nuestros planes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/personas/seguros/apoyo-hospitalario']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-35-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Crédito de auto</h3>

                                    <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                    <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="4"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="5"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="6"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>