<section class="hey-hero-image">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-1 col-lg-6 offset-lg-1 order-2 order-sm-1 order-md-1 order-lg-1">
                <div class="vertical-center">
                    <h1>Finanzas claras, dinero sano</h1>

                    <p>Trabajamos por un México con finanzas transparentes, pues creemos que un país donde la gente sabe cómo administrar su dinero, es un país feliz y prospero.</p>

                    <a class="btn btn-primary" role="button" [routerLink]="['/empowerment/stories']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce todas las historias</a>
                </div>
            </div>

            <div class="col-sm-4 col-lg-4 order-1 order-sm-2 order-md-2 order-lg-2">
                <div class="vertical-center">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/hero-image/hero-image-empowerment.png'">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 offset-lg-1">
                <h2>Somos parte de tu despertar financiero</h2>

                <p>Apoyamos a todas las comunidades que buscan una libertad financiera sin ataduras y sin presiones.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Hey paga la cuenta</h2>

                <p>Creamos nuestro Talk Show para crear conversaciones de forma divertida alrededor de nuestras finanzas personales durante acontecimientos cotidianos.</p>

                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/heypaga-01.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=tmYj6veb4LQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>

                    <div class="row">
                        <div class="col-10 offset-1 col-lg-7 offset-lg-1">
                            <div class="thumb-text">
                                <h3 class="text-white">Episodio 1: El amor y el dinero</h3>

                                <p class="text-white">Nos sentamos en la mesa y nos atrevimos a hablar de lo que todos conocen, pero pocos hablan... el dinero en una relación. </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary" role="button" [routerLink]="['/empowerment/stories']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce todas las historias</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider bg-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Zoom In</h2>

                <p>Dedicado a conectar con los Emprendedores y Freelancers que están cambiando el rumbo de los negocios en México.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-9 col-lg-11 offset-lg-1">
                <div id="multi-item-desktop-01" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-08.png)no-repeat center;background-size:cover;">
                                        <a href="https://www.youtube.com/watch?v=JcZoybgjjYY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>
                                    </div>

                                    <h3>Episodio 8: Almacén 42</h3>

                                    <p>Hablamos de la vida y cerveza con beto quien nos comparte el reto que ha sido introducir su servicio a domicilio y el trabajo para hacerlo posible.</p>
                                </div>

                                <div class="col-lg-4">
                                    <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/img/empowerment/zoomin-07.png)no-repeat center;background-size:cover;">
                                        <a href="https://www.youtube.com/watch?v=u4DSYq9TdJI" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>
                                    </div>

                                    <h3>Episodio 7: TWOFEETUNDR</h3>

                                    <p>Ricardo nos habla sobre la oferta única de su negocio y el gran beneficio que ha tenido al migrar su marca a plataformas digitales.</p>
                                </div>

                                <div class="col-lg-4">
                                    <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-06.png)no-repeat center;background-size:cover;">
                                        <a href="https://www.youtube.com/watch?v=wev2lDw1gXQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>
                                    </div>

                                    <h3>Episodio 6: La Cueva</h3>

                                    <p>Paul nos enseña cómo hacer de nuestra pasión un negocio que puede adaptarse a cualquier situación.</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/img/empowerment/zoomin-05.png)no-repeat center;background-size:cover;">
                                        <a href="https://www.youtube.com/watch?v=LeYnk2rQ0xA" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>
                                    </div>

                                    <h3>Episodio 5: Experts</h3>

                                    <p>Conoce la primera PyMe que además de ser consultora ambiental trabaja día a día por la inclusión y diversidad de la comunidad LGBT+</p>
                                </div>

                                <div class="col-lg-4">
                                    <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-04.png)no-repeat center;background-size:cover;">
                                        <a href="https://www.youtube.com/watch?v=rQi4dfuu9CQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                        </a>
                                    </div>

                                    <h3>Episodio 4: NL20</h3>

                                    <p>Con el objetivo de mantener la industria del entretenimiento activa, Itzell, Neto y Gerry trabajan en una increible iniciativa musical la cual hoy nos comparten.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multi-item-desktop-01" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multi-item-desktop-01" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multi-item-desktop-01" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multi-item-desktop-01" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multi-item-mobile-01" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-08.png)no-repeat center;background-size:cover;">
                                <a href="https://www.youtube.com/watch?v=JcZoybgjjYY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>
                            </div>

                            <h3>Episodio 8: Almacén 42</h3>

                            <p>Hablamos de la vida y cerveza con beto quien nos comparte el reto que ha sido introducir su servicio a domicilio y el trabajo para hacerlo posible.</p>
                        </div>

                        <div class="carousel-item">
                            <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-07.png)no-repeat center;background-size:cover;">
                                <a href="https://www.youtube.com/watch?v=u4DSYq9TdJI" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>
                            </div>

                            <h3>Episodio 7: TWOFEETUNDR</h3>

                            <p>Ricardo nos habla sobre la oferta única de su negocio y el gran beneficio que ha tenido al migrar su marca a plataformas digitales.</p>
                        </div>

                        <div class="carousel-item">
                            <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-06.png)no-repeat center;background-size:cover;">
                                <a href="https://www.youtube.com/watch?v=wev2lDw1gXQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>
                            </div>

                            <h3>Episodio 6: La Cueva</h3>

                            <p>Paul nos enseña cómo hacer de nuestra pasión un negocio que puede adaptarse a cualquier situación.</p>
                        </div>

                        <div class="carousel-item">
                            <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-05.png)no-repeat center;background-size:cover;">
                                <a href="https://www.youtube.com/watch?v=LeYnk2rQ0xA" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>
                            </div>

                            <h3>Episodio 5: Experts</h3>

                            <p>Conoce la primera PyMe que además de ser consultora ambiental trabaja día a día por la inclusión y diversidad de la comunidad LGBT+</p>
                        </div>

                        <div class="carousel-item">
                            <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoomin-04.png)no-repeat center;background-size:cover;">
                                <a href="https://www.youtube.com/watch?v=rQi4dfuu9CQ" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                                </a>
                            </div>

                            <h3>Episodio 4: NL20</h3>

                            <p>Con el objetivo de mantener la industria del entretenimiento activa, Itzell, Neto y Gerry trabajan en una increible iniciativa musical la cual hoy nos comparten.</p>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multi-item-mobile-01" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multi-item-mobile-01" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multi-item-mobile-01" data-slide-to="1"><span></span></li>
                        <li data-target="#multi-item-mobile-01" data-slide-to="2"><span></span></li>
                        <li data-target="#multi-item-mobile-01" data-slide-to="3"><span></span></li>
                        <li data-target="#multi-item-mobile-01" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multi-item-mobile-01" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <a class="btn btn-primary" role="button" [routerLink]="['/empowerment/stories']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce todas las historias</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-orange">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 offset-lg-1">
                <h2>Apoyamos a los negocios que quieren crecer</h2>

                <p>Creemos que los pequeños y medianos negocios son la base de la economía de nuestro país y nosotros estamos para apoyarlos a crecer.</p>

            </div>
        </div>
    </div>
</section>

<section class="hey-video">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>ZOOM</h2>

                <p>Conectamos con los barrios comerciales más importantes dentro de México, con el objetivo de conocer los retos y beneficios que se han presentado en su despertar financiero.</p>

                <div class="thumb" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/empowerment/zoom-01.png)no-repeat center;background-size:cover;">
                    <a href="https://www.youtube.com/watch?v=yq0Yk0emiMY" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/play-icon-white.png'">
                    </a>

                    <div class="row">
                        <div class="col-10 offset-1 col-lg-7 offset-lg-1">
                            <div class="thumb-text">
                                <h3 class="text-white">Episodio 1: Tampiquito</h3>

                                <p class="text-white">Nos dimos una vuelta por el icónico barrio “Tampiquito” para conocer de cerca la evolución y transformación de su comercio.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary" role="button" [routerLink]="['/empowerment/stories']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce todas las historias</a>
            </div>
        </div>
    </div>
</section>