<!-- desktop y tablet -->
<footer class="bg-02">
    <section class="d-none d-sm-none d-md-block d-lg-block">
        <div class="container">
            <div class="row justify-content-center">

                <img class="logo-gray" [src]="environment.assetsUrl + 'img/hey-banco-logo-gris.svg'" alt="Logo gris Hey Banco" loading="lazy" width="110.89" height="24">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-lg-3 col-1"></div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.facebook.com/heybanco/" target="_blank">

                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-fb-gris.svg'" class="img-fluid-padding" width="16" height="31" loading="lazy" alt="Logo gris Facebook"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.instagram.com/heybanco/" target="_blank">

                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-instagram.svg'" class="img-fluid-padding" width="30" height="31" loading="lazy" alt="Logo gris Instagram"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://twitter.com/heybanco" target="_blank">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-twitter.svg'" class="img-fluid-padding" width="37" height="31" loading="lazy" alt="Logo gris Twitter"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.youtube.com/channel/UC3CjAU3jkO-_IjomoTUTyfQ" target="_blank">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-you-tube.svg'" class="img-fluid-padding" width="36" height="26" loading="lazy" alt="Logo gris Youtube"></a><br><br>
                </div>
                <div class="col-lg-3 col-1"></div>
            </div>
        </div>
    </section>

    <section class="d-none d-sm-none d-md-block d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-3 legales">
                    <p>Compañía</p>
                    <a routerLink="/nosotros">
                        Sobre nosotros</a><br>
                    <a routerLink="/careers">
                        Carreras</a><br>
                    <a routerLink="/corresponsales">
                        Corresponsales</a><br>
                    <a href="https://www.regional.mx/" target="_blank">
                        Invierte en la marca Hey</a><br>
                </div>
                <div class="col-lg-4 col-md-2 legales">
                    <p>Servicio al cliente</p>
                    <a routerLink="/reportes/reporte-fallas-app">
                        Reporte de fallas en tu App</a><br>
                    <a routerLink="/reportes/asesoria-producto">
                        Asesoría de producto</a><br>
                    <a routerLink="/reportes/sugerencias-mejora">
                        Sugerencias de mejora</a><br>
                    <a href="https://www.banregio.com/oficinas.php" target="_blank">
                        Cajeros automáticos</a><br>
                    <a routerLink="/centro-ayuda">
                        Centro de ayuda</a><br>
                </div>
                <div class="col-lg-4 col-md-3 legales">
                    <p>Descarga nuestra App</p>
                    <a href="https://apps.apple.com/mx/app/hey-banco/id1335704361?l=en&utm_source=link&utm_medium=link&utm_campaign=appstore_heybanco" target="_blank">
                        App Store</a><br>
                    <a href="https://play.google.com/store/apps/details?id=com.banregio.hey&utm_source=link&utm_medium=link&utm_campaign=playstore_heybanco" target="_blank">
                        Google Play</a><br>
                    <a href="https://appgallery.huawei.com/app/C101029663?utm_source=link&utm_medium=link&utm_campaign=appgallery_heybanco" target="_blank">
                        App Gallery</a><br>
                    <a href="https://www.gob.mx/ipab" target="_blank">
                        <img class="ipab" [src]="environment.assetsUrl + 'img/ic-ipab.png'" width="70" height="42.47" loading="lazy" alt="Logo gris IPAB"><br>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <br><br>
    <section class="section2 d-none d-sm-none d-md-block d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2 legales">
                    <a [routerLink]="['/servicios-legales']" target="_self">
                        Servicios legales</a><br>
                </div>
                <div class="col-2 legales">
                    <a [routerLink]="['/terminos-condiciones']" target="_self">
                        Términos y condiciones</a><br>
                </div>
                <div class="col-2 legales">
                    <a [routerLink]="['/folletos-informativos']" target="_self">
                        Folletos informativos</a><br>
                </div>

                <div class="col-2 legales">
                    <a [routerLink]="['/contratos-productos']" target="_self">
                        Contratos de Productos</a><br>
                </div>

                <div class="col-3 legales">
                    <a class="espacio" href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank">
                        Consulta los Costos y las Comisiones de nuestros productos</a><br>
                </div>


            </div>
        </div>
    </section>

    <section class="d-none d-sm-none d-md-block d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <p class="copy">
                        “Hey, Banco” es una marca registrada propiedad de Banco Regional S.A. Institución de Banca Múltiple Banregio Grupo Financiero © 2022 Hey, Inc. </p>
                </div>
            </div>
        </div>

    </section>

    <!-- mobile -->

    <section class="d-block d-sm-block d-md-none d-lg-none">
        <div class="container">
            <div class="row justify-content-center">
                <img class="logo-gray" [src]="environment.assetsUrl + 'img/hey-banco-logo-gris.svg'" width="110.89" height="24" loading="lazy" alt="Logo gris Hey Banco">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center text-center">
                <div class="col-lg-3 col-1"></div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.facebook.com/heybanco/" target="_blank">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-fb-gris.svg'" class="img-fluid-padding" width="16" height="31" loading="lazy" alt="Logo gris Facebook"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.instagram.com/heybanco/" target="_blank">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-instagram.svg'" class="img-fluid-padding" width="30" height="31" loading="lazy" alt="Logo gris Instagram"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://twitter.com/heybanco">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-twitter.svg'" class="img-fluid-padding" width="37" height="31" loading="lazy" alt="Logo gris Twitter"></a><br><br>
                </div>
                <div class="col-lg-1 col-2">
                    <a href="https://www.youtube.com/channel/UC3CjAU3jkO-_IjomoTUTyfQ">
                        <img class="iconos" [src]="environment.assetsUrl + 'img/ic-you-tube.svg'" class="img-fluid-padding" width="36" height="26" loading="lazy" alt="Logo gris Youtube"></a><br><br>
                </div>
                <div class="col-lg-3 col-1"></div>
            </div>
        </div>
    </section>

    <section class="d-block d-sm-block d-md-none d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="accordion" id="accordionExample">
                        <div>
                            <div id="headingOne">
                                <h3>

                                    <button class="text-acordeon collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Compañía&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img [src]="environment.assetsUrl + 'img/P100-Home/P810-90-ic-arrow-left.svg'" alt="Tu banco digital" width="18" height="18" loading="lazy">
                </button>
                                </h3>
                            </div>




                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <!--li>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-referidos-clientes-hey.pdf" target="_blank ">
                                        Giveaway Referidos Clientes Hey
                                    </a>
                                </li>
                                <li>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-embajadores-clientes-hey.pdf" target="_blank ">
                                        Embajadores Clientes Hey
                                    </a>
                                </li>
                                <li>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-boleto-dorado-hey.pdf" target="_blank ">
                                        Boleto Dorado
                                    </a>
                                </li-->

                                    <a routerLink="/nosotros">
                                    Sobre nosotros</a><br>
                                    <a routerLink="/careers">
                                    Carreras</a><br>
                                    <a routerLink="/corresponsales">
                                    Corresponsales</a><br>
                                    <a href="https://www.regional.mx/">
                                    Invierte en la marca Hey</a><br>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="headingTwo">
                                <h3>
                                    <button class="text-acordeon collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Servicio al cliente&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img [src]="environment.assetsUrl + 'img/P100-Home/P810-90-ic-arrow-left.svg'" alt="Tu banco digital" width="18" height="18" loading="lazy">
                </button>
                                </h3>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <a routerLink="/reportes/reporte-fallas-app">
                                    Reporte de fallas en tu App</a><br>
                                    <a routerLink="/reportes/asesoria-producto">
                                    Asesoría de producto</a><br>
                                    <a routerLink="/reportes/sugerencias-mejora">
                                    Sugerencias de mejora</a><br>
                                    <a href="https://www.banregio.com/oficinas.php">
                                    Cajeros automáticos</a><br>
                                    <a routerLink="/centro-ayuda">
                                    Centro de ayuda</a><br>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div id="headingThree">
                                <h3>
                                    <button class="text-acordeon collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Descarga nuestra App&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <img [src]="environment.assetsUrl + 'img/P100-Home/P810-90-ic-arrow-left.svg'" alt="Tu banco digital" width="18" height="18" loading="lazy">
                </button>
                                </h3>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <a href="https://apps.apple.com/mx/app/hey-banco/id1335704361?l=en&utm_source=link&utm_medium=link&utm_campaign=appstore_heybanco" target="_blank">
                                    App Store</a><br>
                                    <a href="https://play.google.com/store/apps/details?id=com.banregio.hey&utm_source=link&utm_medium=link&utm_campaign=playstore_heybanco" target="_blank">
                                    Google Play</a><br>
                                    <a href="https://appgallery.huawei.com/app/C101029663?utm_source=link&utm_medium=link&utm_campaign=appgallery_heybanco" target="_blank">
                                    App Gallery</a><br>
                                    <a href="https://www.gob.mx/ipab" target="_blank">
                                        <img class="ipab" [src]="environment.assetsUrl + 'img/ic-ipab.png'" width="56.47" height="34.27" loading="lazy" alt="Logo gris IPAB"><br>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="d-block d-sm-block d-md-none d-lg-none">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-6 col-sm-6 legales">
                    <a [routerLink]="['/servicios-legales']" target="_self">
                    Servicios legales</a><br>
                </div>
                <div class="col-6 col-sm-6 legales">
                    <a [routerLink]="['/terminos-condiciones']" target="_self">
                    Términos y condiciones</a><br>
                </div>
                <div class="col-6 col-sm-6 legales">
                    <a [routerLink]="['/folletos-informativos']" target="_self">
                    Folletos informativos</a><br>
                </div>

                <div class="col-6 col-sm-6 legales">
                    <a [routerLink]="['/contratos-productos']" target="_self">
                    Contratos de Productos</a><br>
                </div>

                <div class="col-10 col-sm-6 legales">
                    <a class="espacio" href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank">
                        Consulta los Costos y las Comisiones de nuestros productos</a><br>
                </div>


            </div>
        </div>
    </section>

    <section class="d-block d-sm-block d-md-none d-lg-none">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <p class="copy">
                        “Hey, Banco” es una marca registrada propiedad de Banco Regional S.A. Institución de Banca Múltiple Banregio Grupo Financiero © 2022 Hey, Inc. </p>
                </div>
            </div>
        </div>

    </section>



</footer>