<div class="form" [formGroup]="infoEntregaAfiliacionForm">
    <h2>Información de entrega</h2>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <mat-form-field appearance="fill" class="mb-10">
                <mat-label>Teléfono de contacto</mat-label>
                <input type="tel" maxlength="10" matInput formControlName="tel">

                <mat-error *ngIf="infoEntregaAfiliacionForm.get('tel').hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6">
            <mat-form-field appearance="fill" class="mb-10">
                <mat-label>Persona que recibe</mat-label>
                <input matInput formControlName="personaRecibe">

                <mat-error *ngIf="infoEntregaAfiliacionForm.get('personaRecibe').hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-6 col-lg-6">
            <mat-form-field appearance="fill" class="mb-10">
                <mat-label>Horario de atención</mat-label>
                <mat-select formControlName="horarioAtencion">
                    <mat-option value="De 09:00am a 12:00pm">De 09:00am a 12:00pm</mat-option>
                    <mat-option value="De 12:00pm a 03:00pm">De 12:00pm a 03:00pm</mat-option>
                    <mat-option value="De 03:00pm a 06:00pm">De 03:00pm a 06:00pm</mat-option>
                </mat-select>
                <mat-error *ngIf="infoEntregaAfiliacionForm.get('horarioAtencion').hasError('required')">
                    Campo requerido
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</div>