<section class="hey-legal-title">
    <div class="container">
        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div>
                <h3>Términos y condiciones</h3>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="['/terminos-condiciones/beneficios']" target="_self">
                                Beneficios
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/terminos-condiciones/promociones']" target="_self">
                                Promociones
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/legales/terms.pdf" target="_blank">
                                Portal Hey Banco</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>