<section class="hey-legal-title bg-02">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-1">
                <h1>Transparencia</h1>

                <p>La administración y transparencia en la información es fundamental en nuestra operación.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-legal-body">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Ley de Transparencia</h2>

                <p>
                    En Hey Banco, la Transparencia en la información de nuestros productos y servicios es fundamental por lo que en nuestro sitio, podrás consultar las comisiones aplicables a casa uno de nuestros productos y/o servicios en los apartados correspondientes.
                </p>

                <h2>Cargos recurrentes</h2>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Contratar Cargos Recurrentes</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Contratar Cargos Recurrentes.pdf" target="_blank">Descargar PDF</a>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Objetar Cargos Derivados de Cargos Recurrentes</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Objetar Cargos Derivados de Cargos Recurrentes.pdf" target="_blank">Descargar PDF</a>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Cancelar Cargos Recurrentes</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Cancelar Cargos Recurrentes.pdf" target="_blank">Descargar PDF</a>
                    </div>
                </div>

                <p>
                    El Tarjetahabiente tiene el derecho de solicitar que se cancele cualquier Cargo Recurrente en su Tarjeta de Crédito.
                </p>

                <h2>Domiciliación</h2>

                <p>
                    Recuerda que puedes domiciliar el pago de tu Tarjeta de Crédito Hey Banco en cualquier Institución de Crédito.
                </p>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Objetar Cargos por Domiciliación</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Objetar Cargos por Domiciliación.pdf" target="_blank">Descargar PDF</a>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Solicitar la Domiciliación</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Solicitar la Domiciliación.pdf" target="_blank">Descargar PDF</a>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <p>Formato para Cancelar la Domiciliación</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Formato para Cancelar la Domiciliación.pdf" target="_blank">Descargar PDF</a>
                    </div>
                </div>


                <h2>Pago mínimo</h2>

                <h3>Nuevo Cálculo del Pago Mínimo de Tarjetas de Crédito</h3>

                <p>
                    En Hey Banco ponemos a tu disposición esta sección para que conozcas la información sobre el nuevo cálculo del Pago Mínimo de tu Tarjeta de Crédito. Recuerda que si requieres información adicional te escuchamos en el 81 2267 3446 las 24 hrs. Utiliza tu
                    Estado de Cuenta para simular el Pago Mínimo. Recuerda que este simulador es aproximado y de carácter informativo únicamente. Para simular tu pago mínimo da click aquí.
                </p>

                <h3>¿Por qué se ha modificado el cálculo de tu Pago Mínimo?</h3>

                <p>
                    En conformidad con las disposiciones emitidas por Banco de México para todos los emisores de Tarjetas de Crédito, se determino el nuevo cálculo para el Pago Mínimo de tu Tarjeta de Crédito. Con la incorporación de esta nueva regla, podrás cubrir tu Crédito
                    en un periodo menor. Regla de Cálculo.
                </p>

                <h3>El monto de Pago Mínimo será la cantidad que resulte mayor entre:</h3>

                <p>
                    1- El 1.5% del saldo insoluto al corte del periodo (1), más los intereses del periodo, más comisiones del periodo, más el impuesto correspondiente (IVA), o en su caso.<br> 2- El 1.25% del límite de la línea de crédito.<br><br>
                </p>

                <p class="small">
                    *Si el pago mínimo resulta mayor que el saldo insoluto se cobrará éste último.<br> ** Si el saldo al corte es inferior a $200.00, el mínimo a pagar será el total del saldo referido.<br> ***Cuando el cálculo del pago mínimo resulte
                    menor a $200.00, se cobrará éste último.<br> (1) Sin tomar en cuenta intereses, comisiones ni el impuesto al valor agregado (IVA)
                </p>

                <h3>Recomendaciones</h3>

                <p>
                    Te recomendamos realizar tus pagos por una cantidad mayor al mínimo requerido para que termines de pagar tu saldo en un menor tiempo. Pagar sólo el mínimo aumenta el tiempo de pago y el costo de la deuda. Si tienes una línea de crédito muy alta y no la
                    utilizas normalmente, considera la opción de solicitar una reducción de la misma. Comunícate a tu Centro de Atención a Clientes antes de caer en atraso para que conozcas las opciones de Pagos Diferidos. Descarga
                    <a href="https://www.banxico.org.mx/marco-normativo/normativa-emitida-por-el-banco-de-mexico/circular-34-2010/%7B0C55B906-6DB4-6B88-FED0-67987E9FB3CC%7D.pdf" target="_blank">aquí</a> la circular emitida por Banxico.
                </p>

                <h2>Despachos</h2>

                <p>Despachos Autorizados de Cobranza.</p>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p>Formato para descargar los Despachos Autorizados de Cobranza</p>

                        <a class="btn btn-primary" role="button" href="https://heybanco.s3.amazonaws.com/assets/legales/Lista de Despachos y Abogados Externos.pdf" target="_blank">Descargar PDF</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>