<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <img loading="lazy" class="mb-15" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-59-img-9.png'" alt="Tu banco digital, Tu banco 100% digital" width="80">
                    <h1>Los mejores días para estrenar con Hey Banco</h1>

                    <p class="text-white">Buen Fin del 10 al 16 de noviembre</p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center  ">
                <img loading="lazy" class="responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-56-img-6.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-buen-fin bg-01">
    <div class="container">
        <h4>Giveaway</h4>
        <h2>Llévate un reembolso de hasta <br>
            <span class="text-fin">$5,000 pesos</span>
        </h2>


        <p>Registra tus compras con Tarjetas de Débito y Crédito Hey y podrías llevarte un reembolso de hasta 5,000 pesos</p>

        <a routerLink="/promos/giveaway-participacion-buen-fin" class="btn btn-primary" type="button">Participa</a>

    </div>
</section>

<section class="hey-cta" id="divMSI">
    <div class="container">

        <div class="row">
            <div class="img-background">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-55-img-5.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 offset-md-0 col-lg-7 offset-lg-5">
                        <h2>Hasta 12 Meses sin intereses</h2>
                        <p class="texto">Todas tus compras, en cualquier comercio, pueden ser diferidas a 6, 9 o 12 Meses sin Intereses.</p>
                    </div>
                </div>
                <div class="col-md-7 offset-md-5 col-lg-7 offset-lg-5 ">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th colspan="2">
                                        <p>Comercios participantes</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        <p>Mercado Pago</p>
                                    </th>

                                    <td>
                                        <p>3, 6, 9, 12, 18 y 24 MSI</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>Soriana</p>
                                    </th>
                                    <td>
                                        <p>3, 6, 9 y 12 MSI</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>TELCEL</p>
                                    </th>
                                    <td>
                                        <p>3, 6, 9, 12 y 18 MSI</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>Home Depot</p>
                                    </th>
                                    <td>
                                        <p>3, 6, 9, 12, 15 y 18 MSI</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>Shein</p>
                                    </th>
                                    <td>
                                        <p>3, 6, 9, 12, 15 y 18 MSI</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <p>VIVA AEROBUS</p>
                                    </th>
                                    <td>
                                        <p>3, 6, 9, 12 y 18 MSI</p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <a target="_blank" href="https://heybanco.s3.amazonaws.com/assets/legales/lista_participantes_buen_fin.pdf" class="btn btn-primary mt-24">Conoce más</a>
                    <p>Si quieres una compra que no entró a Meses Sin Intereses (MSI) difiérela en esta liga</p>
                    <a target="_blank" href="https://cloud.hola.banregio.com/buen-fin-msi-2021" class="btn btn-primary mt-24" role="button">Tu compra a MSI</a>


                    <p class="legales">
                        Meses sin intereses en todas sus compras (6, 9 y 12) - Los plazos aplican en todos los comercios a 6, 9 y 12 meses sin intereses en compras mínimas a $100; para realizar el diferimiento de tus compras, debes registrar tu compra
                        <a href="https://cloud.hola.banregio.com/buen-fin-msi-2021" target="_blank">aquí</a>, capturar los datos y seleccionar el plazo correspondiente. El diferimiento se aplica a finales del mes de noviembre. Válido en compras realizadas
                        durante el Buen Fin, del 10 al 16 de noviembre del 2021.
                        <br><br> Consulta términos, condiciones, comisiones y requisitos de contratación en heybanco.com

                    </p>

                </div>
            </div>
        </div>
    </div>
</section>


<section class="hey-cta" id="participacion">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-2 col-lg-7 offset-lg-2">
                <div class="img-background">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-54-img-4.png'" alt="Tu banco digital, Tu banco 100% digital">
                </div>
                <h2>Tarjeta de Crédito Hey</h2>
                <div class="row text-left">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-7-ic-arrow-right-circle-white.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class=" col-10  text-white">
                        Estrena tu Tarjeta de Crédito durante el Buen Fin
                    </p>
                </div>
                <div class="row">
                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-7-ic-arrow-right-circle-white.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class=" col-10 text-white">
                        Te regresamos hasta $1000 pesos en tu primera compra
                    </p>
                </div>
                <a target="_blank" routerLink="/parami/tdc?utm_source=LandingPromociones&utm_medium=LandingBuenFin&utm:campaign=BuenFin2021TDC&utm_content=landing" class="btn btn-primary" role="button">Conoce más</a>
                <br>
                <p class="legales text-white">
                    Primera compra con Tarjeta de Crédito- Aplica para clientes nuevos y existentes que no hayan usado su Tarjeta de Crédito Hey en compras mayores a $100.
                    <br><br> Consulta términos, condiciones, comisiones y requisitos de contratación en heybanco.com
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-53-img-3.png'" alt="TDC Personas">
            </div>

            <div class="col-12 col-md-6 offset-md-0 col-lg-6 offset-lg-0">
                <h2>Colección Cosmos</h2>


                <p>Obtén tu Tarjeta de Crédito física</p>

                <hey-btn-crear-cuenta title="Pide tu plástico"> </hey-btn-crear-cuenta>
            </div>
        </div>
    </div>
</section>



<section class="hey-cta" id="estrenaCoche">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-2 col-lg-7 offset-lg-2">
                <div class="img-background">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-57-img-7.png'" alt="Tu banco digital, Tu banco 100% digital">
                </div>
                <h2>Estrena Auto</h2>
                <p>Crédito de Auto Hey</p>
                <div class="row text-left">
                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class=" col-10">
                        Obten una tasa preferencial
                    </p>
                </div>
                <a href="https://cloud.hola.banregio.com/estrena-auto-buen-fin-2021" target="_blank" class="btn btn-primary" role="button">Conoce más</a>

            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-buen-fin">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-1 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-52-img-2.png'" alt="TDC Personas">
            </div>

            <div class="col-12 col-md-6 offset-md-0 col-lg-6 offset-lg-0">
                <h2 class="text-white">Asegura tu Auto</h2>
                <p class="text-white">Contrata el seguro de Auto Hey.</p>

                <div class="row">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-7-ic-arrow-right-circle-white.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="text-white  col-10">
                        10% de descuento sobre el costo del seguro*
                    </p>
                </div>
                <div class="row">
                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-7-ic-arrow-right-circle-white.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="text-white  col-10">50% de descuento en costos de expedición</p>
                </div>
                <br>
                <a routerLink="/seguros-auto-persona" class="btn btn-primary" role="button">Conoce más</a>
                <p class="text-white">*aplicado a la prima neta, antes del IVA.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-productos bg-01">
    <div class="container">
        <h2 class="text-center mb-24">Compra en Hey Shop <br> este Buen Fin</h2>
        <div>
            <div class="row">
                <div class="col-10 offset-1 offset-md-0 offset-lg-0 col-md-4 col-lg-4  m-8">
                    <div class="item-shop">

                        <div class="img-shop">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/TV TCL.png'" alt="Tu banco digital"><br><br>
                        </div>

                        <div class="text-shop">
                            <h4>TV TCL</h4>
                            <p>Android, 32’’, LED HD</p>
                            <p><span class="tr-selected">$7,299.00</span> <span class="text-fin">$5,499.00</span></p>
                            <p> 12 MSI de <strong style="color: black; font-weight: 700;"> $458.25 </strong></p>
                            <div class="mb-15" style="position: absolute; bottom: 0;">
                                <a class="btn btn-primary mb-15" role="button" href="https://heyshop.com/producto/android-tv-tcl-32-pulgadas-led-hd-32a325/" target="_blank">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-md-0 offset-lg-0 col-md-4 col-lg-4  m-8">
                    <div class="item-shop">
                        <div class="img-shop">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/Laptop.png'" alt="Tu banco digital">
                        </div>
                        <div class="text-shop">
                            <h4>Laptop Acer Aspire</h4>
                            <p>15.6’’ Ryzen 3 8GB +1TB Windows 10</p>
                            <p> <span class="tr-selected">$22,055.00</span> <span class="text-fin">$20,050.00</span> </p>
                            <p> 12 MSI de <strong style="color: black; font-weight: 700; "> $1,670.83 </strong></p>
                            <div class="mb-15 " style="position: absolute; bottom: 0; ">
                                <a class="btn btn-primary mb-15 " role="button " href="https://heyshop.com/producto/laptop-acer-aspire-5-15-6-ryzen-3-8gb-256gb1tb-windows-10/ " target="_blank ">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-md-0 col-md-4 col-lg-4 m-8 ">
                    <div class="item-shop ">
                        <div class="img-shop ">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/aspiradora.png'" alt="Tu banco digital ">
                        </div>

                        <div class="text-shop ">
                            <h4>Aspiradora Eufy</h4>
                            <p>Robovac 15T</p>
                            <p> <span class="tr-selected ">$6,699.00</span> <span class="text-fin ">$5,024.00</span> </p>
                            <p> 12 MSI de <strong style="color: black; font-weight: 700; "> $418.67 </strong></p>
                            <div class="mb-15 " style="position: absolute; bottom: 0; ">
                                <a class="btn btn-primary mb-15 " role="button " href="https://heyshop.com/producto/aspiradora-robot-eufy-robovac-15t/ " target="_blank " style="margin-top: 5px; ">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta ">
    <div class="container ">
        <div class="row ">
            <div class="col-10 offset-0 col-md-10 offset-md-1 col-lg-10 offset-lg-1 ">
                <h2 class="text-center mb-32 ">Más promociones Hey</h2>

                <div class="row mt-24 ">
                    <div class="col-lg-11 ">
                        <div class="row mb-32 ">

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-24 mb-24">
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/Logo RadioShak.png' " style="width: 220px; margin: auto; ">
                            </div>
                            <div class="col-md-6 offset-lg-2 col-lg-7 ">
                                <h4>Hasta 12 meses sin intereses sobre precio de contado</h4>

                                <p>En la compra mínima de $1,000.00 en tienda física y en línea.</p>
                                <br>

                                <div class="row text-left">
                                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                                    <p class=" col-10 ">
                                        Aprovecha hasta 50% de descuento en tienda
                                    </p>
                                </div>
                                <div class="row ">
                                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                                    <p class=" col-10 ">
                                        Audifonos o bocina gratis en compras mayores a $2,499
                                    </p>
                                </div>
                                <div class="row mb-24 ">
                                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                                    <p class=" col-10 ">
                                        SmartTV box, brine gadget espía o powerbanck gratis en compras mayores a $4,999
                                    </p>
                                </div>

                                <a class="btn btn-primary mt-24 " target="_blank " href="https://www.radioshack.com.mx/store/radioshack/en/ ">Conoce más</a>
                            </div>


                        </div>
                        <div class="row mt-24 ">

                            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-24">
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/logo office depot.png'" style="width: 220px; margin: auto; ">
                            </div>
                            <div class="col-md-6 offset-lg-2 col-lg-7 ">
                                <h4>Hasta 12 meses sin intereses sobre precio de contado</h4>

                                <p>En la compra mínima de $1,000.00 en tienda física y en línea.</p>
                                <br>


                                <a class="btn btn-primary mt-24 " target="_blank " href="https://www.officedepot.com.mx/ ">Conoce más</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq bg-01 ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1 ">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png' " alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey? ">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2 ">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion " id="accordionExample ">
                    <div class="card bg-white ">
                        <div class="card-header " id="headingOne ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapseOne " aria-expanded="true " aria-controls="collapseOne ">
                                    ¿Cómo puedo obtener el reembolso de mi compra  durante el Buen Fin?

                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne " class="collapse " aria-labelledby="headingOne " data-parent="#accordionExample ">
                            <div class="card-body ">
                                Participando en nuestro giveaway en donde te pueden reembolsar hasta $5,000 registrándote en nuestra página web, aplica un folio por compra mayor a $100 con Tarjeta de Crédito y Débito. ¡Se reembolsaran 25 compras!

                            </div>
                        </div>
                    </div>

                    <div class="card bg-white ">
                        <div class="card-header " id="headingTwo ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapseTwo " aria-expanded="false " aria-controls="collapseTwo ">
                                    ¿Ya le di clic al botón de registro en el Giveaway Buen Fin  y no me aparece mi folio de registro digital ¿Que hago? 

                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo " class="collapse " aria-labelledby="headingTwo " data-parent="#accordionExample ">
                            <div class="card-body ">
                                El correo electrónico con tu folio de Registro Digital puede tardar aproximadamente una hora en llegar.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white ">
                        <div class="card-header " id="headingThree ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapseThree " aria-expanded="false " aria-controls="collapseThree ">
                                    Si mi compra no está a meses sin intereses ¿la puedo diferir?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree " class="collapse " aria-labelledby="headingThree " data-parent="#accordionExample ">
                            <div class="card-body ">
                                Si, hasta 12 meses sin intereses en cualquier compra realizada con tu Tarjeta de Crédito del 10 al 16 de noviembre del 2021, registrándote <a target="_blank " href="https://cloud.hola.banregio.com/buen-fin-msi-2021 ">aquí</a>.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white ">
                        <div class="card-header " id="headingFour ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapseFour " aria-expanded="true " aria-controls="collapseFour ">
                                    ¿Qué comercios manejan meses sin intereses con Tarjetas de Crédito Hey?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFour " class="collapse " aria-labelledby="headingFour " data-parent="#accordionExample ">
                            <div class="card-body ">
                                Consulta la lista de comercios que aplican <a target="_blank " href="https://heybanco.s3.amazonaws.com/assets/legales/lista_participantes_buen_fin.pdf ">aquí</a>.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white ">
                        <div class="card-header " id="heading5 ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapse5 " aria-expanded="false " aria-controls="collapse5 ">
                                    ¿ Qué promociones de Auto con Hey aplican en el Buen Fin?<img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                                </button>
                            </h3>
                        </div>

                        <div id="collapse5 " class="collapse " aria-labelledby="heading5 " data-parent="#accordionExample ">
                            <div class="card-body ">
                                Tasa preferencial.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white ">
                        <div class="card-header " id="heading4 ">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed " type="button " data-toggle="collapse " data-target="#collapse4 " aria-expanded="false " aria-controls="collapse4 ">
                                    ¿Existe alguna promoción para Seguro de Auto Hey?
                                    <img
                                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg' ">
                                </button>
                            </h3>
                        </div>

                        <div id="collapse4 " class="collapse " aria-labelledby="heading4 " data-parent="#accordionExample ">
                            <div class="card-body ">Si, puedes aplicar hasta un 10% de descuento en la prima neta antes del IVA y 50% de descuento en costos de expedición.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-11 col-md-3 offset-md-1 col-lg-4 offset-lg-1 ">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-41-img-descarga-app.png'" alt="¿Dónde puedo descargar la Aplicación Hey?, Tu banco digital ">
            </div>

            <div class="col-md-6 offset-md-1 col-lg-6 offset-lg-0 ">
                <h2>Descarga la App</h2>

                <hey-stores></hey-stores>
            </div>
        </div>
    </div>
</section>
<section class="hey-slider bg-01 ">
    <div class="container ">
        <div class="row ">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1 ">
                <h2>Conoce más productos</h2>

                <div id="carousel-desktop " class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block " data-ride="carousel " data-touch="true ">
                    <div class="carousel-inner ">
                        <div class="carousel-item active ">
                            <div class="row ">
                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-45-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/parami/tdc'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-47-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Cuenta de Ahorro</h3>

                                            <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/personas/ahorro-hey'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row ">
                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-49-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Inversiones</h3>

                                            <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/personas/inversion'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-51-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Seguro de Auto</h3>

                                            <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/seguros-auto-persona'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row ">
                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-53-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Seguro de Celular</h3>

                                            <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                            <a class="btn btn-link " role="button " href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta
                                " target="_blank " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-55-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                            <p>Cuida tu salud con nuestros planes.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/personas/seguros/apoyo-hospitalario'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row ">
                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-57-img-proteccion-hey.png'" alt="¿Qué es protección Hey?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Protección Hey</h3>

                                            <p>Configura y selecciona los planes de cobertura que mejor se adapten a ti.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/seguros-proteccion-hey'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-59-img-fondo-hey.png'" alt="¿Qué es fondo hey?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Fondo HeyG</h3>

                                            <p>Invierte con el Fondo de Inversión Hey Global desde $1,000 pesos.</p>

                                            <a class="btn btn-link " role="button " [routerLink]="[ '/personas/fondos-inversion'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row ">
                                <div class="col ">
                                    <div class="row align-items-center ">
                                        <div class="col-5 text-center ">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-61-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?, Tu banco digital ">
                                        </div>

                                        <div class="col-7 ">
                                            <h3>Crédito de auto</h3>

                                            <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                            <a class="btn btn-link " [routerLink]="[ '/personas/creditos/credito-auto'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); " role="button ">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col ">

                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators ">
                        <a class="carousel-control-prev " href="#carousel-desktop " role="button " data-slide="prev ">
                            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop " data-slide-to="0 " class="active "><span></span></li>
                        <li data-target="#carousel-desktop " data-slide-to="1 "><span></span></li>
                        <li data-target="#carousel-desktop " data-slide-to="2 "><span></span></li>
                        <li data-target="#carousel-desktop " data-slide-to="3 "><span></span></li>
                        <li data-target="#carousel-desktop " data-slide-to="4 "><span></span></li>

                        <a class="carousel-control-next " href="#carousel-desktop " role="button " data-slide="next ">
                            <span class="carousel-control-next-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile " class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none " data-ride="carousel " data-touch="true ">
                    <div class="carousel-inner ">
                        <div class="carousel-item active ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-45-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/parami/tdc'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-47-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Cuenta de Ahorro</h3>

                                    <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/personas/ahorro-hey'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-49-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Inversiones</h3>

                                    <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/personas/inversion'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-51-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Seguro de Auto</h3>

                                    <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/seguros-auto-persona'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-53-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Seguro de Celular</h3>

                                    <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                    <a class="btn btn-link " role="button " href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta
                                " target="_blank " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-55-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                    <p>Cuida tu salud con nuestros planes.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/personas/seguros/apoyo-hospitalario'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-57-img-proteccion-hey.png'" alt="¿Qué es protección Hey?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Protección Hey</h3>

                                    <p>Configura y selecciona los planes de cobertura que mejor se adapten a ti.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/seguros-proteccion-hey'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-59-img-fondo-hey.png'" alt="¿Qué es fondo hey?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Fondo HeyG</h3>

                                    <p>Invierte con el Fondo de Inversión Hey Global desde $1,000 pesos.</p>

                                    <a class="btn btn-link " role="button " [routerLink]="[ '/personas/fondos-inversion'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); ">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item ">
                            <div class="row align-items-center ">
                                <div class="col-md-5 col-5 text-center ">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-61-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?, Tu banco digital ">
                                </div>

                                <div class="col-md-7 col-7 ">
                                    <h3>Crédito de auto</h3>

                                    <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                    <a class="btn btn-link " [routerLink]="[ '/personas/creditos/credito-auto'] " onclick="dataLayer.push({ 'event': 'evPageLink'}); " role="button ">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators ">
                        <a class="carousel-control-prev " href="#carousel-mobile " role="button " data-slide="prev ">
                            <span class="carousel-control-prev-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile " data-slide-to="0 " class="active "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="1 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="2 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="3 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="4 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="5 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="6 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="7 "><span></span></li>
                        <li data-target="#carousel-mobile " data-slide-to="8 "><span></span></li>

                        <a class="carousel-control-next " href="#carousel-mobile " role="button " data-slide="next ">
                            <span class="carousel-control-next-icon " aria-hidden="true "></span>
                            <span class="sr-only ">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>