<section class="hey-hero-image ">
    <div class="img-back">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                    <div class="vertical-center">
                        <h1 class="header">¡El Boleto Dorado te espera!</h1>

                        <p class="mb-15">¡Canjea tu folio para ganar uno de los miles de incentivos que tenemos para ti!
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hey-caracteristicas ">
    <div class="container">
        <h2 class="offset-1">Beneficios</h2>
        <br>
        <div class="row">
            <div class="row col-12">
                <div class="media mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/icono1.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Tasas aún más altas</h3>
                    </div>
                </div>

                <div class="media mb-20 col-md-6 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/icono5.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Programa de Embajadores Hey</h3>
                    </div>
                </div>
            </div>

            <div class="row col-12">
                <div class="media  mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1 ">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/icono2.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Boleto Dorado</h3>
                    </div>
                </div>

                <div class="media mb-20 col-md-6 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/icono3.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Ventajas exclusivas al contratar productos Hey</h3>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="hey-catar">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 offset-lg-1">
                <div class="vertical-center">
                    <h2>
                        ¡Hey Banco te lleva a la Copa Mundial de la FIFA Catar 2022 ™!
                    </h2>
                    <br>
                    <p class="mb-15 sub">
                        Asiste al mundial y disfruta 2 partidos de Catar 2022™
                    </p>
                </div>
            </div>

            <div class="col-12 offset-1 col-md-5 offset-md-0 col-lg-5 offset-lg-1 text-center">
                <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-109-img.png'" alt="Giveaway Catar">
            </div>
        </div>
    </div>
</section>

<section class="hey-msi ">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="vertical-center">
                    <h2>
                        16% a Meses con Intereses* <br> a 3, 6, 9, 12 o 24 meses
                    </h2>
                    <br>
                    <p class="mb-15 sub">
                        Paga tu deuda y difiere hasta el 85% de tu línea de crédito <br> Solicita la promoción al: 81 4392-2626
                    </p>
                </div>
            </div>

            <div class="col-12 offset-1 col-md-5 offset-md-0 col-lg-5 offset-lg-1 text-center">
                <div class="vertical-center">
                    <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-114-img.png'" alt="Giveaway Catar">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hey-cta text-center">
    <div class="container">
        <div class="offset-0 offset-lg-1">

            <h2>¡Ser Hey Pro es muy fácil!</h2><br>
            <img loading="lazy" class="img-6" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-85-img.png'" alt="Tu banco digital, Tu banco 100% digital"> <br>
            <h2>Acumula 6 compras* de mínimo $100 pesos ó cambia tu nómina a Hey Banco <span class="text-min">1</span>
            </h2>
            <br>
            <p>Durante un mes usa 6 veces tu Tarjeta de Débito o Tarjeta de Crédito con tu cuenta verificada y tendrás el estatus Hey Pro y todos sus beneficios durante el mes siguiente.</p> <br>
            <p class="legales">*No aplican SPEI´s y Pagos de Servicio <br> 1. Es necesario mantener tu nómina con Hey Banco para conservar tu estatus Hey Pro </p>
        </div>
    </div>
</section>



<section class="hey-cta no-padding hey-tasa bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-0 col-lg-6 offset-lg-0 order-1 order-sm-1 order-lg-2 order-md-2">
                <div class="vertical-center">
                    <h2>Tasas aún más altas</h2>
                    <br>
                    <p>Rendimiento de 9% anual en tu Inversión Hey</p>
                    <br>
                    <p class="legales">Inversión Hey (Sobretasa) Ganancia Anual Total: GAT nominal 9.41% / GAT real 4.47% antes de impuestos para un rango de $1,000 a $3,000,000 de pesos, donde su plazo de inversión es de 7 días. Tasa de Rendimiento Anual Fija 9.00% antes
                        de impuestos. La GAT real es el rendimiento que obtendría después de descontar la inflación estimada. Cálculo realizado el 23 de agosto de 2022, para fines informativos y comparativos. Vigencia del cálculo de la GAT al 23 de febrero
                        de 2023 . La GAT varía en función al monto de la inversión y el periodo de la misma.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-5 offset-0 offset-md-0 offset-lg-1 order-2 order-sm-2 order-lg-1 order-md-1">
                <div class="horizontal-bottom text-center">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-91-img.png'" alt="Ahorra en hey banco. Tu banco digital">
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-cta" id="participacion">
    <div class="container">
        <div class="row">
            <div class="img-background">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-74-img.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>
            <h2 class="offset-md-0 offset-1 offset-lg-1 col-lg-7">Ventajas exclusivas al contratar productos Hey</h2>
            <div class="col-md-5 offset-1 offset-md-1 col-lg-7 offset-lg-1 mb-15">
                <div class="row text-left">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="col-10">
                        Obtén un Crédito de Auto Hey sin comisión por apertura
                    </p>
                </div>
                <div class="row">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class=" col-10">
                        Contrata Fondos Hey sin comisión por compra y venta
                    </p>
                </div>
                <a target="_blank" href="https://cloud.hola.banregio.com/estrena-auto" class="btn btn-primary" role="button">Me interesa</a>
                <br>

            </div>
            <div class="offset-md-0 offset-1 offset-lg-1 col-10">
                <p class="legales">
                    <strong>Crédito de Auto Hey CAT PROMEDIO 23.6% sin IVA</strong>. Vigencia de la oferta de CAT Vigencia de la oferta de CAT 03 de Mayo de 2022. Cálculo realizado el 03 de Noviembre de 2021. Sujeto a aprobación de Crédito. La unidad
                    a financiar implica la contratación de un seguro, el cual varía dependiendo de la unidad cotizada, por lo tanto, para conocer el costo del mismo lo invitamos a contactar a uno de nuestros asesores especializados al teléfono:(81) 8152
                    0800 Opción 1
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01" id="tdc-hey">
    <div class="container">
        <div class="row col-md-5 offset-md-1 col-lg-7 offset-lg-1">
            <div class="img-background order-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-76-img.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>
            <div class="order-1">
                <h2>Embajadores Hey</h2>
                <br>
                <p>Recibe $250 por cada amig@ que abra su Cuenta Hey</p>
                <a routerLink="/promos/referidos" class="btn btn-primary" role="button">Conoce más</a>
            </div>
        </div>
    </div>
</section>