<section class="hey-hero-image-nosotros">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h1>Nuestra esencia</h1>

                <p class="textohome">En Hey Banco buscamos fortalecer la relación que tienes con tus finanzas a través de un ecosistema de soluciones financieras tecnológicas.</p>
            </div>
        </div>

    </div>
</section>


<section class="hey-cta bg-blue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-0 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
                <h2>Tu Banco desde una App</h2>

                <p>Diseñamos una herramienta full service que tiene como objetivo cuidar y mejorar tu presente y futuro financiero.
                </p>
            </div>

            <div class="col-10 col-md-4 col-lg-4">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-about-01.png'" alt="Hey banco - tu banco desde una app">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta no-padding bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 d-block d-xs-block d-sm-block d-md-none d-lg-none">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-about-02.png'" alt="Hey Banco - nuestro motor tu bienestar financiero">
            </div>

            <div class="col-12 offset-0 col-md-6 offset-md-6 col-lg-7 offset-lg-5">
                <div class="vertical-center">
                    <h2>Nuestro motor, tu bienestar financiero</h2>

                    <p>Diseñamos herramientas inteligentes que te ofrecen soluciones sencillas pensadas en simplificar tu vida y optimizar tu bienestar financiero.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-0 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
                <h2>Construyendo un mundo más incluyente</h2>

                <p>Nuestros productos son creados para darte la oportunidad de hacer lo que amas mientras construyes un patrimonio sólido.</p>
            </div>

            <div class="col-10 col-md-4 col-lg-4">
                <img loading="lazy" alt="Hey Banco - tarjeta" [src]="environment.assetsUrl + 'img/cta/cta-about-03.png'" style="border-radius:100%;">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 col-md-4 col-lg-4">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-2-Liderazgo.png'" style="border-radius:100%;" alt="Tu banco digital">
            </div>
            <div class="col-12 offset-0 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
                <h2>Liderazgo Hey Banco</h2>

                <p>Buscamos impactar radicalmente el bienestar financiero de nuestros clientes.</p>
                <p><strong>Manuel Rivero Zambrano</strong><br>CEO Hey Banco </p>

                <div class="contenido">
                    <a href="https://twitter.com/mriveroz?s=11" target="_blank">
                        <img loading="lazy" class="social-media" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-3-ic-tw-ManuelRivero.png'" alt="Tu banco digital"></a>
                </div>

                <div class="contenido">
                    <a href="https://www.linkedin.com/in/manuel-rivero-zambrano-25654087" target="_blank">
                        <img loading="lazy" class="social-media" href="https://www.linkedin.com/in/manuel-rivero-zambrano-25654087" target="_self" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-4-ic-in-ManuelRivero.png'" alt="Tu banco digital">
                    </a>
                </div>
                <div class="contenido">
                    <a class="btn btn-primary" role="button" [routerLink]="['/nosotros/manuel-rivero']" target="_self" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce a nuestro líder</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-hero-image" style="background:url(https://heybanco.s3.amazonaws.com/assets/img/P700-Compania/P710-Nosotros/P710-5-Hero-Image.png)no-repeat center;background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-6 offset-md-3 col-lg-6 offset-lg-3 text-center">
                <div class="vertical-center">
                    <h2 class="text-white header">Digital Bankers</h2>

                    <p class="text-white">Constantemente estamos desafiando los limites de la innovación, diseñando soluciones simples y eficientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-purple">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-8 offset-md-2 col-lg-10 offset-lg-1">
                <h2>Sabemos que podemos cambiar el mundo de las finanzas.</h2>

                <p>Trabajemos desde hoy en tu despertar financiero.</p>
            </div>
        </div>
    </div>
</section>