<section class="hey-hero-image bgimage-hero-giveaway-40 hey-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>¡Giveaway de $20,000 pesos todos los días!</h1>
                    <p class="texto-parrafo">Participa realizado 6 transacciones mayores a $100 pesos con tarjetas Hey Banco en el mes actual.</p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="mobile-10" [src]="environment.assetsUrl + 'img/P810-Giveaways/giveaway-home.png'" alt="Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas-giveaway bg-01">
    <div class="container">
        <div class="row col-12 col-md-12">
            <h1>Todos los días, de lunes a jueves, habrá 2 seleccionados: </h1>


            <div class="col-md-5 offset-md-0 col-lg-5 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/giveaway/ic-giveaway2.svg'" class="align-self-start" alt="¿Cómo puedo obtener diez mil pesos con Hey banco?">

                    <div class="media-body">
                        <h3>2 depósitos en Cuenta Hey</h3>

                        <p>Entregados como depósito de $10,000 pesos en Cuenta Hey</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-generales bgimage-negocio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>¿Cómo participar?</h2>
                <p class="texto">
                    Participan clientes Hey con cuenta verificada que hayan hecho 6 transacciones mayores a $100 pesos con tarjetas Hey el mes anterior. ¿No lograste tus transacciones del mes? No te preocupes, cada mes tienes una nueva oportunidad.
                </p>
                <p class="texto">¡Revisa tu correo y registra tu interés por participar!</p>
                <hey-btn-crear-cuenta title="Abrir mi cuenta"> </hey-btn-crear-cuenta>
            </div>
            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="img-participantes" [src]="environment.assetsUrl + 'img/giveaway/giveaway.png'" alt="Participa en el giveaway">
            </div>
            <div class="col-12 col-md-12 offset-md-1 col-lg-12 offset-lg-1">
                <a href="https://heybanco.s3.amazonaws.com/assets/legales/giveaway-t&c.pdf?utm_source=usuariosactivos&utm_medium=mail&utm_campaign=giveawaydiario" target="_blank"> <span style="text-decoration: underline;">Consulta
            términos, condiciones, bases y privacidad</span></a>
                <p class="vigencia">
                    Vigencia del 1 al 31 de marzo de 2022. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) durante el mismo periodo de vigencia de la promoción y a través de un correo electrónico notificando el incentivo.
                </p>
            </div>

        </div>
    </div>
</section>

<section class="bgimage-giveaway-ig">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco.svg'" alt="Síguenos">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h1>Síguenos en Instagram @heybanco y descubre si eres uno de los seleccionados. ¡Todos los días anunciamos a los seleccionados!</h1>
                <br><br>
                <a class="btn btn-primary" role="button" href="https://www.instagram.com/heybanco/?hl=es-la" target="_blank">Síguenos en Instagram</a>
            </div>
        </div>

    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey?">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Qué es el Giveaway de $20,000 diarios?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Giveaway diario de 2 incentivos que suman $20,000 pesos y que se entregarán todos los días a 2 clientes. Los seleccionados serán anunciados directamente a su correo electrónico y en las redes sociales de Hey Banco.


                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cuáles son los 2 incentivos?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Se entregarán 2 incentivos de $10,000 pesos en efectivo que se depositarán en la Cuenta Hey
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Cómo puedo participar para ser uno de los 2 clientes seleccionados?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Participan los Clientes Hey que hayan hecho 6 transacciones* en anterior y que registren su interés por participar en el Giveaway.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Cómo puedo registrar mi interés por participar?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Revisa el correo electrónico asociado a tu Cuenta Hey. Encontrarás un correo con los Términos y Condiciones y un botón de registro para obtener tu folio de Registro Digital. Da clic en el botón y espera tu folio en tu correo.

                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Ya le di clic al botón de registro y no me aparece mi folio de
                  Registro Digital, ¿qué hago?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                El correo electrónico con tu folio de Registro Digital puede tardar aproximadamente una hora en llegar.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  Use mi tarjeta más de 6 veces en mayo pero no me llegó el correo para participar. ¿Por qué?
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Califican las transacciones de mínimo $100 pesos con tarjeta de débito o crédito Hey, física o virtual. Se excluyen SPEI, transferencias, CoDi y pago de servicios.

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>