<section class="hey-hero-image fondo">
    <div class="img-back">
        <div class="container">
            <div class="row align-middle">
                <div class="col-9 col-md-5 col-lg-6">
                    <div class="vertical-center">
                        <h1 class="web header">¡Triplica tu ahorro con Hey Banco!
                        </h1>
                        <br>
                        <p class="mb-15 sub">
                            Descubre Hey Ahorra y participa por la oportunidad de incrementar tus ahorros
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-lograrlo bg-01">
    <div class="img-back">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10 col-md-7 col-lg-5">
                    <h2>¿Cómo lograrlo? </h2>
                    <br>

                    <div class="row text-left ">
                        <img loading="lazy" class="item-img punto-uno" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-121-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                        <p class=" col-10 ">
                            Registra tu interés de participar.
                        </p>
                    </div>
                    <div class="row text-left">
                        <img loading="lazy" class="item-img punto-dos" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-121-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                        <p class=" col-10 ">
                            Crea un nuevo ahorro en tu App y nómbralo <strong>'HeyAhorra'.</strong>
                        </p>
                    </div>
                    <div class="row text-left">
                        <img loading="lazy" class="item-img punto-dos" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-121-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                        <p class=" col-10 ">
                            Abona al menos <strong>$2,500 MXN</strong> mensualmente.
                        </p>
                    </div>
                    <div class="row text-left">
                        <img loading="lazy" class="item-img punto-tres" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-121-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                        <p class=" col-10 ">
                            Obtén la posibilidad de llevarte <strong>$10,000 pesos</strong>, o hasta el <strong>doble</strong> o el <strong>triple</strong> de tu ahorro acumulado.
                        </p>
                    </div>
                </div>

                <div class="col-lg-10">
                    <p>Al registrarte podrás elegir una categoría según la meta de ahorro que deseas:</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="hey-categorias">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-10">
                <h2>Categorías Hey Ahorra</h2>
            </div>
            <div class="col-10 offset-1 col-md-11 offset-md-0 col-lg-3 platino">
                <div class="row categoria">
                    <div class="col-1 col-md-1 col-lg-1">
                        <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-118-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    </div>
                    <div class="col-9 offset-1 col-md-9 offset-md-1 col-lg-9 offset-lg-1">
                        <p> <strong>Ahorro Platino</strong><br> Ahorra de <strong>$10,000</strong> a <strong>$19,999.99</strong> MXN y obtén la oportunidad de llevarte <strong>$10,000*</strong> MXN en efectivo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-11 offset-md-0 col-lg-3 offset-lg-1 premium">
                <div class="row categoria">
                    <div class="col-1 col-md-1 col-lg-1">
                        <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-119-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    </div>
                    <div class="col-9 offset-1 col-md-9 offset-md-1 col-lg-9 offset-lg-1">
                        <p> <strong>Ahorro Premium</strong><br> Ahorra de <strong>$20,000</strong> a <strong>$24,999.99</strong> MXN y obtén la oportunidad de duplicar el total de tu ahorro acumulado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-11 offset-md-0 col-lg-3 offset-lg-1 vip">
                <div class="row categoria">
                    <div class="col-1 col-md-1 col-lg-1">
                        <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-118-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    </div>
                    <div class="col-9 offset-1 col-md-9 offset-md-1 col-lg-9 offset-lg-1">
                        <p> <strong>Ahorro VIP</strong><br> Ahorra de <strong>$25,000</strong> a <strong>$30,000 MXN</strong> y obtén la oportunidad de triplicar* el total de tu ahorro acumulado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-10">
                <p><strong>Importante:</strong> para participar en cualquiera de las categorías, debes mantener tu ahorro activo hasta el 9 de enero del 2023.</p>
                <span>* Hasta $90,000 MXN</span>
            </div>
        </div>
    </div>
</section>

<section class="hey-meta">
    <div class="img-back">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10 offset-1 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <h2>Al alcanzar el monto máximo de tu categoría, podrás acceder a la siguiente.
                    </h2>
                    <p>Si tu categoría es VIP y ahorras más de $30,000 MXN, obtienes un código adicional por cada $1,000 MXN extra ahorrados.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-registro">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-center">
                <h2 class="">
                    ¡Registra tu interés por participar!
                </h2>

                <div class="row text-center column" [formGroup]="form">
                    <div class="col-md-6 col-lg-6">
                        <mat-form-field class="website">
                            <mat-label>Correo electrónico registrado en Hey*</mat-label>
                            <input matInput formControlName="correo" type="email">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <mat-form-field class="website">
                            <mat-label>Nombre*</mat-label>
                            <input matInput formControlName="nombre" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <mat-form-field class="website">
                            <mat-label>Numero de cuenta de débito*</mat-label>
                            <input matInput formControlName="numeroCuenta" type="text">
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <mat-form-field class="website">
                            <mat-label>Selecciona una categoria*</mat-label>

                            <mat-select formControlName="tipoAhorroGiveaway">
                                <mat-option *ngFor="let c of categorias" [value]="c.id">{{c.tipo}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-6 col-lg-5">
                        <mat-checkbox formControlName="avisoPrivacidad">
                            He leído y aceptado el Aviso de Privacidad
                        </mat-checkbox>
                    </div>

                    <div class="col-2 col-md-2 offset-md-4 col-lg-12 offset-lg-0">
                        <button class="btn btn-primary" [disabled]="!form.valid" type="submit" (click)="submitRequest()">Enviar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="hey-redes">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center mb-15 redes">
                <img loading="lazy" class="icon-social" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco-black.svg'" alt="Instagram" width="45">
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h2>Los resultados serán anunciados la semana del 18 de enero del 2023 vía Instagram <strong>@heybanco.</strong> </h2>
            </div>
            <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 text-center">
                <p>Si fuiste elegido, recibirás un correo con la información necesaria para recibir tu incentivo.</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <p><a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-ahorro.pdf" target="_blank">Consulta términos, condiciones, bases y privacidad en banco.hey.inc.</a> Vigencia de registro del 01 al 30 de septiembre
                    de 2022. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) durante el mismo periodo de vigencia de la promoción y a través de un correo electrónico notificando el incentivo.
                </p>
            </div>
        </div>
    </div>
</section>

<re-captcha size="invisible" *ngIf="RECAPTCHA_KEY" [siteKey]="RECAPTCHA_KEY" (resolved)="participar(type, $event)"></re-captcha>

<div class="loader" *ngIf="busy === true">
    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/loader.gif'">
</div>