<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col col-2 col-md-2 col-lg-2">
                    <a [routerLink]="['/contratos-productos']" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
                    </a>

                </div>
                <div class="col col-md-6 col-lg-7">
                    <h4>
                        Inversión y Fondos de Inversión</h4>
                </div>
            </div>
        </div>

        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/legales/caratula.pdf" target="_blank">
                                Contrato único</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/contratos-productos/inversion-fondos/prospectos']" target="_self">
                                Carátula de contrato, Anexo A (prospectos)<br>
                                <span class="txt-small">Personas y Negocios</span>
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/contratos-productos/inversion-fondos/caratula-servicios-inversion']" target="_self">
                                Carátula de Servicios de Inversión<br>
                                <span class="txt-small">Personas y Negocios</span>
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/folletos/fondos-inversion/guia-servicios.pdf" target="_blank">  
                                Guía de Servicios de Inversión</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>