<section class="hey-hero-image bgimage-hero-giveaway-nomina hey-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>Llévate 1 año de tu sueldo* con Hey</h1>
                    <p class="texto-parrafo">Cambia tu nómina a Hey Banco y participa por un año de tu sueldo*.
                    </p>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="mobile-11" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-4-img-nomina.png'" alt="Tu banco digital">
                <br>
                <p class="texto-parrafo-legales">*Monto máximo de $500,000 pesos.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas-giveaway bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h1>Cambia tu nómina y llévate <br>¡1 año de tu sueldo*!</h1>
                <p class="parrafo">Al recibir tu nómina en Hey Banco recibirás un correo mensualmente donde podrás participar en el
                    Giveaway y recibir ¡1 año de tu sueldo*!</p>
            </div>

        </div>
    </div>
</section>

<section class="hey-cta hey-generales bgimage-negocio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>¿Cómo obtengo mi código?</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Cambia tu nómina a Hey Banco con éxito </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Recibe al menos 1 mes completo de tu sueldo a través de Nómina Hey</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>
                            Registra tu interés por participar en el correo que recibirás mensualmente si cumples con estos requisitos
                        </p>
                    </div>
                </div>
                <!-- <p class="texto">¡Revisa tu correo y registra tu interés por participar!</p> -->
                <hey-btn-crear-cuenta title="Abrir mi cuenta"> </hey-btn-crear-cuenta>
            </div>
            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="img-participantes" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-5-img-nomina-participacion.png'" alt="Participa en el giveaway">
            </div>
        </div>
    </div>
</section>

<section class="bgimage-giveaway-ig">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco.svg'" alt="Síguenos">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h2>Síguenos en Instagram @heybanco para conocer más sobre este y otros Giveaways que Hey Banco ofrece para ti</h2>
                <br><br>
                <a class="btn btn-primary" role="button" href="https://www.instagram.com/heybanco/?hl=es-la" target="_blank">Síguenos en Instagram</a>
            </div>
        </div>

    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" class="faqs" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey?">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Qué es el Giveaway de Portabilidad de Nómina?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Realiza tu portabilidad de Nómina a Hey Banco durante julio y agosto, recibe al menos 1 mes completo de tu sueldo en Hey Banco y obtén un folio para participar en un Giveaway en septiembre y llevarte 1 año de tu sueldo, hasta un máximo de $500,000 pesos.

                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cómo puedo registrar mi interés por participar?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Revisa el correo electrónico asociado a tu Cuenta Hey. Encontrarás un correo con los Términos y Condiciones y un botón de registro para obtener tu folio de Registro Digital. Da clic en el botón y espera tu folio en tu correo.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Cuándo seleccionarán al ganador?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                La segunda semana del mes en curso se anuncia al ganador a través de Instagram y por correo electrónico
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>