<!-- desktop y tablet -->
<section class="hey-hero-image-tarjeta-credito-hey d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-0 col-lg-6">
                <div>
                    <p>Tarjeta de Crédito Hey</p>

                    <h1>Estás más cerca de obtener tu tarjeta</h1>

                    <img loading="lazy" class="hero-image-tdc-hey" [src]="env.assetsUrl + 'img/P210-Cuentas/P210-63-hero-image-tdc.png'" alt="Tu banco digital">

                </div>
            </div>

            <div class="col-10 col-md-7 col-lg-6">
                <p class="beneficios">Beneficios</p>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Sin anualidad</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Recompensas por tus compras de hasta un 5%</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Meses sin intereses en miles de comercios</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Tarjeta tradicional o *Garantizada</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Escoge el diseño de tu tarjeta y personalízala</p>
                    </div>
                </div>


                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Las tasas más competitivas del mercado</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Soluciones de cobro con Hey Pago</p>
                    </div>
                </div>
                <br>
                <hey-btn-crear-cuenta [classStyle]="'btn btn-primary-green-light'" title="Me interesa" url="https://quierosercliente.hey.inc/#/cw/form-correo?p=TFM"></hey-btn-crear-cuenta>
                <a [href]="env.assetsUrl + 'folletos/folleto-tarjetadecredito-parami.pdf'" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Tarjeta de Crédito Hey</p>
                </a>
            </div>

        </div>
    </div>
</section>


<!-- mobile-->
<section class="hey-hero-image-tarjeta-credito-hey d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <div>
                    <p>Tarjeta de Crédito Hey</p>

                    <h1>Estás más cerca de obtener tu tarjeta</h1>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <p class="beneficios">Beneficios</p>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Sin anualidad</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Recompensas por tus compras de hasta un 5%</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Meses sin intereses en miles de comercios</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Tarjeta tradicional o *Garantizada</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Escoge el diseño de tu tarjeta y personalízala</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Las tasas más competitivas del mercado</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-93-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Soluciones de cobro con Hey Pago</p>
                    </div>
                </div>

                <br>
                <hey-btn-crear-cuenta [classStyle]="'btn btn-primary-green-light'" title="Me interesa" url="https://quierosercliente.hey.inc/#/cw/form-correo?p=TFM"></hey-btn-crear-cuenta>
                <a [href]="env.assetsUrl + 'folletos/folleto-tarjetadecredito-parami.pdf'" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Tarjeta Hey Negocios</p>
                </a>


            </div>
        </div>
    </div>
</section>