<section class="hey-linkedin">
    <div class="container">
        <div class="row align-items-start">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-1">
                <p>
                    En Hey Banco no discriminamos por motivos de raza, religión, color, origen nacional, sexo (incluido el embarazo, parto, decisiones de salud reproductiva o afecciones médicas relacionadas), orientación sexual, identidad de género, expresión de género,
                    edad, individuo con una discapacidad, información genética, opiniones políticas o actividad u otras características legalmente protegidas aplicables.
                </p>
            </div>

            <div class="col-md-01 offset-md-1 col-lg-4 offset-lg-1">
                <p>Sube tu curriculum o comparte tu perfil de <img loading="lazy" [src]="environment.assetsUrl + 'img/linkedin-logo.svg'"> con nuestro equipo de reclutamiento.</p>

            </div>
        </div>
    </div>
</section>