<section class="hey-hero-image">
    <div class="img-back">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-12 col-md-7 col-lg-6 ">
                    <div class="vertical-center">
                        <h2>¡Hey te lleva a Catar 2022 ™!
                        </h2>
                        <br>
                        <p class="mb-15 sub">
                          Por ser usuario Hey Pro durante julio, agosto y septiembre tienes la oportunidad de asistir a la Copa Mundial de la FIFA Catar 2022™.
                        </p>
                        <img loading="lazy" class="visa-icon" src="https://heybanco.s3.amazonaws.com/assets/img/giveaway/visaxqatar-logo.png" alt="">
                    </div>
                </div>

                <div class="col-10 offset-1 col-md-5 offset-md-0 col-lg-5 offset-lg-1 text-center">
                    <img loading="lazy" class="" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-109-img.png'" alt="Giveaway menores">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-informacion bg-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 titulo">
                <h2>Podrás ser acreedor a:</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 offset-md-0 col-lg-5 text-center seccionUno">

                <div class="row text-left">
                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="col-9 col-md-8 col-lg-10">
                    1 vuelo redondo desde la CDMX con un acompañante
                    </p>
                </div>
                <div class="row text-left">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="col-9 col-md-8 col-lg-10">
                      4 noches en un hotel 5 estrellas
                    </p>
                </div>
                <div class="row text-left ">
                    <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <p class="col-9 col-md-8 col-lg-10">
                    2 partidos de la Copa Mundial de la FIFA™
                    </p>
                </div>

                <!--div class="col-10 col-md-6 col-lg-5 offset-lg-0 text-center"-->
                <!--/div-->

            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-2 seccionDos">

              <div class="row text-left ">
                <img loading="lazy" class="item-img " [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                <p class="col-9 col-md-8 col-lg-10">
                  Transporte desde los partidos con horarios programados y traslados al aeropuerto de Doha
                </p>
              </div>
              <div class="row text-left">
                <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-88-ic-arrow-right-circle-green.svg'" alt="Tu banco digital, Tu banco 100% digital">
                <p class="col-9 col-md-8 col-lg-10">
                  Tarjeta prepagada con valor de $400 USD*
                </p>
              </div>
                <!--div class="col-lg-6 offset-lg-3"-->

            </div>
        </div>
    </div>
</section>

<section class="hey-registro">
    <div class="img-back">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-10 offset-lg-1 text-center d-none d-sm-none d-md-none d-lg-block">
                    <h2>¡Registra tus códigos digitales!</h2>
                </div>
                <div class="col-lg-10 offset-lg-1 text-center d-none d-sm-none d-md-none d-lg-block">
                    <p>Y obtén la oportunidad de viajar a la Copa Mundial de la Fifa Catar 2022 ™</p>
                </div>
                <div class="col-12 col-md-8 offset-md-2 text-center d-block d-md-block d-lg-none">
                    <h2>Mantén tu estatus Hey Pro y obtén la oportunidad de viajar a la Copa Mundial Catar 2022</h2>
                </div>
                <div class="col-md-6 offset-md-3 text-center col-lg-4 offset-lg-4">
                    <a (click)="submitRequest()" class="btn btn-primary col-12" role="button">Canjea tus códigos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-redes">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center mb-15 redes">
                <img loading="lazy" class="icon-social" [src]="environment.assetsUrl + 'img/giveaway/fb-heybanco.svg'" alt="Facebook" width="45">
                <img loading="lazy" class="icon-social" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco.svg'" alt="Instagram" width="45">
                <img loading="lazy" class="icon-social" [src]="environment.assetsUrl + 'img/giveaway/tt-heybanco.svg'" alt="Tiktok" width="45">
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h2>Los resultados se darán a conocer en nuestras redes sociales.</h2>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <p>El acreedor conocerá al instante su condición y recibirá correo de confirmación con las instrucciones necesarias para recibir su incentivo en la tercer semana de octubre</p>
            </div>
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <span>Consulta términos, condiciones, bases y privacidad. Vigencia del 05 al 12 de octubre de 2022. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) durante el mismo
                    periodo de vigencia de la promoción y a través de un correo electrónico notificando el incentivo.
                </span>
            </div>
        </div>
    </div>
</section>

<re-captcha size="invisible" *ngIf="RECAPTCHA_KEY" [siteKey]="RECAPTCHA_KEY" (resolved)="participar($event)">
</re-captcha>

<div class="loader" *ngIf="busy === true">
  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/loader.gif'">
</div>
