<section class="hey-legal-title">
    <div class="container">
        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">
            <div>
                <h3>Servicios legales</h3>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="['/aviso-privacidad']">
                            Aviso de privacidad</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/aviso-legal']">  
                            Aviso legal</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/transparencia']">
                            Ley de transparencia</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a [routerLink]="['/condusef']">
                                CONDUSEF</a></td>
                    </tr>
                    <tr>
                        <td><a [routerLink]="['/ipab']">
                            IPAB</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>