<section class="hey-legal-title">
  <div class="container">
      <div class="container">
          <div class="row">
            <div class="col col-2 col-md-2 col-lg-2">
                <a [routerLink]="['/contratos-productos-negocios']" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
              </a>

            </div>
            <div class="col col-md-6 col-lg-6">
              <h4>
                  Créditos</h4>
            </div>
          </div>
        </div>

      <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">

          <table class="table">
              <tbody>
                  <tr>
                      <td>
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/contrato-tdc-hey-negocios.pdf" target="_blank">
                              Tarjeta Hey Negocios</a></td>
                  </tr>
                  <tr>
                    <td>
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/contrato-cr%C3%A9dito-simple-hey-negocios-tf.pdf" target="_blank">
                              Crédito Simple Hey Negocios Tasa Fija</a></td>
                  </tr>
                  <tr>
                    <td>
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/contrato-cr%C3%A9dito-simple-hey-negocios-tv.pdf" target="_blank">
                              Crédito Simple Hey Negocios Tasa Variable</a></td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
</section>
