<section class="hey-hero-applepay bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xs-12 offset-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-center">
                <div class="vertical-center">
                    <h1>
                        Dile Hey, <br> a Apple Pay
                    </h1>
                    <div class="pill bg-purple">
                        <p>Sin contacto</p>
                    </div>

                    <div class="pill bg-blue">
                        <p>Seguro</p>
                    </div>

                    <div class="pill bg-pink">
                        <p>Rápido</p>
                    </div>

                    <div>
                        <img loading="lazy" class="responsive-logos" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-9-img-logos.svg'" alt="¿Qué es Apple Pay?">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-applepay-tdc bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5">
                <h2>Sin contacto, seguro y rápido</h2>

                <p>
                    Ahora ya podrás utilizar Apple Pay con Hey Banco.<br> Paga de forma segura, en segundos, y sin contacto desde tu iPhone.
                </p>

                <a href="https://heybanco.onelink.me/lpd1/HeaderNuevoPortal" target="_blank" onclick="dataLayer.push({'event':'evAppDownload'});">
                    <img loading="lazy" class="btn-imagen-ap" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-10-img-app-store.png'" alt="¿Cómo descargo hey banco para iPhone iOS?">
                </a>
            </div>
            <div class="col-8 offset-2 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-0-img-iphone.png'" alt="¿Tengo que pagar por la tarjeta física de la Cuenta Hey?">
            </div>
        </div>
    </div>
</section>


<section class="hey-benefits bg-01" id="benefits">
    <div class="container d-none d-lg-block">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-1-ic-contactless.svg'" alt="¿Qué es apple pay?">

                                <h5>Al instante y sin contacto</h5>
                                <p>
                                    Con Apple Pay puedes hacer tus pagos sin contacto y en segundos. Sólo autoriza tu compra con Face ID o Touch ID y acerca tu dispositivo a las terminales que tengan los iconos indicados.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-3-ic-datos-seguros.svg'" alt="¿Mis datos están seguros al usar apple pay?">


                                <h5>Paga en segundos<br> con Face ID</h5>

                                <p>Apple Pay es la forma más rápida y segura de pagar en tiendas. Tus pagos tendrán que ser autorizados a través de Face ID o Touch ID, así que puedes estar tranquilo que tu dinero está seguro.</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-2-ic-face-id.svg'" alt="¿Qué es Face ID?">

                                <h5>Tus datos,<br> seguros
                                </h5>

                                <p>
                                    Cuando haces una compra, Apple Pay usa un número específico de dispositivo y un código único de transacción. Puedes estar tranquilo que tus datos privados, se mantendrán así.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-10 offset-0 col-md-10 offset-md-1">
                <div id="carousel-tablet" class="carousel slide d-none d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="benefit h-100">
                                        <div class="benefit-box h-100">
                                            <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-1-ic-contactless.svg'" alt="¿Qué es apple pay?">

                                            <h5>Al instante y sin contacto</h5>
                                            <p>
                                                Con Apple Pay puedes hacer tus pagos sin contacto y en segundos. Sólo autoriza tu compra con Face ID o Touch ID y acerca tu dispositivo a las terminales que tengan los iconos indicados.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="benefit h-100">
                                        <div class="benefit-box h-100">
                                            <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-3-ic-datos-seguros.svg'" alt="¿Mis datos están seguros al usar apple pay?">

                                            <h5>Paga en segundos<br> con Face ID</h5>

                                            <p>Apple Pay es la forma más rápida y segura de pagar en tiendas. Tus pagos tendrán que ser autorizados a través de Face ID o Touch ID, así que puedes estar tranquilo que tu dinero está seguro.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="benefit h-100">
                                        <div class="benefit-box h-100">

                                            <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-2-ic-face-id.svg'" alt="¿Qué es Face ID?">

                                            <h5>Tus datos,<br> seguros
                                            </h5>

                                            <p>
                                                Cuando haces una compra, Apple Pay usa un número específico de dispositivo y un código único de transacción. Puedes estar tranquilo que tus datos privados, se mantendrán así.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-tablet" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-tablet" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-tablet" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-tablet" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-md-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="benefit h-100">
                                <div class="benefit-box h-100">
                                    <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-1-ic-contactless.svg'" alt="¿Qué es apple pay?">

                                    <h2>Al instante y sin contacto</h2>
                                    <p>
                                        Con Apple Pay puedes hacer tus pagos sin contacto y en segundos. Sólo autoriza tu compra con Face ID o Touch ID y acerca tu dispositivo a las terminales que tengan los iconos indicados.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="benefit h-100">
                                <div class="benefit-box h-100">

                                    <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-3-ic-datos-seguros.svg'" alt="¿Mis datos están seguros al usar apple pay?">
                                    <h2>Paga en segundos<br> con Face ID</h2>

                                    <p>Apple Pay es la forma más rápida y segura de pagar en tiendas. Tus pagos tendrán que ser autorizados a través de Face ID o Touch ID, así que puedes estar tranquilo que tu dinero está seguro.</p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="benefit h-100">
                                <div class="benefit-box h-100">
                                    <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-2-ic-face-id.svg'" alt="¿Qué es Face ID?">

                                    <h2>Tus datos,<br> seguros
                                    </h2>

                                    <p>
                                        Cuando haces una compra, Apple Pay usa un número específico de dispositivo y un código único de transacción. Puedes estar tranquilo que tus datos privados, se mantendrán así.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-applepay-ap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <h2>¿Cómo empiezo a usar Apple Pay?</h2>

                <p>Es muy fácil. En tu iPhone abre la app de Wallet, selecciona el signo de + y sigue las instrucciones en tu pantalla. </p>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-10 offset-1 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-4-img-apple-pay.png'">
            </div>

            <div class="col-8 offset-2 col-md-4 offset-md-4 col-lg-3 offset-lg-0 order-1 order-sm-1 order-md-1 order-lg-2">
                <h3>Tiendas</h3>

                <p>Úsalo en donde veas estos símbolos.</p>

                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-5-img-tiendas.png'">

                <h3>Apps</h3>

                <p>Compra tus apps eligiendo Apple Pay como método de pago.</p>

                <h3>Safari</h3>

                <p>Paga en sitios web, sin llenar tediosos formularios.</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-wallet bg-01">
    <div class="container d-none d-md-none d-lg-block">
        <div class="row">
            <div class="col-md-6 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Agregar tu tarjeta a Apple Pay es muy fácil</h2>

                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-6-img-wallet.png'" alt="¿Cómo agregar mi tarjeta a Apple Pay?">

                <p>Abre la app Wallet</p>

                <p>Toca el signo “+” en la esquina superior derecha.</p>

                <p>Ingresa los datos de tu tarjeta de débito o crédito Hey.</p>

                <a class="btn btn-outline-primary" role="button" href="https://youtu.be/xISNpNysnCo?utm_source=portal&utm_medium=video&utm_campaign=tutorialapplepayportal" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/btn-playicon.svg'">¿Cómo agrego mi tarjeta?
                </a>
            </div>

            <div class="col-md-5 col-lg-5 text-center">
                <img loading="lazy" class="img-tarjeta" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-7-img-agregar-tarjeta.png'" alt="¿Cómo agregar mi tarjeta a Apple Pay?">
            </div>
        </div>
    </div>

    <div class="container d-block d-md-block d-lg-none">
        <div class="row">
            <div class="col-10 offset-1 col-md-8 offset-md-1">
                <h2>Agregar tu tarjeta a Apple Pay es muy fácil</h2>

                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-6-img-wallet.png'" alt="¿Cómo agregar mi tarjeta a Apple Pay?">
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1 col-md-6 offset-md-1">
                <p>Abre la app Wallet</p>

                <p>Toca el signo “+” en la esquina superior derecha.</p>

                <p>Ingresa los datos de tu tarjeta de débito o crédito Hey.</p>

                <a class="btn btn-outline-primary" role="button" href="https://youtu.be/xISNpNysnCo?utm_source=portal&utm_medium=video&utm_campaign=tutorialapplepayportal" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/btn-playicon.svg'">¿Cómo agrego mi tarjeta?
                </a>
            </div>

            <div class="col-10 offset-1 col-md-5 offset-md-0">
                <img loading="lazy" class="tarjeta" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-7-img-agregar-tarjeta.png'" alt="¿Cómo agregar mi tarjeta a Apple Pay?">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-purple">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <h2>Obtén tu Cuenta Hey en minutos.</h2>

                <p style="font-family: lato;">Si no tienes actualmente una Cuenta Hey activa, ábrela desde tu smartphone en minutos y obtén Apple Pay al instante.</p>

                <hey-btn-crear-cuenta title="Quiero mi Cuenta"> </hey-btn-crear-cuenta>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-8-img-faq.png'">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Qué es Hey y Apple Pay?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Hey Banco te ofrece la forma más efectiva de pagar sin efectivo con Apple Pay sin contacto de manera rápida y segura desde tu iPhone, Apple Watch, iPad o Mac.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Cómo funciona Apple Pay?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Puedes realizar compras con tu Tarjeta Hey y Apple Pay en establecimientos que aceptan cargos Contactless y así evitas el intercambio de dinero, o bien también puedes pagar dentro de apps y sitios web.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Es segura mi compra?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Tu Tarjeta en Apple Pay está protegida a través de la tecnología Touch ID, utilizando tu huella dactilar o tu código de desbloqueo así que toda tu información se queda encriptada en un chip específico, denominado “Secure Element”.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    ¿Cuál es el límite de compra con Apple Pay?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Hey Banco y Apple Pay te permiten hacer compras de cualquier cantidad de forma segura y rápida. Como titular, siempre tendrás que autorizar el pago mediante Touch ID o código. Es posible que el establecimiento decida limitar los pagos Contactless a un
                                importe máximo, eso ya depende del mismo comercio.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    ¿Puedo aprovechar las promociones del comercio si pago con Apple Pay?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                ¡Por supuesto! si existe una oferta disponible para ti puedes disfrutar de ella al pagar con Apple Pay ya sea en tienda física o en línea.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Si pago con Apple Pay ¿puedo aplicar Meses sin Intereses con mi Tarjeta Hey?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Sí, siempre y cuando el comercio haga válida la forma de pago con tu Tarjeta de Crédito Hey.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    ¿Cómo doy de baja mi Tarjeta Hey de Apple Pay?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                Puedes dar de baja tu Tarjeta en Ajustes > Wallet & Apple Pay > seleccione la Tarjeta > Eliminar Tarjeta.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-cta-app></hey-cta-app>

<section class="hey-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Conoce más productos</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-cuentas.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Cuentas Hey</h3>

                                            <p>Diseñamos cuentas que crecen contigo adaptándose a tu estilo de vida.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/personas/cuentas-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.
                                            </p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-ahorro.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Cuenta de Ahorro</h3>

                                            <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.
                                            </p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/personas/ahorro-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-auto.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Auto</h3>

                                            <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.
                                            </p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-celular.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Celular</h3>

                                            <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                            <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce
                                                más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-drsam.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>DR. SAM</h3>

                                            <p>¡Cuidamos tu salud! Conoce una nueva forma de llevar tus consultas sin necesidad de salir de tu casa con paquetes que te mantienen sano a ti y a tu dinero.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-drsam-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-creditos.png'">
                                        </div>


                                        <div class="col-7">
                                            <h3>Crédito de auto</h3>

                                            <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                            <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-cuentas.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Cuentas Hey</h3>

                                    <p>Diseñamos cuentas que crecen contigo adaptándose a tu estilo de vida.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/personas/cuentas-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-ahorro.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Cuenta de Ahorro</h3>

                                    <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/personas/ahorro-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-auto.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Auto</h3>

                                    <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-celular.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Celular</h3>

                                    <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                    <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-seguros-drsam.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>DR. SAM</h3>

                                    <p>¡Cuidamos tu salud! Conoce una nueva forma de llevar tus consultas sin necesidad de salir de tu casa con paquetes que te mantienen sano a ti y a tu dinero.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-drsam-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-creditos.png'">
                                </div>

                                <div class="col-md-7 col-7">

                                    <h3>Crédito de auto</h3>

                                    <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                    <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="4"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="5"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="6"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>