<!-- desktop y tablet -->
<section class="hey-hero-image-home bg-purple d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-6 offset-lg-0">
                <div class="vertical-center">

                    <h1>El banco digital conn los mejores beneficios para ti y para tu negocio</h1>

                    <p>Al no tener sucursales físicas, estamos comprometidos a convertir este ahorro en beneficios y condiciones favorables para ti.</p><br>

                    <hey-btn-crear-cuenta [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>


                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-1-hero-image-hey-banco.png'" alt="Tu banco digital">
            </div>
        </div>
    </div>
</section>

<!-- mobile-->
<section class="hey-hero-image-home bg-purple d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row align-items-center">
            <div class="contenedor">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-2-hero-image.hey-banco.png'" alt="Tu banco digital">
                <div class="texto-encima">
                    <h1>El banco digital con los mejores beneficios para ti y para tu negocio</h1>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-hero-home bg-purple-light bg-purple d-sm-block d-md-none d-lg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div>
                    <p>Al no tener sucursales físicas, estamos comprometidos a convertir este ahorro en beneficios y condiciones favorables para ti.</p><br>
                    <hey-btn-crear-cuenta [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- desktop y tablet -->
<section class="hey-home-cta bg-green-dark d-none d-sm-none d-md-block d-lg-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

                        <h2>Desde inversiones hasta créditos en una sola plataforma</h2>

                        <p>Todos los productos que necesitas desde tu celular, sin rebotar entre apps.
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-10 offset-lg-2">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-39-home-hey-banco.png'" alt="Hey Banco - Tu aplicación Banca Móvil">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 bg-01">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

                        <h2>Tu solución para aceptar pagos</h2>

                        <p>Ofrece meses sin intereses a todas las tarjetas y recibe el depósito de tus ventas el mismo día.</p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-10 offset-lg-2 ">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-40-home-hey-banco.png'" alt="Tu banco digital">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- mobile-->
<section class="hey-home-cta bg-green-dark d-block d-sm-block d-md-none d-lg-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 order-2">

                        <h2>Desde inversiones hasta créditos en una sola plataforma</h2>

                        <p>Todos los productos que necesitas desde tu celular, sin rebotar entre apps.
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-10 offset-lg-2 order-1">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-42-home-hey-banco.png'" alt="Tu banco digital">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 bg-01">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 order-2">

                        <h2>Tu solución para aceptar pagos</h2>

                        <p>Ofrece meses sin intereses a todas las tarjetas y recibe el depósito de tus ventas el mismo día.</p>
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-44-home-hey-banco.png'" alt="Tu banco digital">
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-10 offset-lg-2 order-1">
                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-43-home-hey-banco.png'" alt="Hey Banco - Tu solución para aceptar pagos">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- desktop y tablet -->
<section class="hey-hero-image-home bg-green-light d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-6 offset-lg-0">
                <div>

                    <h1>Contratación digital</h1>

                    <p>Sin trámites complicados, sin papeleo y sin ir a sucursal.</p><br>

                    <hey-btn-crear-cuenta [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>

                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-41-home-hey-banco.png'" alt="Hey  Banco - Contratacion digital">
            </div>
        </div>
    </div>
</section>


<!-- mobile-->
<section class="hey-hero-image-home bg-green-light d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row align-items-center">
            <div class="contenedor">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-41-home-hey-banco.png'" alt="Hey  Banco - Contratacion digital">
                <div class="texto-encima">
                    <h4>Contratación digital</h4>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-hero-home bg-yellow-light d-sm-block d-md-none d-lg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div>
                    <p>Sin trámites complicados, sin papeleo y sin ir a sucursal.</p><br>
                    <hey-btn-crear-cuenta [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>

                </div>
            </div>

        </div>
    </div>
</section>