<section class="hey-legal-title">
    <div class="container">
        <div class="container">
                <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">
                    <div>
                        <h3>Folletos informativos</h3>
                    </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2 espacio">
                    <a [routerLink]="['/folletos-informativos']" target="_self"><span class="sidebartxt2">Personas (5)</span></a>   <br><br>
                    <a [routerLink]="['/folletos-informativos-negocios']" target="_self"> <span class="sidebartxt">Negocios (7)</span>  </a> 
                </div>
                <div class="col-12  col-md-10 col-lg-7">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>

                                    
                                    <a [routerLink]="['/folletos-informativos-negocios/cuentas-hey-negocios']" target="_self">
                                        Cuentas Hey Negocios<br>
                                        <span class="txt-small">Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folleto-tarjeta-hey-negocios.pdf" target="_blank">
                                        Tarjeta Hey Negocios<br>
                                        <span class="txt-small">Negocios</span>
                
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a [routerLink]="['/folletos-informativos-negocios/creditos-hey-negocios']" target="_self">
                                        Créditos Hey Negocios<br>
                                        <span class="txt-small">Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a [routerLink]="['/folletos-informativos/fondos-inversion']" target="_self">
                                        Fondos de inversión<br>
                                        <span class="txt-small">Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folleto-ligas-de-cobro.pdf" target="_blank">
                                        Ligas de cobro<br>
                                        <span class="txt-small">Personas y Negocios</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a [routerLink]="['/folletos-informativos-negocios/terminal-inteligente']" target="_self">
                                        Terminal Inteligente<br>
                                        <span class="txt-small">Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folleto-terminal-basica.pdf" target="_blank">
                                        Terminal Básica<br>
                                        <span class="txt-small">Negocios</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>