<!-- desktop y tablet -->
<section class="hey-hero-image-negocios-beneficios d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-0 col-lg-5 offset-lg-0">
                <div>
                    <p>Cuenta Hey Negocios</p>

                    <h1>Cobra, paga e<br>invierte estés donde estés.</h1>

                    <img loading="lazy" class="hero-image-beneficios-negocios" [src]="environment.assetsUrl + 'img/P100-Home/P810-91-hero-image.png'" alt="Tu banco digital">

                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 col-lg-6">
                <p class="beneficios">Beneficios</p>

                <ul>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Sin comisión por manejo de cuenta</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Sin saldo mínimo</li>
                </ul>

                <p class="beneficios">Accede a:</p>
                <ul>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Inversión a 7 días, 8% anual</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Tarjeta de crédito sin anualidad</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Tasas desde 15.90% en Crédito Hey Negocios</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Acepta todas las tarjetas con tu Terminal Hey</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Recibe el depósito de tus ventas el mismo día</li>
                </ul>
                <hey-btn-crear-cuenta [classStyle]="'btn btn-primary-green-dark'" [title]="'Hazte cliente'"></hey-btn-crear-cuenta>
                <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Cuenta Hey Negocios</p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- mobile-->
<section class="hey-hero-image-negocios-beneficios d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <div>
                    <p>Cuenta Hey Negocios</p>

                    <h1>Cobra, paga e invierte estés donde estés.</h1>
                </div>
            </div>

            <div class="col-11 offset-1 col-md-8 col-lg-6">
                <p class="beneficios">Beneficios</p>

                <ul>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Sin comisión por manejo de cuenta</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Sin saldo mínimo</li>
                </ul>

                <p class="beneficios">Accede a:</p>
                <ul>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Inversión a 7 días, 8% anual</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Tarjeta de crédito sin anualidad</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Tasas desde 15.90% en Crédito Hey Negocios</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Acepta todas las tarjetas con tu Terminal Hey</li>
                    <li><img loading="lazy" class="list-img" [src]="environment.assetsUrl + 'img/P100-Home/P810-92-ic-check.svg'" alt="Tu banco digital">Recibe el depósito de tus ventas el mismo día</li>
                </ul>
                <hey-btn-crear-cuenta [classStyle]="'btn btn-primary-green-dark'" [title]="'Hazte cliente'"></hey-btn-crear-cuenta>
                <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Cuenta Hey Negocios</p>
                </a>
            </div>
        </div>
    </div>
</section>