<section class="hey-ayuda-detalle">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda']">Tarjeta de Crédito Hey Banco</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Características</li>
                    </ol>
                </nav>

                <h2>¿Cómo solicito una tarjeta física?</h2>

                <div class="row">
                    <div class="col-lg-7">
                        <p>
                            Existen dos opciones:<br><br> Entrar al menú lateral, después ingresar a Administración de cuentas y en el apartado SOLICITUD O REPOSICIÓN DE TARJETA FÍSICA<br><br> Cuando estamos en la sección de movimientos de la Cuenta o
                            Tarjeta de Crédito, debemos ubicar el “engrane” arriba a la derecha en ajustes de la cuenta, posteriormente encontramos el botón Solicitar tarjeta Física
                        </p>
                    </div>

                    <div class="col-lg-3">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/centro-ayuda/tarjeta-fisica-solicitar/ima1.png'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>