@import "src/sass/components/colors.scss";
@import "src/sass/components/font-styles.scss";
hey-jobs,
hey-confirmation {
    .hey-legal-title {
        padding-bottom: 65px;
        padding-top: 62px;
        h2 {
            @extend %sneak-64;
            margin-bottom: 0;
        }
        h3 {
            @extend %sneak-14;
            margin-bottom: 24px;
        }
    }
    .hey-jobs-title {
        padding-bottom: 54px;
        padding-top: 36px;
        h2 {
            @extend %sneak-36;
            margin-bottom: 0;
        }
    }
    .hey-jobs {
        padding-bottom: 95px;
        padding-top: 38px;
        h2 {
            @extend %sneak-30;
            margin-bottom: 30px;
        }
        .card {
            background: $color-white;
            border: none;
            border-radius: 10px;
            box-shadow: 8px 4px 12px 0 rgba(0, 0, 0, 0.10);
            cursor: pointer;
            margin-bottom: 20px;
            .card-body {
                padding: 24px;
                h3 {
                    @extend %sneak-22;
                    border-bottom: 1px solid $color-black-B2;
                    margin-bottom: 12px;
                    padding-bottom: 10px;
                }
                h4 {
                    border-right: 1px solid $color-black-B2;
                    img {
                        height: auto;
                        margin-right: 16px;
                        width: 20px;
                    }
                }
                h4,
                h5 {
                    @extend %sneak-18;
                    color: $color-black-A5;
                    margin-bottom: 0;
                }
            }
        }
    }
}

//Tablet
@media (max-width: 991.98px) {
    hey-jobs,
    hey-confirmation {
        .hey-legal-title {
            padding-bottom: 44px;
            padding-top: 90px;
            h3 {
                margin-bottom: 30px;
            }
        }
        .hey-jobs-title {
            padding-bottom: 46px;
            padding-top: 44px;
        }
        .hey-jobs {
            padding-bottom: 100px;
            padding-top: 60px;
        }
    }
}

//Mobile
@media (max-width: 767.98px) {
    hey-jobs,
    hey-confirmation {
        .hey-legal-title {
            padding-bottom: 30px;
            padding-top: 32px;
            h3 {
                margin-bottom: 8px;
            }
        }
        .hey-jobs-title {
            padding-bottom: 32px;
            padding-top: 36px;
        }
        .hey-jobs {
            padding-bottom: 24px;
            padding-top: 36px;
        }
    }
}