<section class="hey-legal-title bg-02">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-1">
        <h1>IPAB</h1>

        <p>La administración y transparencia en la información es fundamental en nuestra operación</p>
      </div>
    </div>
  </div>
</section>

<section class="hey-legal-body">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <h2>Titulares y Productos Garantizados</h2>

        <p>
          El programa de Titulares Garantizados por el IPAB, asegura el pago a través de la asunción por parte del IPAB, en forma subsidiada y limitada (hasta 400,000 UDI), de las obligaciones a cargo de las Instituciones Financieras que se consideren garantizadas conforme a la Ley de Protección al Ahorro Bancario, cuando tales Instituciones se encuentren en estado de liquidación o concurso mercantil.
          <br><br>
          <b>Cuentas Individuales:</b> Si usted es titular de una Cuenta Individual, es considerado como Titular Garantizado por el IPAB.
        </p>

        <h3>Productos Garantizados por el IPAB</h3>

        <p>
          <b>Personas Físicas:</b>
          <br>
          Cuenta Hey<br>
          Cuenta Hey Smart<br>
          Cuenta Hey Plus
          <br><br>
          <b>Inversiones:</b>
          <br>
          Inversión Hey
          <br>
          <br>
          <b>Persona Física con Actividad Empresarial y Persona Moral:</b>
          <br>
          Cuenta Hey Negocios
          <br>
          Ahorro Hey Negocios
          <br>
          Cuenta Hey Negocios B
          <br>
          Ahorro Hey Negocios B
          <br><br>
          En Hey Banco, ponemos a tu disposición la página web del Instituto para la Protección al Ahorro Bancario (IPAB) para las consultas que requieras y necesites en base a tus requerimientos.
        </p>

        <h2>Titulares y productos garantizados por el IPAB</h2>

        <div class="row">
          <div class="col-1">
            <img loading="lazy" class="logo" [src]="environment.assetsUrl + 'img/icons/ipab.png'" width="50px" alt=" IPAB ">
          </div>
          <div class="col-9 offset-1 col-lg-10 offset-lg-0">
            <p>
            El Instituto para la Protección al Ahorro Bancario (IPAB) garantiza las operaciones establecidas en el Artículo 46 fracciones I y II de la Ley de Instituciones de Créditos, hasta por 400mil unidades de inversión (UDI) por persona física o moral, y por banco. Visita <a href="https://www.gob.mx/ipab" target="_blank">www.gob.mx/ipab</a>.
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>