<section class="container-fluid hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-9">
                <h2 class="subtitulo">Tarjeta de Crédito Hey</h2>
                <h1 class="titulop">Estás más cerca de obtener tu tarjeta</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12  col-md-12 mt-lg-2 mt-lg-3 mt-md-5">
                <h3 class="subtitulo2">Beneficios</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6  pr-0 pr-md-80">
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Sin anualidad</h4>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Recompensas por tus compras de hasta un 5%</h4>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Meses Sin Intereses en miles de comercios</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6  pr-0 pr-md-80">
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Tarjeta tradicional o *Garantizada</h4>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Escoge el diseño de tu tarjeta y personalízala</h4>
                    </div>
                </div>
                <div class="media">
                    <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'" alt="Tu banco digital, Tu banco 100% digital">
                    <div class="media-body">
                        <h4>Las tasas más competitivas del mercado</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <hey-btn-crear-cuenta title="Hazte cliente" url="https://quierosercliente.hey.inc/#/cw/form-correo?p=TFM"> </hey-btn-crear-cuenta>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <a class="redireccion legales" type="button" target="target" href="https://heybanco.s3.amazonaws.com/assets/folletos/folleto-tarjetadecredito-parami.pdf">Información
                    y Comisiones de la Tarjeta de Crédito Hey</a>
            </div>
        </div>
    </div>
</section>