<section class="hey-legal-title bg-02">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-1">
        <h1>CONDUSEF</h1>

        <p>La administración y transparencia en la información es fundamental en nuestra operación.</p>
      </div>
    </div>
  </div>
</section>

<section class="hey-legal-body">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-0 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
        <h2>CONDUSEF</h2>

        <p>
          Dejamos a tu disposición este espacio para que cuentes con los datos de contacto de la Condusef (Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros).
          <br>
          <br>
          Teléfono: <a href="tel:5553400999">55 53400999</a> desde cualquier ciudad de la República Mexicana
          <br>
          Página de Internet: <a href="https://www.gob.mx/condusef" target="_blank">www.gob.mx/condusef</a>
          <br>
          Asimismo, los datos de nuestra Unidad Especializada de Atención a Usuarios para los fines pertinentes:
          <br>
          <br>
          Domicilio: Av. Rómulo Garza No. 555, Col. Industrias del Vidrio, C.P. 66470, San Nicolás de los Garza, Nuevo León.
          <br>
          Teléfonos: desde cualquier ciudad de la República Mexicana 81 2267 3446
          <br>
          Dirección de correo electrónico: <a href="mailto:transparencia@banregio.com">transparencia@banregio.com</a>
        </p>
      </div>
    </div>
  </div>
</section>