<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <div>
                    <h3>Contratos de productos</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2 espacio">
                    <a [routerLink]="['/contratos-productos']" target="_self"><span class="sidebartxt2">Personas (3)</span></a> <br><br>
                    <a [routerLink]="['/contratos-productos-negocios']" target="_self"> <span class="sidebartxt1">Negocios (3)</span> </a>
                </div>
                <div class="col-12  col-md-10 col-lg-7">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a [routerLink]="['/contratos-productos-negocios/cuentas-hey-contratos']" target="_self">
                                        Cuentas<br>
                                        <span class="txt-small">Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a [routerLink]="['/contratos-productos-negocios/creditos-contratos']" target="_self">
                                      Créditos<br>
                                      <span class="txt-small">Negocios</span>
                                      <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a [routerLink]="['/contratos-productos/inversion-fondos']" target="_self">
                                        Inversión y Fondos de Inversión<br>
                                        <span class="txt-small">Personas y Negocios</span>
                                        <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>