<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <div class="vertical-center">
                    <h1>Ayuda Hospitalaria y Consulta Virtual</h1>
                    <p>Consulta con médicos generales sin salir de tu casa, así como indemnización de hasta $3,000 en caso de que ingreses al hospital.</p>

                    <a class="btn btn-primary" role="button" href="https://cotizadordeseguros.heybanco.com/#/seguros-AyE/cotizador" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Me interesa</a>
                </div>
            </div>

            <div class="col-6 offset-1 col-md-5 offset-md-0 col-lg-4 offset-lg-0 text-center order-1 order-sm-1 order-md-2 order-lg-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-0-hero-image.png'" alt="Indemnización de hasta $3,000 en caso de que ingreses al hospital. Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-2-ic-contratacion.svg'" class="align-self-start" alt="Contratación 100% digital. Tu banco digital">

                    <div class="media-body">
                        <h3>Contratación 100% digital</h3>

                        <p>Elige, cotiza y contrata de forma 100% digital, sin necesidad de salir de casa.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-3-ic-proteccion.svg'" class="align-self-start" alt="Contratación 100% digital. Tu banco digital">

                    <div class="media-body">
                        <h3>Protección en caso de hospitalización</h3>

                        <p>Te recompensamos con $1,000 pesos si durante la vigencia de tu póliza no sufres siniestros y decides renovar con nosotros*.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-5 offset-lg-0">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-4-ic-atencion-personalizada.svg'" class="align-self-start" alt="Atención personalizada. Tu banco digital">

                    <div class="media-body">
                        <h3>Atención personalizada</h3>

                        <p>El día que lo necesites y a cualquier hora contamos con consultas ilimitadas por videollamada.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-5-ic-planes-accesibles.svg'" class="align-self-start" alt="Planes accesibles. Tu banco digital">

                    <div class="media-body">
                        <h3>Planes accesibles</h3>

                        <p>Elige el hospital que gustes y no pagues deducible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <h2>Protección para ti y tu familia</h2>

                <a class="btn btn-primary" role="button" href="https://cotizadordeseguros.heybanco.com/#/seguros-AyE/cotizador" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Lo quiero</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos hey-apoyo-hospitalario-generales">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Compara nuestros seguros</h2>
            </div>
            <div class="col-md-6 col-lg-4 table-responsive-sm table-responsive-md offset-lg-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-purple">
                                <span class="titulo">Smart</span><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-7-ic-stars-plan-smart.svg'" alt="Consultas virtuales. Tu banco digital">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>

                            <td>Recibe $3,000 en caso de hospitalización por:
                                <br><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-9-ic-check-planes.svg'" alt="¿Cómo ganar más dinero con Hey Banco?"> Accidente
                                <br><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-9-ic-check-planes.svg'" alt="¿Cómo ganar más dinero con Hey Banco?"> Enfermedad
                                <br><br> Consultas virtuales para el titular del seguro
                                <br><br> Cobertura anual
                                <br><br>
                                <span class="cantidad">$195.00</span>
                                <br> Mensual
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-6 col-lg-4 table-responsive-sm table-responsive-md offset-lg-0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-01">
                                <span class="titulo">Básico</span><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-8-ic-stars-plan-basico.svg'" alt="Consultas virtuales. Tu banco digital">
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Recibe $2,000 en caso de hospitalización por:
                                <br><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-9-ic-check-planes.svg'" alt="¿Cómo ganar más dinero con Hey Banco?"> Accidente
                                <br><br>
                                <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-9-ic-check-planes.svg'" alt="¿Cómo ganar más dinero con Hey Banco?"> Enfermedad
                                <br><br> Consultas virtuales para el titular del seguro
                                <br><br> Cobertura anual
                                <br><br>
                                <span class="cantidad">$140.00</span>
                                <br> Mensual


                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>


            <div class="col-lg-10 offset-lg-1" style="text-align: center;">
                <a class="btn btn-primary" role="button" href="https://cotizadordeseguros.heybanco.com/#/seguros-AyE/cotizador" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotizar y contratar</a>
                <br><br>
                <p class="privacidad">Consulta el <a href="https://heybanco.s3.amazonaws.com/assets/legales/aviso-de-privacidad-asegurados-chubb-seguros-mexico.pdf" target="_blank">aviso de privacidad</a> </p>
            </div>



        </div>
    </div>
</section>

<section class="hey-benefits bg-01">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <h2>Es fácil y rápido</h2>

                    <div class="row">
                        <div class="col-12 col-md-10 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>1. Cotiza</h3>

                                    <p>Conoce los beneficios y precios de cada plan.</p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-10 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>2. Elige</h3>

                                    <p>Selecciona el plan que se acomode a tus necesidades.</p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-10 col-lg-4">
                            <div class="benefit">
                                <div class="benefit-box">
                                    <h3>3. Contrata</h3>

                                    <p>Con el mismo usuario de tu app Hey Banco sin necesidad de más trámites selecciona "Contratar".
                                    </p>
                                </div>

                                <div class="benefit-box-shadow bg-green-light">
                                    <div class="benefit-box-shadow-detail"></div>
                                    <div class="benefit-box-shadow-detail"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="btn btn-primary" role="button" href="https://cotizadordeseguros.heybanco.com/#/seguros-AyE/cotizador" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Cotiza mi seguro</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos" id="recompensa">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Conoce más sobre el seguro</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Videoconsultas 24/7 con médicos generales certificados.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Apoyo de pago diario en caso de ser hospitalizado por cualquier enfermedad o al sufrir un accidente.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Periodo de espera por hospitalización por enfermedad de 30 días.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Paga tu seguro con cargo automático a Cuenta Hey o Tarjeta de Crédito (excepto American Express).
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Opción de pago mensual, trimestral, semestral o anual.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Contrata la protección para ti (titular de la cuenta) o para tus familiares.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Vigencia anual con renovación automática.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Te cubrimos hasta 15 días de hospitalización por año en múltiples eventos o en un solo evento. Comenzando a pagar a partir de las 24hrs de estar hospitalizado.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>El pago se reembolsará una vez que termine la estadía en el hospital y se entreguen los documentos solicitados.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>El reembolso se aplicará para cualquier hospital.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">'
                        <p>No se paga deducible.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>El seguro es operado por <a href="https://www.chubb.com/mx-es/" target="_blank">Chubb Seguros
                                    México</a>.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>Para contratarlo necesitas ser mexicano de nacimiento.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-12-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital">
                    <div class="media-body">
                        <p>La edad de contratación es de 18 a 64 años de edad.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 offset-md-0 col-lg-2 offset-lg-1">
                <img loading="lazy" class="responsive-logo-chubb" [src]="environment.assetsUrl + 'img/P254-Apoyo-Hospitalario/P254-13-img-logo-hey-chubb.png'" alt="Consultas virtuales. Tu banco digital">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <p>
                    El Ayuda Hospitalaria y Consulta Virtual es ofrecido, operado y contratado por el Cliente exclusivamente con Chubb Seguros México, S.A.<br> Consulta las <a href="https://heybanco.s3.amazonaws.com/assets/legales/accidentes-personales-individual-DR.SAM.pdf"
                        target="_blank">condiciones generales</a> y el <a href="https://heybanco.s3.amazonaws.com/assets/legales/aviso-de-privacidad-asegurados-chubb-seguros-mexico.pdf" target="_blank">aviso de privacidad</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos hey-apoyo-hospitalario-generales bg-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>¿Necesitas ayuda?</h2>
                <p style="text-align: center;">Ten a la mano tu número de póliza.</p>
                <br>
            </div>
            <div class="col-md-6 col-lg-5 table-responsive-sm table-responsive-md offset-lg-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-white">
                                <span class="titulo">Quiero hablar con un doctor</span><br>
                                <span class="cantidad"> 800 087 4598 </span>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-md-6 col-lg-5 table-responsive-sm table-responsive-md offset-lg-0">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="bg-white">
                                <span class="titulo">Tengo dudas sobre mi seguro</span><br>
                                <span class="cantidad"> 800 223 2001</span>
                            </th>
                        </tr>
                    </thead>
                </table>
                <br>
            </div>

        </div>
    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-4 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-faq-cuenta.png'" alt="Tu banco digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Hay opciones para ver especialistas?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                No, las consultas médicas son con médicos generales certificados quienes dan el primer diagnóstico y si este necesita ser evaluado con un especialista se notifica al cliente para que genere cita por su cuenta.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Incluyen medicamentos o solo es la consulta online?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                El Ayuda Hospitalaria y Consulta Virtual únicamente cubre consultas ilimitadas las 24 horas del día, los 7 días de la semana.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cuál es la aseguradora?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Contamos con el respaldo de la aseguradora Chubb, líder mundial en seguros, con más de 20 años de experiencia asegurando personas. Si deseas conocer más acerca de Chubb te invitamos a entrar a: <a href="https://www.chubb.com/mx-es/"
                                    target="_blank">www.chubb.com.mx</a>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    ¿La hospitalización incluye deducible?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                El Ayuda Hospitalaria y Consulta Virtual no incluye pago adicional de deducible, pero sí deben pasar por lo menos 24 hrs en el hospital para que aplique la cobertura y si el ingreso es por enfermedad deben pasar 30 días entre la fecha de contratación
                                y la fecha de ingreso.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    ¿Se me va a notificar cuando mi contrato este por renovarse?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Sí, se notificará la renovación automática de tu plan y si hay cambios a la protección, es importante mencionar que puedes cancelar tu seguro cuando lo necesites.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    ¿Cuánto tiempo tardan en pagarme los días de hospitalización?<img
                                        [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Una vez que hayas entregado los documentos para el reembolso, éste se realizará en un plazo máximo de 7 días.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>