<section class="hey-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h1>Beneficios</h1>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'">

                    <div class="media-body">
                        <h3>Maneja tu banco desde tu celular</h3>

                        <p>En unos cuantos taps paga todos tus servicios, lleva el control de tu dinero y maneja tus cuentas sin necesidad de salir de casa.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'">
                    <div class="media-body">
                        <h3>Movimientos inteligentes</h3>

                        <p>Gracias a nuestra herramienta Money Coach te impulsamos constantemente a llevar mejor tus cuentas por medio de un plan de gastos consciente.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'">

                    <div class="media-body">
                        <h3>Cuentas claras</h3>

                        <p>Con tu banco digital despídete de anualidades, las letras chiquitas y los trámites extra.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-36-ic-arrow-right-circle.svg'">

                    <div class="media-body">
                        <h3>Tu dinero crece</h3>

                        <p>En tu Cuenta Hey, tu Cuenta de Ahorro Hey Plus y tu Tarjeta de Crédito Hey, tu dinero siempre crece gracias a sus rendimientos automáticos.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P100-Home/P100-9-img-beneficios.png'" alt="¿Hey banco cobra comisiones?">
            </div>
        </div>
    </div>
</section>