<section class="hey-hero-image hey-ahorro-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-1 col-lg-6 offset-lg-1 order-1 order-sm-2 order-md-1 order-lg-1">
                <div class="vertical-center">
                    <h1>Con Hey inicia tu Ahorro <span>+</span><b>4.00</b><span>%</span></h1>

                    <p>Cumple tus metas de ahorro desde tu app con Hey Banco y recibe rendimiento anual del <b>+4.00%</b>. Sin plazos forzosos y tu dinero siempre disponible.</p>

                    <hey-btn-crear-cuenta title="Abrir una cuenta"> </hey-btn-crear-cuenta>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-3 offset-md-1 col-lg-3 offset-lg-1 text-center order-2 order-sm-1 order-md-2 order-lg-2">
                <img loading="lazy" class="responsive-hero-ahorro" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-0-hero-image.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-2-ic-programa-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Programa tu ahorro por metas</h3>

                        <p>Establece tu meta y suma a tu ahorro cada 15 ó 30 días de forma automática.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-3-ic-metas-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Fija tus metas</h3>

                        <p>Configura hasta 5 metas de ahorro al mismo tiempo con un límite de 3 Millones de pesos entre ellas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-5 offset-lg-0">
                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-4-ic-crece-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Crece tu Ahorro</h3>

                        <p>Recibe el <b>4.00%</b> de rendimiento anual garantizado ahorrando desde $0.01 centavo.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-5-ic-siempre-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <h3>Siempre en tus manos</h3>

                        <p>Tu dinero siempre esta disponible, retira la cifra que quieras, cuando lo necesites.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <hey-btn-crear-cuenta title="Quiero mi Cuenta Hey"> </hey-btn-crear-cuenta>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta no-padding bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h3>Ingresa a tu app y define tu meta, el monto, y en cuanto tiempo lo quieres lograr. Gana <b>4.00%</b> de rendimiento anual y sin plazos forzosos.</h3>
                </div>
            </div>

            <div class="col-12 offset-0 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <div class="horizontal-bottom">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-9-img-inicia-ahorro.png'" alt="Ahorra en hey banco. Tu banco digital">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-ahorro-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-4 offset-md-1 col-lg-4 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" class="responsive-tasas" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-10-img-tasas-ahorro.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>

            <div class="col-12 col-md-6 offset-md-0 col-lg-6 offset-lg-0 order-1 order-md-2 order-lg-2">
                <h2>¿Por qué nuestras tasas son altas?</h2>

                <p>Al ser un banco 100% digital no tenemos sucursales por lo tanto transformamos ese ahorro en tasas altas para nuestros productos.</p>

                <hey-btn-crear-cuenta title="Comienza tu Ahorro"> </hey-btn-crear-cuenta>
            </div>
        </div>
    </div>
</section>

<section class="hey-simulador bg-01">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 offset-sm-1 col-lg-7 offset-lg-1">
                <h2>Calcula tu ahorro</h2>

                <p>Define una meta de ahorro, elige el período ya sea semanal, quincenal o mensual y el tiempo que quieres que dure tu ahorro.</p>
            </div>
        </div>

        <form [formGroup]="ahorroForm">
            <div class="row">
                <div class="col-sm-7 offset-sm-1 col-lg-4 offset-lg-1">
                    <mat-form-field class="meta">
                        <mat-label>¿Cuál es tu meta de ahorro?</mat-label>

                        <input matInput formControlName="ahorroMeta" placeholder="$0.00" type="number">
                    </mat-form-field>

                    <p>¿Con que período quieres depositar?</p>

                    <mat-radio-group class="row" formControlName="ahorroPlazo">
                        <div class="col-4 col-md-4 col-lg-4">
                            <mat-radio-button value="semanal">Semanal</mat-radio-button>
                        </div>

                        <div class="col-4 col-md-4 col-lg-4">
                            <mat-radio-button value="quincenal">Quincenal</mat-radio-button>
                        </div>

                        <div class="col-4 col-md-4 col-lg-4">
                            <mat-radio-button value="mensual">Mensual</mat-radio-button>
                        </div>
                    </mat-radio-group>

                    <p>¿En cuánto tiempo quieres cumplir tu meta?</p>

                    <div *ngIf="ahorroPlazo === 'semanal'">
                        <mat-slider #plazo (change)="updateSetting($event)" thumbLabel [displayWith]="formatLabel" tickInterval="3" min="1" max="144" [value]="plazo"></mat-slider>

                        <div class="row">
                            <div class="col-6">
                                <p>1 semana</p>
                            </div>

                            <div class="col-6 text-right">
                                <p>144 semanas</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="ahorroPlazo === 'quincenal'">
                        <mat-slider #plazo (change)="updateSetting($event)" thumbLabel [displayWith]="formatLabel" tickInterval="3" min="1" max="72" [value]="plazo"></mat-slider>

                        <div class="row">
                            <div class="col-6">
                                <p>1 quincena</p>
                            </div>

                            <div class="col-6 text-right">
                                <p>72 quincenas</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="ahorroPlazo === 'mensual'">
                        <mat-slider #plazo (change)="updateSetting($event)" thumbLabel [displayWith]="formatLabel" tickInterval="3" min="1" max="36" [value]="plazo"></mat-slider>

                        <div class="row">
                            <div class="col-6">
                                <p>1 mes</p>
                            </div>

                            <div class="col-6 text-right">
                                <p>36 meses</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-block d-sm-block d-lg-none grafica">
                        <h4>Rendimiento de tu meta una vez cumplida*</h4>

                        <div class="row text-center justify-content-center">
                            <div class="col-3">
                                <h5>Hey Banco</h5>

                                <p>4.00<span>%</span></p>

                                <div class="pill">
                                    <p>{{ calculaRendimiento() | currency:'USD':'symbol' }} </p>
                                </div>

                                <div class="graph"></div>
                            </div>

                            <div class="col-3">
                                <div class="space"></div>

                                <h5>Otros bancos</h5>

                                <p>2.17<span>%</span></p>

                                <div class="pill">
                                    <p>{{ calculaRendimientoOtrobanco() | currency:'USD':'symbol' }} </p>
                                </div>

                                <div class="graph"></div>
                            </div>

                            <div class="col-12">
                                <hr>
                            </div>
                        </div>

                        <p class="legal">
                            *El rendimiento se calcula sin tener en cuenta retiros parciales.<br> El cálculo en el rendimiento es aproximado.
                        </p>
                    </div>

                    <div class="card">
                        <div class="card-body" *ngIf="ahorroPlazo === 'semanal'">
                            <h3>Ahorra {{ calculaAhorro() | currency:'USD':'symbol' }} semanales</h3>

                            <p>durante {{ plazo }} semanas vas a llegar a tu meta de {{ ahorroMeta | currency:'USD':'symbol' }} obteniendo un rendimiento de <b>{{ calculaRendimiento() | currency:'USD':'symbol' }}</b>.</p>
                        </div>

                        <div class="card-body" *ngIf="ahorroPlazo === 'quincenal'">
                            <h3>Ahorra {{ calculaAhorro() | currency:'USD':'symbol' }} quincenales</h3>

                            <p>durante {{ plazo }} quincenas vas a llegar a tu meta de {{ ahorroMeta | currency:'USD':'symbol' }} obteniendo un rendimiento de <b>{{ calculaRendimiento() | currency:'USD':'symbol' }}</b>.</p>
                        </div>

                        <div class="card-body" *ngIf="ahorroPlazo === 'mensual'">
                            <h3>Ahorra {{ calculaAhorro() | currency:'USD':'symbol' }} mensuales</h3>

                            <p>durante {{ plazo }} meses vas a llegar a tu meta de {{ ahorroMeta | currency:'USD':'symbol' }} obteniendo un rendimiento de <b>{{ calculaRendimiento() | currency:'USD':'symbol' }}</b>.</p>
                        </div>

                        <hey-btn-crear-cuenta title="Comienza tu Ahorro"> </hey-btn-crear-cuenta>
                    </div>
                </div>

                <div class="col-sm-7 offset-sm-1 col-lg-5 offset-lg-1">
                    <div class="d-none d-sm-none d-lg-block grafica">
                        <h4>Rendimiento de tu meta una vez cumplida*</h4>

                        <div class="row text-center justify-content-center">
                            <div class="col-3">
                                <h5>Hey Banco</h5>

                                <p>4.00<span>%</span></p>

                                <div class="pill">
                                    <p>{{ calculaRendimiento() | currency:'USD':'symbol' }} </p>
                                </div>

                                <div class="graph"></div>
                            </div>

                            <div class="col-3">
                                <div class="space"></div>

                                <h5>Otros bancos</h5>

                                <p>2.17<span>%</span></p>

                                <div class="pill">
                                    <p>{{ calculaRendimientoOtrobanco() | currency:'USD':'symbol' }} </p>
                                </div>

                                <div class="graph"></div>
                            </div>

                            <div class="col-12">
                                <hr>
                            </div>
                        </div>

                        <p class="legal">
                            El rendimiento se calcula sin tener en cuenta retiros parciales.<br> El cálculo en el rendimiento es aproximado.<br> *Ganancia Anual Total: GAT nominal 4.07%/ GAT real 0.04% antes de impuestos, por una inversión de $0.01 centavo
                            y un período de 12 meses. La GAT real es el rendimiento que obtendría después de descontar la inflación estimada. Cálculo realizado el 6 de diciembre de 2021. Vigencia del cálculo de la GAT al 6 de junio de 2022. Tasa de Rendimiento
                            Anual Fija 4.00% antes de impuestos. La GAT varía en función al monto de la inversión y el periodo de la misma.
                            <br> Vigencia de la promoción al 30 de junio de 2022.
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="hey-ipab">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Invierte y ahorra con tranquilidad</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-9 col-lg-3 offset-lg-1 order-2 order-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-13-img-ipab.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>

            <div class="col-lg-7 offset-lg-1 order-1 order-md-2 order-lg-2">
                <p>
                    Con Hey Banco, tu ahorro y tu inversión están protegidos por el Instituto para la Protección al Ahorro Bancario.
                    <br><br> El IPAB te respalda por hasta 400 mil unidades de inversión (UDI) o $2,648,804.40 pesos, estimado al 13 de enero 2021.
                </p>

                <a class="btn btn-primary" href="https://www.gob.mx/ipab/que-hacemos" target="_blank">Conoce más sobre el
          IPAB</a>
            </div>
        </div>
    </div>
</section>


<section class="hey-cta no-padding bg-01">
    <div class="container">
        <div class="row hey-ahorro ">

            <div class="col-6 offset-0 col-md-6 offset-md-1 col-lg-5 offset-lg-1 vertical-full">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-35-ing-ahorro-inmediato.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>

            <div class="col-12 col-md-8 offset-md-1 col-lg-5 offset-lg-1">
                <div class="vertical-center">

                    <h2>Ahorro inmediato</h2>

                    <p>Programa que se deposite a tus ahorros el equivalente a un porcentaje de lo que gastas con tu Tarjeta de Débito, desde 1% hasta 5%.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-requisitos">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>La programación del ahorro es cada 7, 15 o 30 días.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Puedes mantener hasta 5 metas de ahorro prendidas al mismo tiempo.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>El limite de tu ahorro son 3 millones de pesos.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Al retirar tu ahorro se abona a tu Cuenta Hey.</p>
                    </div>
                </div>


                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>El rendimiento de tu ahorro lo recibes de forma mensual.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Puedes depositar a tu ahorro desde tu Cuenta Hey o Banregio.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Desde tu App Hey Banco puedes detener y activar tus ahorros.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-16-ic-arrow-right-circle-ahorro.svg'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Tener una Cuenta Hey activa.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#cuentaheyplus" aria-expanded="false" aria-controls="cuentaheyplus">Cuenta Hey Plus</button>

                <p class="collapse multi-collapse show" id="cuentaheyplus">
                    *Ganancia Anual Total: GAT nominal <b class="num">4.07%</b> / GAT real <b class="num">0.04%</b> antes de impuestos, por una inversión de $0.01 centavo y un período de 12 meses. La GAT real es el rendimiento que obtendría después de
                    descontar la inflación estimada. Cálculo realizado el 6 de diciembre de 2021. Vigencia del cálculo de la GAT al 6 de junio de 2022. Tasa de Rendimiento Anual Fija <b>4.00%</b> antes de impuestos. La GAT varía en función al monto de
                    la inversión y el periodo de la misma.<br> Vigencia de la promoción al 30 de junio de 2022.<br><br> Abreviaturas: App (Aplicación), UDI (Unidades de Inversión).<br><br> La información se obtuvo de las páginas electrónicas de cada entidad
                    financiera (BBVA Bancomer y HSBC) vigente al momento de realizar la consulta Diciembre 2021.

                    <br>
                    <br>
                    <br>
                    <br>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-3 offset-0 col-lg-1 offset-lg-1">
                <a href="https://www.gob.mx/ipab" target="_blank">
                    <img loading="lazy" class="ipab" [src]="environment.assetsUrl + 'img/P230-Ahorro/P230-17-btn-ipab.png'" alt="Ahorra en hey banco. Tu banco digital">
                </a>
            </div>

            <div class="col-9 col-lg-9">
                <p>
                    El instituto para la Protección al Ahorro Bancario (IPAB) garantiza las operaciones establecidas en el Artículo 46 fracciones I y II, de la Ley de Instituciones de Crédito, hasta por 400 mil unidades de inversión (UDI) por persona física o moral, y por
                    banco, visita <a href="https://www.gob.mx/ipab" target="_blank">http://www.gob.mx/ipab</a>.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-4 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-faq-cuenta.png'" alt="Tu banco digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Qué es Hey plus?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Hey Plus es una herramienta de ahorro que incluye tu Cuenta Hey, dicho ahorro lo podrás programar desde tu app definiendo metas u objetivos a través de cargos automáticos que puedes programar de manera mensual o quincenal, además tu dinero siempre estará
                                disponible ya que no tiene plazos forzosos.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cómo abro mi ahorro Hey Plus?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                ¡Muy fácil! Lo primero es que debes contar con una Cuenta Hey activa y sigue estos pasos dentro de tu app:
                                <br><br>
                                <b>Login</b> > desliza hasta la opción de ahorro > presiona <b>Nuevo Ahorro</b> > define un nombre, monto, período y duración para tu ahorro > presiona <b>Crear</b> > acepta términos legales.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Cómo ingreso dinero a mi ahorro?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Se le llama domiciliación al cargo automático de un monto definido en el ahorro. Puede ser quincenal o mensual, dependiendo de cómo lo hayas establecido.<br><br> La domiciliación termina una vez que la <b>fecha de vencimiento</b>                                de tu ahorro se haya alcanzado.
                                <br><br> Puedes detener la domiciliación cuantas veces quieras, solamente tienes que detener el ahorro.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Puedo hacer transferencias directas a Hey plus? ¿Cómo?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Al crear tu ahorro Hey Plus se crea una cuenta adicional para realizar el ahorro, esto quiere decir que tiene su propio número de CUENTA y CLABE, asi que si quisieras hacer un abono fuera de la app lo puedes hacer con estos datos.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  ¿Cuál es la diferencia entre la Hey plus y la Cuenta Hey?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                La Cuenta Hey es tu cuenta a la vista a la cual puedes depositar tu dinero, realizar transferencias, pagos de servicios, retiros desde cajeros; Hey Plus es una herramienta de ahorro adicional en la que podrás establecer metas y objetivos de ahorro de
                                manera quincenal o mensual.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  ¿Cómo retiro un ahorro?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Puedes hacer un retiro de tu ahorro directamente desde tu app, solo tienes que seguir los siguientes pasos:
                                <br><br>
                                <b>Login</b> > desliza hasta el Ahorro y da clic en los 3 puntos en la tarjeta > botón <b>Retirar
                  ahorro</b>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>