<section class="hey-ivr-form bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-1 col-lg-8 offset-lg-2">
                <h1>Solicitud de mantenimiento</h1>


                <p>Reporta fallas en tu TPV compartiendo los datos solicitados a continuación.</p>
                <p>Una vez recibida tu información, te enviaremos un correo con el número de folio para el seguimiento a tu solicitud.</p><br>

                <hey-datos-afiliacion [datosAfiliacionForm]="datosAfiliacionForm" (form)="updateAfiliadosForm($event)"></hey-datos-afiliacion>

                <hey-domicilio-afiliacion [domicilioAfiliacionForm] (form)="updateDomicilioAfiliadosForm($event)"></hey-domicilio-afiliacion>

                <hey-info-entrega [infoEntregaAfiliacionForm]="infoEntregaAfiliacionForm" (form)="updateInfoEntregaAfiliadosForm($event)"></hey-info-entrega>

                <div class=" form" [formGroup]="mantenimientoForm">
                    <h2>Información de la solicitud</h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <mat-form-field appearance="fill" class="mb-10">
                                <mat-label>Modelo (marca) / Tecnología</mat-label>
                                <mat-select formControlName="modeloTectnologia">
                                    <mat-option value="NEXGO N3">NEXGO N3</mat-option>
                                    <mat-option value="SUMNI">SUMNI</mat-option>
                                </mat-select>

                                <mat-error *ngIf="mantenimientoForm.get('modeloTectnologia').hasError('required')">
                                    Campo requerido
                                </mat-error>
                            </mat-form-field>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <mat-form-field appearance="fill" class="mb-10">
                                <mat-label>Tipo de falla</mat-label>
                                <mat-select formControlName="tipo" (ngModelChange)="changeTipo()">
                                    <mat-option value=">Error de conexión">Error de conexión</mat-option>
                                    <mat-option value="Error en batería">Error en batería</mat-option>
                                    <mat-option value="Falla al cobrar">Falla al cobrar</mat-option>
                                    <mat-option value="Configurar WiFi">Configurar WiFi</mat-option>
                                    <mat-option value="Falla en impresión de voucher">Falla en impresión de voucher</mat-option>
                                    <mat-option value="No enciende terminal">No enciende terminal</mat-option>
                                    <mat-option value="Alert Interruption">Alert Interruption</mat-option>
                                    <mat-option value="No SIM / Chip">No SIM / Chip</mat-option>
                                    <mat-option value="Otro">Otro</mat-option>
                                </mat-select>
                                <mat-error *ngIf="mantenimientoForm.get('tipo').hasError('required')">
                                    Campo requerido
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6 col-lg-12" *ngIf="otherVisible">
                            <mat-form-field appearance="fill" class="mb-10">
                                <mat-label>Especificar</mat-label>
                                <input type="text" matInput formControlName="tipoOtro" style="height: 60px;">
                            </mat-form-field>
                        </div>
                    </div>

                    <h2 class="evidence">Sube evidencias de tu falla</h2>

                    <div class="row">
                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card text-center">
                                <button class="btn btn-link" *ngIf="model.evidence.payload !== null && model.evidence.payload.length > 0" (click)="removeFile(model.evidence, MODEL.EVIDENCE)">
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/trash.svg'">
                </button>

                                <img loading="lazy" *ngIf="model.evidence.payload !== null && model.evidence.payload.length > 0" [src]="(model.evidence.base64Head ? model.evidence.base64Head : '') + ',' + model.evidence.payload" [alt]="MODEL.EVIDENCE" class="preview">
                                <img loading="lazy" *ngIf="model.evidence.payload === null || model.evidence.payload.length <= 0" [src]="environment.assetsUrl + 'img/icons/ivr-camara.png'" class="icon">

                                <p *ngIf="model.evidence.payload === null || model.evidence.payload.length <= 0" class="card-text">{{ this.IDENTIFIER_VALUES_TEXT[MODEL.EVIDENCE] }}</p>

                                <input class="position-absolute w-100 h-100" type="file" [name]="MODEL.EVIDENCE" placeholder="Upload file" style="opacity: 0; top: 0; left: 0" (change)="fileChange($event, MODEL.EVIDENCE)" #evidenceFile>
                            </div>

                            <mat-hint *ngIf="model.evidence.payload !== null && model.evidence.payload.length > 0">{{ model.evidence.name }} | {{ model.evidence.size }}bytes</mat-hint>

                            <mat-error *ngIf="evidenceError === STATIC.FILE_CHANGE_ERROR_INVALID_MIMETYPE">Formato no valido. Sube una foto en png o jpg.</mat-error>

                            <mat-error *ngIf="evidenceError === STATIC.FILE_CHANGE_ERROR_INVALID_FILESIZE">Tu imagen excede el peso máximo (2 MB)</mat-error>
                        </div>

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card text-center">
                                <button class="btn btn-link" *ngIf="model.evidence2.payload !== null && model.evidence2.payload.length > 0" (click)="removeFile(model.evidence2, MODEL.EVIDENCE_2)">
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/trash.svg'">
                </button>

                                <img loading="lazy" *ngIf="model.evidence2.payload !== null && model.evidence2.payload.length > 0" [src]="(model.evidence2.base64Head ? model.evidence2.base64Head : '') + ',' + model.evidence2.payload" [alt]="MODEL.EVIDENCE_2" class="preview">
                                <img loading="lazy" *ngIf="model.evidence2.payload === null || model.evidence2.payload.length <= 0" [src]="environment.assetsUrl + 'img/icons/ivr-camara.png'" class="icon">

                                <p *ngIf="model.evidence2.payload === null || model.evidence2.payload.length <= 0" class="card-text">{{ this.IDENTIFIER_VALUES_TEXT[MODEL.EVIDENCE_2] }}</p>

                                <input class="position-absolute w-100 h-100" type="file" [name]="MODEL.EVIDENCE_2" placeholder="Upload file" style="opacity: 0; top: 0; left: 0" (change)="fileChange($event, MODEL.EVIDENCE_2)" #evidence2File>
                            </div>

                            <mat-hint *ngIf="model.evidence2.payload !== null && model.evidence2.payload.length > 0">{{ model.evidence2.name }} | {{ model.evidence2.size }}bytes</mat-hint>

                            <mat-error *ngIf="evidence2Error === STATIC.FILE_CHANGE_ERROR_INVALID_MIMETYPE">Formato no valido. Sube una foto en png o jpg.</mat-error>

                            <mat-error *ngIf="evidence2Error === STATIC.FILE_CHANGE_ERROR_INVALID_FILESIZE">Tu imagen excede el peso máximo (2 MB)</mat-error>
                        </div>

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card text-center">
                                <button class="btn btn-link" *ngIf="model.evidence3.payload !== null && model.evidence3.payload.length > 0" (click)="removeFile(model.evidence3, MODEL.EVIDENCE_3)">
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/trash.svg'">
                </button>

                                <img loading="lazy" *ngIf="model.evidence3.payload !== null && model.evidence3.payload.length > 0" [src]="(model.evidence3.base64Head ? model.evidence3.base64Head : '') + ',' + model.evidence3.payload" [alt]="MODEL.EVIDENCE_3" class="preview">
                                <img loading="lazy" *ngIf="model.evidence3.payload === null || model.evidence3.payload.length <= 0" [src]="environment.assetsUrl + 'img/icons/ivr-camara.png'" class="icon">

                                <p *ngIf="model.evidence3.payload === null || model.evidence3.payload.length <= 0" class="card-text">{{ this.IDENTIFIER_VALUES_TEXT[MODEL.EVIDENCE_3] }}</p>

                                <input class="position-absolute w-100 h-100" type="file" [name]="MODEL.EVIDENCE_3" placeholder="Upload file" style="opacity: 0; top: 0; left: 0" (change)="fileChange($event, MODEL.EVIDENCE_3)" #evidence3File>
                            </div>

                            <mat-hint *ngIf="model.evidence3.payload !== null && model.evidence3.payload.length > 0">{{ model.evidence3.name }} | {{ model.evidence3.size }}bytes</mat-hint>

                            <mat-error *ngIf="evidence3Error === STATIC.FILE_CHANGE_ERROR_INVALID_MIMETYPE">Formato no valido. Sube una foto en png o jpg.</mat-error>

                            <mat-error *ngIf="evidence3Error === STATIC.FILE_CHANGE_ERROR_INVALID_FILESIZE">Tu imagen excede el peso máximo (2 MB)</mat-error>
                        </div>

                        <div class="col-6 col-md-4 col-lg-3">
                            <div class="card text-center">
                                <button class="btn btn-link" *ngIf="model.evidence4.payload !== null && model.evidence4.payload.length > 0" (click)="removeFile(model.evidence4, MODEL.EVIDENCE_4)">
                  <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/trash.svg'">
                </button>

                                <img loading="lazy" *ngIf="model.evidence4.payload !== null && model.evidence4.payload.length > 0" [src]="(model.evidence4.base64Head ? model.evidence4.base64Head : '') + ',' + model.evidence4.payload" [alt]="MODEL.EVIDENCE_4" class="preview">
                                <img loading="lazy" *ngIf="model.evidence4.payload === null || model.evidence4.payload.length <= 0" [src]="environment.assetsUrl + 'img/icons/ivr-camara.png'" class="icon">

                                <p *ngIf="model.evidence4.payload === null || model.evidence4.payload.length <= 0" class="card-text">{{ this.IDENTIFIER_VALUES_TEXT[MODEL.EVIDENCE_4] }}</p>

                                <input class="position-absolute w-100 h-100" type="file" [name]="MODEL.EVIDENCE_4" placeholder="Upload file" style="opacity: 0; top: 0; left: 0" (change)="fileChange($event, MODEL.EVIDENCE_4)" #evidence4File>
                            </div>

                            <mat-hint *ngIf="model.evidence4.payload !== null && model.evidence4.payload.length > 0">{{ model.evidence4.name }} | {{ model.evidence4.size }}bytes</mat-hint>

                            <mat-error *ngIf="evidence4Error === STATIC.FILE_CHANGE_ERROR_INVALID_MIMETYPE">Formato no valido. Sube una foto en png o jpg.</mat-error>

                            <mat-error *ngIf="evidence4Error === STATIC.FILE_CHANGE_ERROR_INVALID_FILESIZE">Tu imagen excede el peso máximo (2 MB)</mat-error>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-6 col-lg-6">
                            <a class="btn btn-outline-primary" role="button" [routerLink]="['/ayuda-negocios']">Cancelar</a>
                        </div>

                        <div class="col-6 col-md-6 col-lg-6 text-right">
                            <button class="btn btn-primary" type="button" [disabled]="mantenimientoForm.invalid || datosAfiliacionForm.invalid || domicilioAfiliacionForm.invalid || infoEntregaAfiliacionForm.invalid  || busy" (click)="submitForm()">Enviar</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div class="loader" *ngIf="busy">
    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/loader.gif'">
</div>

<div id="ivr-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="modalType === STATIC.MODAL_TYPE_EMAIL">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <h5 class="modal-title">¡Excelente tu información ha sido enviada</h5>

                <p>En breve uno de nuestros agentes Hey te contactará para darle seguimiento a tu caso</p>

                <div class="row">
                    <div class="col-lg-5">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>

                            <input matInput [formControl]="nameForm" [name]="MODEL.NAME">

                            <mat-error *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched)">Ingresa un nombre válido</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-lg-5">
                        <mat-form-field>
                            <mat-label>Correo electrónico</mat-label>

                            <input matInput [formControl]="emailForm" [name]="MODEL.EMAIL">

                            <mat-error *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched)">Ingresa un correo electrónico válido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>

                <button type="button" class="btn btn-primary" (click)="submitForm()" [disabled]="!mantenimientoForm.valid || busy">Enviar</button>
            </div>
        </div>

        <div class="modal-content" *ngIf="modalType === STATIC.MODAL_TYPE_SUCCESS">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <h5 class="modal-title">¡Excelente, tu información ha sido enviada!</h5>

                <p>En breve uno de nuestros agentes Hey te contactará para darle seguimiento a tu caso.</p> <br>

                <p>Te recomendamos consultar nuestro <a target="_blank" [routerLink]="['/aviso-privacidad']">Aviso de Privacidad</a></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>

        <div class="modal-content" *ngIf="modalType === STATIC.MODAL_TYPE_ERROR">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="modal-body">
                <h5 class="modal-title">¡Ocurrió un error!</h5>

                <p>Al parecer no pudimos enviar tu información.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Entendido</button>
            </div>
        </div>
    </div>
</div>