<section class="bgimage-videotutoriales">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Consulta nuestros videotutoriales</h1>
            </div>
        </div>

    </div>

</section>


<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>App Hey Banco</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/x8DnXygXZAc" title="¿Qué es mi tarjeta virtual Hey y cómo la uso?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Usa tu Tarjeta Virtual para hacer todas tus compras por internet.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/zch1Te4cBXA" title="¿Cómo rastreo el envío de mi tarjeta Hey a mi domicilio?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Dale seguimiento al envío de tu plástico desde la App Hey.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/88huXEjArJc" title="¿Cómo actualizo los datos personales de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Actualiza tus datos personales directamente en tu App.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">


                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/iX_TxKoF33o" title="¿Cómo recupero mi usuario Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Recupera tu usuario en tan solo tres pasos.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/x8DnXygXZAc" title="¿Qué es mi tarjeta virtual Hey y cómo la uso?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Usa tu Tarjeta Virtual para hacer todas tus compras por internet.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/zch1Te4cBXA" title="¿Cómo rastreo el envío de mi tarjeta Hey a mi domicilio?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Dale seguimiento al envío de tu plástico desde la App Hey.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/88huXEjArJc" title="¿Cómo actualizo los datos personales de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Actualiza tus datos personales directamente en tu App.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/iX_TxKoF33o" title="¿Cómo recupero mi usuario Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Recupera tu usuario en tan solo tres pasos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="1"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="2"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="3"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="hey-slider-card">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <h2>Cuentas</h2><br>
            </div>
        </div>

        <div class="row">
            <div class="col-11 col-lg-11 offset-lg-1">
                <div id="multicard-desktop-zoomin" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row row-cols-3">
                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/dfm_asBsrKI" title="¿Dónde encuentro mis estados de cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Encuentra tus estados de cuenta de manera fácil y rápida.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/pgdspM-yMA4" title="¿Dónde encuentro el saldo disponible de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Consulta el saldo disponible en tu cuenta muy fácil.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/hjql0rWyQnw" title="¿Dónde encuentro el número de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Identifica el número de cuenta en tan solo dos pasos.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row row-cols-3">
                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/-A6ye64UVrg" title="¿Dónde encuentro la CLABE de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Ubica en tu App la cuenta CLABE de tu cuenta.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/VSo1-X6KvaE" title="¿Dónde reviso los movimientos de mis cuentas Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Encuentra tus movimientos en tan solo tres pasos.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 ">
                                    <div class="card h-100 video-responsive">
                                        <iframe src="https://www.youtube.com/embed/TH30MrqS0_Q" title="¿Cómo abrir una cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                        <div class="card-body">
                                            <p class="card-text">
                                                Abre una Cuenta Hey Banco en minutos.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-desktop-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-desktop-zoomin" data-slide-to="2" class="active"><span></span></li>
                        <li data-target="#multicard-desktop-zoomin" data-slide-to="3"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-desktop-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="multicard-mobile-zoomin" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/dfm_asBsrKI" title="¿Dónde encuentro mis estados de cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Encuentra tus estados de cuenta de manera fácil y rápida.
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/pgdspM-yMA4" title="¿Dónde encuentro el saldo disponible de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Consulta el saldo disponible en tu cuenta muy fácil.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/hjql0rWyQnw" title="¿Dónde encuentro el número de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Identifica el número de cuenta en tan solo dos pasos.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item active">

                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/-A6ye64UVrg" title="¿Dónde encuentro la CLABE de mi cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Ubica en tu App la cuenta CLABE de tu cuenta.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/zch1Te4cBXA" title="¿Cómo rastreo el envío de mi tarjeta Hey a mi domicilio?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Dale seguimiento al envío de tu plástico desde la App Hey.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/VSo1-X6KvaE" title="¿Dónde reviso los movimientos de mis cuentas Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Encuentra tus movimientos en tan solo tres pasos.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="card h-100 video-responsive">
                                <iframe src="https://www.youtube.com/embed/TH30MrqS0_Q" title="¿Cómo abrir una cuenta Hey?" onclick="dataLayer.push({'event':'evPageLink'});" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                <div class="card-body">
                                    <p class="card-text">
                                        Abre una Cuenta Hey Banco en minutos.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#multicard-mobile-zoomin" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#multicard-mobile-zoomin" data-slide-to="5" class="active"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="6"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="7"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="8"><span></span></li>
                        <li data-target="#multicard-mobile-zoomin" data-slide-to="9"><span></span></li>

                        <a class="carousel-control-next" href="#multicard-mobile-zoomin" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>