<section class="hey-slider color bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h2>Beneficios de tener tu banco en la mejor App</h2>

                <div id="carousel" class="carousel slide" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-25-img-beneficios-transferencias.png'" alt="¿Se puede transferir a cualquier banco sin costo?, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Transfiere 24/7</h3>

                                    <p>Cuando quieras, donde tu quieres, las veces que quieras, en minutos paga lo que necesites desde tu app. ¡Fácil y rápido!</p>

                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-27-img-beneficios-ahorro-programado.png'" alt="¿Puedo tener más de un ahorro?, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Programa tu ahorro</h3>

                                    <p>Programa de manera automática hasta 5 ahorros desde tu app y recibe el <b>4%</b> de rendimiento anual.
                                    </p>
                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-29-img-beneficios-codi.png'" alt="¿Cómo activo CODI en Hey?, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Paga y cobra con CoDi</h3>

                                    <p>Haz tus pagos por medio de códigos QR, de forma inmediata desde tu app.</p>

                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-31-img-beneficios-inversion.png'" alt="Inversión Hey, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Inversión Hey</h3>

                                    <p>Haz tus pagos por medio de códigos QR, de forma inmediata desde tu app.</p>

                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-33-img-beneficios-tdc.png'" alt="Tarjeta de Crédito Hey, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Maten el saldo actual de tu Tarjeta de Crédito a simple vista, revisa tus movimientos, consulta la información de tus pagos y elige una opción de pago, todo desde tu celular.</p>


                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-35-img-beneficios-money-coach.png'" alt="¿Cómo activo Money Coach en Hey?, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Money Coach</h3>

                                    <p>La guía dentro de tu app diseñada para ayudarte a mejorar tu salud financiera de manera inteligente.
                                    </p>


                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-37-img-beneficios-banco-digital.png'" alt="¿Debo mantener un saldo mínimo en la cuenta Hey?, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Tu Banco Digital</h3>

                                    <p>Solicita tu Cuenta Hey y disfruta de los increíbles beneficios digitales que tu app Hey Banco te ofrece.
                                    </p>


                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-39-img-beneficios-proteccion-hey.png'" alt="Protección Hey, Tu banco digital">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Protección Hey</h3>

                                    <p>Personaliza tu plan seleccionando las coberturas que necesites. Contrata en minutos desde tu App.
                                    </p>


                                    <hey-btn-crear-cuenta title="Quiero mi cuenta Hey"> </hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel" data-slide-to="4"><span></span></li>
                        <li data-target="#carousel" data-slide-to="5"><span></span></li>
                        <li data-target="#carousel" data-slide-to="6"><span></span></li>
                        <li data-target="#carousel" data-slide-to="7"><span></span></li>

                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>