<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col col-2 col-md-2 col-lg-2">
                    <a href="./contratos-productos" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
                    </a>

                </div>
                <div class="col col-md-6 col-lg-6">
                    <h4>
                        Cuentas Hey</h4>
                </div>
            </div>
        </div>

        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="https://heybanco.s3.amazonaws.com/assets/legales/caratula.pdf" target="_blank">
                                Cuenta Hey</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>