<section class="hey-ayuda-detalle">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda']">Centro de Ayuda</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda-inversion']">Inversión Hey</a></li>
                        <li class="breadcrumb-item active" aria-current="page">¿Qué es una Semana de 6.5% Hey?</li>
                    </ol>
                </nav>


                <h2>¿Qué es una Semana de 6.5% Hey?</h2>

                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Es un beneficio que obtienes para poder tener una sobretasa (una tasa más alta) en tu Inversión Hey (pagaré)
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>