<section class="hey-ivr">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h1>¿En qué podemos ayudarte hoy?</h1>

                <div class="row justify-content-center">
                    <div class="col-6 col-md-3 col-lg-3 text-center">
                        <a class="btn btn-link" role="button" [routerLink]="['/solicitud-rollos']">
                            <img  loading="lazy"  alt="Hey Banco - Solicitud rollos" [src]="environment.assetsUrl + 'img/centro-ayuda-negocios/formularios/P310-25-CAD-ic-solicitud-rollos.svg'"> Solicitud de rollos
                        </a>
                    </div>


                    <div class="col-6 col-md-3 col-lg-3 text-center">
                        <a class="btn btn-link" role="button" [routerLink]="['/solicitud-mantenimiento']">
                            <img  loading="lazy" alt="Hey Banco - Mantenimiento" [src]="environment.assetsUrl + 'img/centro-ayuda-negocios/formularios/P310-26-CAD-ic-mantenimiento.svg'"> Mantenimiento
                        </a>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 text-center">
                        <a class="btn btn-link" role="button" [routerLink]="['/solicitud-publicidad']">
                            <img  loading="lazy" alt="Hey Banco-Publicidad" class="h-40" [src]="environment.assetsUrl + 'img/centro-ayuda-negocios/formularios/P310-27-CAD-ic-publicidad.svg'" height="40"> Publicidad
                        </a>
                    </div>

                    <div class="col-6 col-md-3 col-lg-3 text-center">
                        <a class="btn btn-link" role="button" [routerLink]="['/solicitud-capacitacion']">
                            <img  loading="lazy" alt="Hey Banco - Capacitación" [src]="environment.assetsUrl + 'img/centro-ayuda-negocios/formularios/P310-28-CAD-ic-capacitacion.svg'"> Capacitación
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>