%sneak-64 {
    font-family: 'Sneak-Regular';
    font-size: 4rem;
    line-height: 4.37rem;
    @media (max-width: 991.98px) {
        font-size: 2.62rem;
        line-height: 3.12rem;
    }
    @media (max-width: 767.98px) {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

%sneak-60 {
    font-family: 'Sneak-Regular';
    font-size: 3.7rem;
    line-height: 4.37rem;
    @media (max-width: 991.98px) {
        font-size: 2.62rem;
        line-height: 3.12rem;
    }
    @media (max-width: 767.98px) {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }
}

%sneak-56 {
    font-family: 'Sneak-Regular';
    font-size: 3.5rem;
    line-height: 4.37rem;
}

%sneak-48 {
    font-family: 'Sneak-Regular';
    font-size: 3rem;
    line-height: 3.56rem;
    @media (max-width: 991.98px) {
        font-size: 2.62rem;
        line-height: 3.12rem;
    }
    @media (max-width: 767.98px) {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

%sneak-44 {
    font-family: 'Sneak-Regular';
    font-size: 2.75rem;
    line-height: 3.31rem;
}

%sneak-42 {
    font-family: 'Sneak-Regular';
    font-size: 2.8rem;
    line-height: normal;
    @media (max-width: 767.98px) {
        font-size: 1.8rem;
        line-height: normal;
    }
}

%sneak-40 {
    font-family: 'Sneak-Regular';
    font-size: 2.5rem;
    line-height: 4.31rem;
    @media (max-width: 767.98px) {
        font-size: 1.75rem;
        line-height: 3.56rem;
    }
}

%sneak-36 {
    font-family: 'Sneak-Regular';
    font-size: 2.25rem;
    line-height: 2.5rem;
    @media (max-width: 767.98px) {
        font-size: 1.25rem;
        line-height: 2rem;
    }
}

%sneak-32 {
    font-family: 'Sneak-Regular';
    font-size: 3rem;
    line-height: 3rem;
    @media (max-width: 767.98px) {
        font-size: 1.12rem;
        line-height: 1.62rem;
    }
}

%sneak-30 {
    font-family: 'Sneak-Regular';
    font-size: 1.87rem;
    line-height: 3.75rem;
    @media (max-width: 767.98px) {
        font-size: 1.12rem;
        line-height: 1.62rem;
    }
}

%sneak-28 {
    font-family: 'Sneak-Regular';
    font-size: 1.7rem;
    line-height: 3rem;
    @media (max-width: 767.98px) {
        font-size: 1rem;
        line-height: 1rem;
    }
}

%sneak-24 {
    font-family: 'Sneak-Regular';
    font-size: 1.5rem;
    line-height: 2.37rem;
}

%sneak-22 {
    font-family: 'Sneak-Regular';
    font-size: 1.37rem;
    line-height: 1.68rem;
}

%sneak-20 {
    font-family: 'Sneak-Regular';
    font-size: 1.25rem;
    line-height: 2.2rem;
}

%sneak-18 {
    font-family: 'Sneak-Regular';
    font-size: 1.12rem;
    line-height: 1.68rem;
}

%sneak-16 {
    font-family: 'Sneak-Regular';
    font-size: 1rem;
    line-height: 1.18rem;
    @media (max-width: 767.98px) {
        line-height: 1.25rem;
    }
}

%sneak-14 {
    font-family: 'Sneak-Regular';
    font-size: 0.87rem;
    line-height: 1.06rem;
    @media (max-width: 767.98px) {
        font-size: 1rem;
        line-height: 1.18rem;
    }
}

%sneak-12 {
    font-family: 'Sneak-Light';
    font-size: 0.75rem;
    line-height: 0.87rem;
}

%lato-36 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

%lato-30 {
    font-size: 1.87rem;
    line-height: 2.5rem;
}

%lato-28 {
    font-size: 1.75rem;
    line-height: 2.12rem;
}

%lato-24 {
    font-size: 1.5rem;
    line-height: 2.37rem;
}

%lato-22 {
    font-size: 1.37rem;
    line-height: 1.87rem;
}

%lato-20 {
    font-size: 1.25rem;
    line-height: 1.37rem;
}

%lato-18 {
    font-size: 1.12rem;
    line-height: 1.62rem;
}

%lato-16 {
    font-size: 1rem;
    line-height: 1.31rem;
}

%lato-14 {
    font-size: 0.87rem;
    line-height: 1.25rem;
}

%lato-12 {
    font-size: 0.75rem;
    line-height: 0.93rem;
}

%lato-10 {
    font-size: 0.62rem;
    line-height: 0.75rem;
}