<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>La cuenta que siempre te da más</h1>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-0-hero-image.png'" alt="¿Cómo puedo abrir una Cuenta Hey?">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-37-ic-navega-forma-simple.png'" class="align-self-start" alt="Navega de forma simple">

                    <div class="media-body">
                        <h3>Navega de forma simple</h3>

                        <p>En unos simples taps realiza todos tus movimientos y disfruta de los beneficios de contar con tu banco digital.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-38-ic-transferencia.png'" class="align-self-start" alt="Transferencias 24/7">

                    <div class="media-body">
                        <h3>Transferencias 24/7</h3>

                        <p>Realiza transferencias durante cualquier hora del día, desde la palma de tu mano. ¡Fácil y rápido!</p>
                    </div>
                </div>
            </div>

            <div class="col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-39-ic-cobra-paga-codi.png'" class="align-self-start" alt="Paga y cobra con CoDi®">

                    <div class="media-body">
                        <h3>Paga y cobra con CoDi®</h3>

                        <p>Por medio de códigos QR, recibe o deposita de manera automática. Sin complicaciones.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-40-ic-retira-cajeros.png'" class="align-self-start" alt="Retira en 3,600 cajeros">

                    <div class="media-body">
                        <h3>Retira en 3,600 cajeros</h3>

                        <p>Con tu Tarjeta Hey retira efectivo o realiza consultas en más de 3,600 cajeros como Banregio, Inbursa, Scotiabank y Banbajío sin costo alguno.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>


            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-coleccion.png'">
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h2>
                    Colección Cosmos<br> 5 diseños únicos de edición limitada para tu tarjeta Hey Banco. Abre tu Cuenta Hey en minutos y selecciona la tarjeta para ti.
                </h2>

                <a class="btn btn-primary" role="button" [routerLink]="['/parami/coleccion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>


<section class="hey-applepay bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-md-1 col-lg-5">
                <h2>Con Apple Pay, tus datos están seguros</h2>
                <p>
                    Cuando haces una compra, Apple Pay usa un número específico de dispositivo y un código único de transacción. Puedes estar tranquilo que tus datos privados, se mantendrán así.
                </p>

                <a class="btn btn-primary" role="button" [routerLink]="['/pagos/applepay']">Conoce más</a>
            </div>
            <div class="col-9 col-md-4 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive" [src]="environment.assetsUrl + 'img/P500-Apple-Pay/P500-7-img-agregar-tarjeta.png'" alt="¿Cómo agrego mi tarjeta a Apple Pay?">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 col-md-4 offset-md-4 col-lg-4 offset-lg-1">
                <img loading="lazy" class="tarjeta" [src]="environment.assetsUrl + 'img/cta/cta-recompensa-cuenta.png'">
            </div>

            <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-0">
                <h2>Recompensas en Efectivo</h2>

                <p>Espera próximamente el primer programa en México que te paga por comprar con tu tarjeta de débito.</p>
                <br>
                <a class="btn btn-primary" role="button" [routerLink]="['/recompensas']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-5 offset-md-1 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-2-img-proteccion-vida.png'" alt="¿La cuenta Hey viene con seguro de vida incluido?">
            </div>

            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <h2>Protección de vida</h2>

                <p>Tu Cuenta Hey incluye una protección de Vida por $25,000 pesos al asignarle un beneficiario desde tu app ¡sin costo!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Paga sin contacto</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-41-ic-localiza.png'" class="align-self-start" alt="P210-41-ic-localiza">

                    <div class="media-body">
                        <h4>1. Localiza</h4>

                        <h5>Busca el símbolo de Pagos Sin Contacto a la hora de pagar.</h5>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-42-ic-acerca.png'" class="align-self-start" alt="P210-42-ic-acerca">

                    <div class="media-body">
                        <h4>2. Acerca</h4>

                        <h5>Coloca tu Tarjeta Hey a la terminal de pago.</h5>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-43-ic-paga.png'" class="align-self-start" alt="P210-43-ic-paga">

                    <div class="media-body">
                        <h4>3. Paga</h4>

                        <h5>Tu pago se procesa en segundos.</h5>
                    </div>
                </div>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-3-img-contactless.png'" alt="¿La tarjeta de la Cuenta Hey sirve para pago sin contacto?">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-purple">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Recibe tu tarjeta directamente en tu domicilio</h2>

                <p>Solicita tu cuenta con un tiempo de respuesta mínimo y obtén tu tarjeta física con envió hasta tu domicilio.
                </p>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-4-img-tarjeta-domicilio.png'" alt="¿Tengo que pagar por la tarjeta física de la Cuenta Hey?">
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Obtener tu cuenta ¡Es sencillo!</h2>

                <div class="row">
                    <div class="col-12 col-md-7 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 1</h3>

                                <p>Selecciona aquí la opción “Quiero mi Cuenta Hey” o descarga la App Hey Banco.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 2</h3>

                                <p>Crea tu usuario o si ya eres cliente Hey ingresa con tu usuario y contraseña.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-7 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 3</h3>

                                <p>Solo tienes que tener a la mano tu INE o IFE para realizar la contratación.</p>
                            </div>

                            <div class="benefit-box-shadow bg-green">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="btn btn-primary" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Elige una cuenta</a>

                <a class="btn btn-outline-primary" role="button" href="https://youtu.be/TH30MrqS0_Q" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/btn-playicon.svg'">¿Cómo lo solicito?
                </a>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos bg-01">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-4 offset-lg-1">
                <h2>Características</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Sin monto mínimo de apertura ni renta mensual</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Tarjeta Virtual</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Crédito y Débito en una misma tarjeta</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Tarjeta física con tecnología Contactless</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Seguro de hospitalización (opcional)</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Pago con CoDi®</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                    <div class="media-body">
                        <p>Paga y cobra con QR</p>
                    </div>
                </div>
            </div>

            <div class="col-md-10 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="row">
                    <div class="col-12">
                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                            <div class="media-body">
                                <p>Ideal para Persona Física y manejo personal de Persona Física con Actividad Empresarial (no se permite apertura a Personas Morales)</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                            <div class="media-body">
                                <p>Ser mayor de 18 años</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                            <div class="media-body">
                                <p>Tener credencial del INE/IFE vigente</p>
                            </div>
                        </div>

                        <div class="media">
                            <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/P210/P210-44-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Qué necesito para tener una cuenta en hey banco?">

                            <div class="media-body">
                                <p>Contar con un teléfono inteligente (smartphone) iOS y Android con número mexicano</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-3 col-lg-1">
                        <a href="https://www.gob.mx/ipab" target="_blank">
                            <img loading="lazy" class="ipab" [src]="environment.assetsUrl + 'img/P210/P210-45-ic-ipab.png'" alt="¿La cuenta hey tiene el respaldo del IPAB?">
                        </a>
                    </div>

                    <div class="col-9 col-lg-11">
                        <p>
                            El instituto para la Protección al Ahorro Bancario (IPAB) garantiza las operaciones establecidas en el Artículo 46 fracciones I y II, de la Ley de Instituciones de Crédito, hasta por 400 mil unidades de inversión (UDI) por persona física o moral, y por
                            banco, visita <a href="https://www.gob.mx/ipab" target="_blank">www.gob.mx/ipab</a>.<br><br> Producto en Moneda Nacional y disponible a través del App Hey Banco impulsado por Banregio disponible
                            en el App Store o Google Play.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey?">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Cómo abro una Cuenta Hey?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Selecciona en esta sección el botón con la opción Quiero mi Cuenta Hey o bien descarga la app Hey Banco dentro de tu tienda Apple o Google.<br><br> Crea tu usuario registrando tu nombre y contraseña<br><br> Manten a la
                                mano tu INE/IFE vigente para seguir el flujo de contratación y llenar los datos que te solicitamos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cuál es la diferencia entre la Cuenta Hey y Hey Pal’ Norte?<img
                  [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                La Cuenta Hey Pal’ Norte te ofrece beneficios exclusivos para el festival Tecate Pal’ Norte así como promociones a futuros eventos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Si no cuento con INE o IFE vigente ¿puedo abrir mi Cuenta Hey?<img
                  [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                No, es necesario mantener tu INE/IFE vigente para realizar el trámite.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Cómo recuperar mi cuenta Hey si la cancele?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Una vez que cancelas la cuenta de Hey no se puede recuperar, es necesario crear una cuenta nueva. Puedes iniciar nuevamente el trámite entrando a tu app Hey Banco e ingresando un nuevo usuario y contraseña así como tus documentos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  ¿Dónde encuentro los 16 números de mi tarjeta?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                En la parte de atrás tu tarjeta cuenta con un identificador indicando si es débito o crédito. Hasta solicitar tu Crédito Hey y sea aprobado esta numeración se activará en automático.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  ¿Por qué mi tarjeta física no tiene los mismos números que la virtual?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Por seguridad, los números de tu tarjeta virtual son diferentes a los de la tarjeta física. Sin embargo ambos pertenecen a la misma cuenta. Puedes consultarlos dentro de la app en los detalles de tu cuenta.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider color bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                <h2>Beneficios de tener tu banco en la mejor App</h2>

                <div id="carousel" class="carousel slide" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-9-img-beneficios-transferencias.png'" alt="¿Se puede transferir a cualquier banco sin costo?">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Transfiere 24/7</h3>

                                    <p>Cuando quieras, donde tu quieres, las veces que quieras, en minutos paga lo que necesites desde tu app. ¡Fácil y rápido!</p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-11-img-beneficios-ahorro-programado.png'" alt="¿Puedo tener más de un ahorro?">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Programa tu ahorro</h3>

                                    <p>Programa de manera automática hasta 5 ahorros desde tu app y recibe el <b>4%</b> de rendimiento anual.
                                    </p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-13-img-beneficios-codi.png'" alt="¿Cómo activo CODI en Hey?">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Paga y cobra con CoDi</h3>

                                    <p>Haz tus pagos por medio de códigos QR, de forma inmediata desde tu app.</p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/benefits/beneficios-inversion.png'" alt="Inversión Hey">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Inversión Hey</h3>

                                    <p>Haz tus pagos por medio de códigos QR, de forma inmediata desde tu app.</p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/benefits/beneficios-tdc.png'" alt="Tarjeta de Crédito Hey">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Maten el saldo actual de tu Tarjeta de Crédito a simple vista, revisa tus movimientos, consulta la información de tus pagos y elige una opción de pago, todo desde tu celular.</p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-15-img-beneficios-money-coach.png'" alt="¿Cómo activo Money Coach en Hey?">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Money Coach</h3>

                                    <p>La guía dentro de tu app diseñada para ayudarte a mejorar tu salud financiera de manera inteligente.
                                    </p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/benefits/beneficios-banco-digital.png'" alt="¿Debo mantener un saldo mínimo en la cuenta Hey?">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Tu Banco Digital</h3>

                                    <p>Solicita tu Cuenta Hey y disfruta de los increíbles beneficios digitales que tu app Hey Banco te ofrece.
                                    </p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-3 col-lg-3">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/benefits/beneficios-proteccion-hey.png'" alt="Protección Hey">
                                </div>

                                <div class="col-9 col-md-8 col-lg-8">
                                    <h3>Protección Hey</h3>

                                    <p>Personaliza tu plan seleccionando las coberturas que necesites. Contrata en minutos desde tu App.
                                    </p>

                                    <hey-btn-crear-cuenta [title]="'Quiero mi Cuenta Hey'"></hey-btn-crear-cuenta>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel" data-slide-to="4"><span></span></li>
                        <li data-target="#carousel" data-slide-to="5"><span></span></li>
                        <li data-target="#carousel" data-slide-to="6"><span></span></li>
                        <li data-target="#carousel" data-slide-to="7"><span></span></li>

                        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-cta-app></hey-cta-app>

<section class="hey-slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Conoce más productos</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-23-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-25-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Cuenta de Ahorro</h3>

                                            <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/ahorro']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-27-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Inversiones</h3>

                                            <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/inversion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-29-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Auto</h3>

                                            <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-31-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Seguro de Celular</h3>

                                            <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                            <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-33-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?">
                                        </div>

                                        <div class="col-7">
                                            <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                            <p>Cuida tu salud con nuestros planes.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-apoyohospitalario-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-46-img-proteccion-hey.png'" alt="Protección Hey">
                                        </div>

                                        <div class="col-7">
                                            <h3>Protección Hey</h3>

                                            <p>Configura y selecciona los planes de cobertura que mejor se adapten a ti.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/seguros-protección-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-fondo-hey.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Fondo HeyG</h3>

                                            <p>Invierte con el Fondo de Inversión Hey Global desde $1,000 pesos.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/fondo-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-35-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?">
                                        </div>


                                        <div class="col-7">
                                            <h3>Crédito de auto</h3>

                                            <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                            <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">

                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel-desktop" data-slide-to="4"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-23-img-cuentas-tarjeta-credito.png'" alt="Cuales son las comisiones de la Tarjeta de Crédito Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Tarjeta de Crédito Hey</h3>

                                    <p>Sin anualidades, ni trámites complicados, recíbela directo a tu domicilio.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/parami/tdc']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-25-img-cuentas-ahorro.png'" alt=" ¿Tengo que abrir una cuenta para poder crear un Ahorro Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Cuenta de Ahorro</h3>

                                    <p>Activa una nueva forma de ahorrar en automático desde tu Cuenta Hey Plus.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/ahorro']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-27-img-cuentas-inversiones.png'" alt="¿Tengo que abrir una cuenta para poder invertir Hey?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Inversiones</h3>

                                    <p>Abre tu inversión desde $5,000 pesos y recibe el rendimientos cada 7 días.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/inversion']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-29-img-cuentas-seguro-auto.png'" alt="¿Cómo puedo abrir un seguro de auto con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Auto</h3>

                                    <p>Conoce el Seguro que te recompensa por mantenerte libre de accidentes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-auto-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-31-img-cuentas-seguro-celular.png'" alt="¿Cómo puedo abrir un seguro de celular con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Seguro de Celular</h3>

                                    <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                                    <a class="btn btn-link" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-33-img-cuentas-apoyo-hospitalario-consulta-virtual.png'" alt="¿Cómo puedo abrir un seguro Dr Sam con Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Ayuda Hospitalaria y Consulta Virtual</h3>

                                    <p>Cuida tu salud con nuestros planes.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-apoyohospitalario-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-46-img-proteccion-hey.png'" alt="Protección Hey">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Protección Hey</h3>

                                    <p>Configura y selecciona los planes de cobertura que mejor se adapten a ti.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/seguros-protección-hey']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-fondo-hey.png'">
                                </div>

                                <div class="col-md-7 col-7">
                                    <h3>Fondo HeyG</h3>

                                    <p>Invierte con el Fondo de Inversión Hey Global desde $1,000 pesos.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/fondo-persona']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-md-5 col-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-35-img-cuentas-creditos.png'" alt="¿Cuándo podré solicitar un crédito en Hey Banco?">
                                </div>

                                <div class="col-md-7 col-7">

                                    <h3>Crédito de auto</h3>

                                    <p>Estrena tu auto pagando el 10% de enganche con mensualidades fijas y cómodas.</p>

                                    <a class="btn btn-link" [routerLink]="['/personas/creditos/credito-auto']" onclick="dataLayer.push({'event':'evPageLink'});" role="button">Conoce más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="2"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="3"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="4"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="5"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="6"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="7"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="8"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>