<section class="hey-hero-image bgimage-hero-giveaway-rosa hey-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>Ahorra y ¡llévate el doble!</h1>
                    <p class="texto-parrafo">
                        Participa en el Reto Hey para ahorrar $20,000 pesos antes del 31 de diciembre de 2021, y podrías llevarte el doble de tu ahorro.
                    </p>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="mobile-12" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-7-img-ahorro.png'" alt="Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas-giveaway bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h1>Completa el Reto Hey para participar en el Giveaway y duplicar tus ahorros.</h1>
                <p class="parrafo">¡25 usuarios Hey verán su ahorro de $20,000 pesos duplicado!</p>
            </div>

        </div>
    </div>
</section>

<section class="hey-cta hey-generales bgimage-negocio">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>¿Cómo participar?</h2>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-9-ic-numero-1.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Abre o fija una meta de ahorro llamada Reto Hey antes del 31 de octubre</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-10-ic-numero-2.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Ahorra al menos $4,000 pesos al mes</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-11-ic-numero-3.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Cumple la meta de ahorro total de $20,000 pesos y al menos 3 metas mensuales de $4,000 pesos.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-12-ic-numero-4.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco?">

                    <div class="media-body">
                        <p>Si fuiste seleccionado, ¡recibirás un correo con la invitación a registrar tu interés por participar!</p>
                    </div>
                </div>

                <a class="btn btn-primary" role="button" href="https://heybanco.onelink.me/lpd1/nuevoportal" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Descarga la app</a>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="img-participantes" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-8-img-ahorro-participacion.png'" alt="Participa en el giveaway">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <a href="https://heybanco.s3.amazonaws.com/assets/legales/giveaway-reto-ahorro-hey.pdf" target="_blank"> <span style="text-decoration: underline;"> <br>Consulta
            términos, condiciones, bases y privacidad</span></a>
                <p class="vigencia">
                    Vigencia del 01 de julio al 31 de diciembre 2021. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) durante el mismo periodo de vigencia de la promoción y a través de un correo electrónico notificando el incentivo.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bgimage-giveaway-ig">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco.svg'" alt="Síguenos">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h1>Síguenos en Instagram @heybanco y descubre si eres uno de los seleccionados. ¡Todos los días anunciamos a los seleccionados!</h1>
                <br><br>
                <a class="btn btn-primary" role="button" href="https://www.instagram.com/heybanco/?hl=es-la" target="_blank">Síguenos en Instagram</a>
            </div>
        </div>

    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="Tu banco digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Qué es el Reto Hey?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                El Reto Hey es una dinámica para fomentar el ahorro. Tienes desde ahora y hasta el 31 de diciembre de 2021 para ahorrar $20,000 pesos.
                                <br> Completa el Reto Hey y podrás participar en un Giveaway para duplicar tu ahorro. Para cumplir con el Reto Hey y ser elegible para el Giveaway debes de: 1) Abrir o fijar un Ahorro Hey llamado ‘Reto Hey’ a partir de
                                hoy y a más tardar el 31 de octubre 2021, 2) incrementar el monto de tu ahorro por al menos $4,000 pesos cada mes y 3) juntar $20,000 pesos en tu Ahorro Hey para el 31 de diciembre 2021. En enero, recibirás un folio de
                                participación para el Giveaway por cada mes que cumplas la meta de ahorro.

                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Cómo puedo participar en el Giveaway para Reto Hey? <img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Podrá participar todo usuario Hey Banco que haya concluido con éxito el Reto Hey y que cumpla con las condiciones de elegibilidad de participación para el Giveaway.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Hasta cuantos folios participantes puedo tener?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Durante la primera semana de enero 2022, se enviará al correo electrónico registrado y ligado a la Cuenta Hey, un folio de participación por cada mes del Reto Hey que hayas completado la meta de ahorro. Si empiezas tu Reto Hey en julio 2021, podrás acumular
                                hasta 5 folios.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Si ahorre más de $20,000 me van a duplicar esa cantidad adicional que ahorre?<img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                No, solo se duplicará el monto establecido en el Reto Hey. Los usuarios que resulten seleccionados en el Giveaway contarán con $20,000 en ahorro + $20,000 del Giveaway para un total de $40,000 pesos.

                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  Si conseguí cinco folios participantes, ¿los cinco pueden
                  ser seleccionados? <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="tu banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                No, solo uno de tus folios puede ser elegido en el Giveaway. Asegúrate de cumplir la meta cada mes para obtener el máximo de folios y así incrementar tus posibilidades de ser seleccionado.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>
  
<hey-cta-app></hey-cta-app>
  
<hey-slider-productos></hey-slider-productos>