<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <p class="textosmall">Líderes Hey Banco</p>
                    <h1>Manuel Rivero Zambrano</h1>
                    <p>CEO Hey Banco</p>

                    <div class="contenido-manuel">
                        <a href="https://twitter.com/mriveroz?s=11" target="_blank">
                            <img loading="lazy" class="social-media" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-9-ic-tw-ManuelRivero.png'" alt="Tu banco digital"><span class="textolinks">@mriveroz</span></a>
                    </div>

                    <div class="contenido-manuel">
                        <a href="https://www.linkedin.com/in/manuel-rivero-zambrano-25654087" target="_blank">
                            <img loading="lazy" class="social-media" href="https://www.linkedin.com/in/manuel-rivero-zambrano-25654087" target="_self" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-8-ic-in-ManuelRivero.png'" alt="Tu banco digital">
                            <span class="textolinks">Manuel Rivero Zambrano</span>
                        </a>
                    </div>

                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="responsive-manuel" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-6-Hero-Image.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-0">
                <img loading="lazy" class="responsive-manuel-rivero" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-7-Hero-Image.png'" alt="Tu banco digital">
            </div>

            <div class="col-12 col-md-12 offset-md-0 col-lg-5 offset-lg-1">
                <h2>Sobre Manuel</h2>

                <p>
                    Actualmente es el Director General de Hey Banco y Director General del Consejo de Administración de Regional, S.A.B. de C.V.
                    <br><br> Manuel es un joven mexicano que descubre su pasión por los números y las finanzas y decide estudiar la licenciatura de Administración Financiera en el Instituto Tecnológico de Estudios Superiores de Monterrey.
                    <br><br> Se unió a Banregio en 2003 y al día de hoy, cuenta con más de 18 años de experiencia en la banca. Representa a la cuarta generación de una familia de banqueros que ha estado en el negocio bancario desde 1947.
                    <br><br> Ha desarrollado diferentes puestos directivos y de liderazgo dentro de la Institución Financiera, donde ha participado en el desarrollo de nuevos negocios, productos y servicios, así como en la definición e implementación
                    de los planes estratégicos del grupo.
                </p>

            </div>
        </div>
    </div>
</section>