<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-0 col-md-5 offset-md-1 col-lg-4">
                <div class="column vertical-center text-left d-none d-md-block">
                    <h2 class="mb-20">Gana un <br> iPhone 13</h2>
                    <p class="col-12 p-0 m-0">
                        Presiona el botón de abajo para generar tu folio y participar en nuestro Giveaway especial.
                    </p>
                </div>
                <div class="column d-block d-md-none text-left">
                    <h2 class="mb-20">Gana un <br> iPhone 13</h2>
                    <p class="col-12 p-0 m-0">
                        Presiona el botón de abajo para generar tu folio y participar en nuestro Giveaway especial.
                    </p>
                </div>
            </div>

            <div class="col-12 offset-0 col-md-6 offset-md-0 col-lg-7 ">
                <img loading="lazy" class="iphone-class" src="https://heybanco.s3.amazonaws.com/assets/img/P810-Giveaways/banner-medalia-iphone.png" alt="">
            </div>
        </div>

    </div>
</section>

<section class="row align-items-center hey-contador">
    <div class="container">
        <h2 class="col-12 txt-contador d-none d-md-block"> <span class="txt-green">{{contador}}</span> Registrados</h2>
        <div class="column d-block d-md-none">
            <h2 class="col-12 txt-contador">
                <span class="txt-green">{{contador}}</span>
            </h2>
            <h2 class="col-12 txt-contador">
                Registrados
            </h2>

        </div>
    </div>
</section>

<section class="row align-items-center hey-giveaway bg-01">
    <div class="container">
        <div class="column col-12 text-center">
            <h2 class="col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-20">¡Registra tu interés por participar!</h2>
            <button class="btn btn-primary" role="button" type="button" (click)="submitRequest()">Participar</button>
        </div>
    </div>
</section>

<section class="hey-terminos bg-white  row align-items-center">
    <div class="container">
        <div class="offset-0 col-12 offset-md-2 col-md-8 offset-lg-3 col-lg-6 column text-center">
            <h2>Recuerda que para participar debes haber contestado tu Encuesta Hey del mes de <span class="txt-green">Julio</span>. </h2>

            <p>
                ¡Mantente al pendiente y espera el gran anuncio!
            </p>
            <p>
                Anunciaremos a los seleccionados la primera semana del mes vía <strong>Instagram</strong> (@HeyBanco)
            </p>
            <p>
                Si eres seleccionado recibirás un correo con la información para poder recibir tu <strong>iPhone 13</strong>.
            </p>
            <p>
                Siguenos en Instagram <strong>@heybanco</strong> para conocer más sobre éste y otros Giveaways que Hey Banco ofrece para ti.
            </p>

            <p class="legales">
                Vigencia del 12 a 19 de agosto de 2022. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) duranteel mismo periodo de vigencia de la promoción y a través de un correo electrónico notificando el incentivo.
            </p>
        </div>
    </div>
</section>

<re-captcha size="invisible" *ngIf="RECAPTCHA_KEY" [siteKey]="RECAPTCHA_KEY" (resolved)="participar($event)"></re-captcha>

<div class="loader" *ngIf="busy">
    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/loader.gif'">
</div>