<section class="hey-cta" [ngClass]="{ 'bg-01': bg1, 'bg-02': bg2, 'bg-white': bgWhite}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-11 col-md-3 offset-md-1 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-41-img-descarga-app.png'" alt="¿Dónde puedo descargar la Aplicación Hey?, Tu banco digital">
            </div>

            <div class="col-md-6 offset-md-1 col-lg-6 offset-lg-0">
                <h2>Descarga la App</h2>

                <hey-stores></hey-stores>
            </div>
        </div>
    </div>
</section>