<section class="hey-hero-image bgimage-hero-giveaway-rosa-amigos hey-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>¡Tú y un amigo pueden llevarse hasta $100,000!</h1>
                </div>
            </div>
            <div class="col-10 offset-1 col-md-4 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="mobile-9" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-18-img-amigos.png'" alt="banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-caracteristicas-giveaway bg-01">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h1>¡Tú y un amigo pueden llevarse hasta $100,000!</h1>
            </div>
            <div class="col-md-4 col-lg-4" style="text-align: center;">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-19-ic-ig.svg'" alt="¿Cómo puedo obtener cupones en Hey Shop? Tu Banco Digital">
                <br><br>
                <p>Síguenos en Instagram</p>
            </div>
            <div class="col-md-4 col-lg-4" style="text-align: center;">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-20-ic-comenta.svg'" alt="¿Cómo puedo obtener cupones en Hey Shop?">
                <br><br>
                <p>Comenta en el post del Giveaway en Instagram recomendando un producto Hey</p>
            </div>
            <div class="col-md-4 col-lg-4" style="text-align: center;">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-21-ic-amigo.svg'" alt="¿Cómo puedo obtener cupones en Hey Shop? Tu Banco Digital">
                <br><br>
                <p>Etiqueta a un amigo en tu comentario</p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-generales bgimage-amigos">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-md-1 col-lg-5 offset-lg-1">
                <h2>¡Comenta y etiqueta las veces que quieras!</h2>
                <p>Cada comentario es una oportunidad para ti. Asegúrate de etiquetar a cada amigo en un nuevo comentario, y que la persona que etiquetes también siga a <strong>@heybanco</strong></p>
                <p>Tienes hasta el 31 de agosto para comentar</p>
            </div>

            <div class="col-9 col-md-5 col-lg-6">
                <img loading="lazy" class="mobile-7" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-22-img-amigo.png'" alt="Participa en el giveaway, Tu Banco Digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-generales bgimage-hero-giveaway-amigos-interior">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-5 col-lg-5">
                <img loading="lazy" class="mobile-8" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-23-img-amigo.png'" alt="Tu Banco Digital">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-1">
                <h2>Tú y tu amigo se llevan $10,000 cada uno</h2>
                <p class="texto"> Si tu comentario es elegido, tú y tu amigo se llevan $10,000 cada uno, y $10,000 más por cada producto Hey que tengan, para llevarse ¡hasta $50,000 cada uno!
                </p>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco? Tu Banco Digital">

                    <div class="media-body">
                        <p>Ahorro Hey</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="¿Cómo participo en los concursos de hey banco? Tu Banco Digital">

                    <div class="media-body">
                        <p>Seguro Hey*</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu Banco Digital">

                    <div class="media-body">
                        <p>Tarjeta de Crédito o Tarjeta de Crédito Hey *Garantizada</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P810-Giveaways/P810-6-ic-arrow-right-circle.svg'" class="align-self-start" alt="Tu Banco Digital">

                    <div class="media-body">
                        <p>Inversión Hey o Fondos de Inversión Hey</p>
                        <br>
                        <p class="legales">*No aplica Protección Hey Básica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-hero-image bgimage-giveaway-ig">
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/giveaway/ig-heybanco.svg'" alt="Síguenos, Tu Banco Digital">
            </div>

            <div class="col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 text-center">
                <h1>Síguenos en Instagram @heybanco y descubre si eres uno de los seleccionados. ¡Todos los días anunciamos a los seleccionados!</h1>
                <br><br>
                <a class="btn btn-primary" role="button" href="https://www.instagram.com/heybanco/?hl=es-la" target="_blank">Síguenos en Instagram</a>
            </div>
        </div>

    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="ocultar col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey? Tu Banco Digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  ¿Cómo participo en el Giveaway de 100k?<img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="hey banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                1. Síguenos en Instagram @heybanco.<br> 2. Comenta tu recomendación de producto Hey en la publicación correspondiente dentro de nuestro perfil de Instagram. <br> 3. Etiqueta a 1 amigo en tu comentario.<br> 4. Asegúrate
                                de que tu amigo también siga a @heybanco para ganar.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Si gano, ¿Cuándo me depositan? <img
                    [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="Tu Banco Digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Si ganas, los contactaremos por mensaje directo para pedirles su información de cuenta Hey. Una vez hecho esto, su premio quedará depositado dentro de las primeras 73 horas en días hábiles.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Necesito tener una cuenta en Hey Banco para participar? <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Para participar no tienen que ser clientes Hey, ninguno de los dos. Todos, tanto clientes Hey como no clientes Hey pueden participar. Para recibir sus premios si deben tener o crear una Cuenta Hey los dos ganadores para poder depositarles. Los productos
                                participantes aplican si son contratados antes del 31 de Agosto.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  ¿Cómo funcionan los premios? <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Si tu comentario es elegido, tú y tu amigo se llevan $10,000 cada uno y $10,000 más por cada producto Hey que tengan. ¡Pueden llevarse hasta $100,000 entre los dos!<br> Productos participantes:<br>
                                <ul>
                                    <li>Ahorro Hey = +$10,000</li>
                                    <li>Seguro Hey* = +$10,000</li>
                                    <li>Tarjeta de Crédito Hey o Tarjeta de Crédito Hey Garantizada = +$10,000</li>
                                    <li>Inversión Hey o Fondos de Inversión Hey = +$10,000<br>*No aplica Protección Hey Básica</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  ¿A cuántos amigos puedo taggear? <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                ¡Etiqueta a todos! Puedes participar las veces que quieras etiquetando a 1 amigo diferente por comentario.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  ¿Si vivo en otro país puedo participar? <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'" alt="banco digital">
                </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Los participantes deben ser mexicanos o mexicanos nacidos en el extranjero que residen en México.

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>