<div class="row">
  <div class="col-12">
    <div class="hey-stores">              
      <a href="https://heybanco.onelink.me/lpd1/footernuevoportal" target="_blank" onclick="dataLayer.push({'event':'evAppDownload'});">
        <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-42-btn-app-store.png'" alt="Tu banco digital, descargar la app de hey banco">
      </a>
      <a href="https://heybanco.onelink.me/lpd1/footernuevoportal" target="_blank" onclick="dataLayer.push({'event':'evAppDownload'});">
        <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-43-btn-google-play.png'" alt="Tu banco digital, descargar la app de hey banco">
      </a>
      <a href="https://heybanco.onelink.me/lpd1/footernuevoportal" target="_blank" onclick="dataLayer.push({'event':'evAppDownload'});">
        <img loading="lazy" [src]="environment.assetsUrl + 'img/P210-Cuentas/P210-44-btn-app-gallery.png'" alt="Tu banco digital, descargar la app de hey banco">
      </a> 
    </div>
  </div>
</div>


