<!-- desktop y tablet -->
<section class="hey-hero-image-home bg-purple d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-6 offset-lg-0">
                <div class="vertical-center">

                    <h1>El banco digital con los mejores beneficios para ti y para tu negocio</h1>

                    <p>Al no tener sucursales físicas, estamos comprometidos a convertir este ahorro en beneficios y condiciones favorables para ti.</p><br>

                    <hey-btn-crear-cuenta [classStyle]="'btn btn-primary'" [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>
                    <br><br>
                    <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank" class="tarifas">Consulta Tasas y Comisiones</a>

                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-4-hero-image.webp" alt="Tu banco digital" loading="lazy" width="618.64" height="680.38">
            </div>
        </div>
    </div>
</section>

<!-- mobile-->
<section class="hey-hero-image-home bg-purple d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row align-items-center">
            <div class="contenedor">
                <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-4-hero-image.webp" alt="Tu banco digital" loading="lazy" width="525" height="548.1">
                <div class="texto-encima">
                    <h2>El banco digital con los mejores beneficios para ti y para tu negocio</h2>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-hero-home bg-purple-light bg-purple d-sm-block d-md-none d-lg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div>
                    <p>Al no tener sucursales físicas, estamos comprometidos a convertir este ahorro en beneficios y condiciones favorables para ti.</p><br>
                    <hey-btn-crear-cuenta [classStyle]="'btn btn-primary'" [title]="'Hazte cliente Hey en 3 minutos'"></hey-btn-crear-cuenta>
                    <br><br>
                    <a href="https://heybanco.s3.amazonaws.com/assets/folletos/folletos-hey-you-biz.pdf" target="_blank" class="tarifas">Consulta Tasas y Comisiones</a>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- desktop y tablet -->
<section class="hey-home-cta bg-green-dark d-none d-sm-none d-md-block d-lg-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

                        <h2>Desde inversiones hasta créditos en una sola plataforma</h2>

                        <p>Todos los productos que necesitas desde tu celular, sin rebotar entre apps.</p>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-39-home-hey-banco.webp" alt="Tu banco digital" width="40%" height="auto" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 bg-01">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

                        <h2>Tu solución para aceptar pagos</h2>
                        <p>Ofrece meses sin intereses a todas las tarjetas y recibe el depósito de tus ventas el mismo día.</p>
                    </div>
                    <div class="col-12">
                        <div class="row justify-content-center">
                            <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-40-home-hey-banco.webp" alt="Tu banco digital" loading="lazy" width="458" height="397">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- mobile-->
<section class="hey-home-cta bg-green-dark d-block d-sm-block d-md-none d-lg-none">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 order-2">

                        <h2>Desde inversiones hasta créditos en una sola plataforma</h2>

                        <p>Todos los productos que necesitas desde tu celular, sin rebotar entre apps.
                        </p>
                    </div>
                    <div class="col-12 mb-20">
                        <div class=" row justify-content-center">
                            <img width="400px" src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-39-home-hey-banco.webp" alt="Tu banco digital" loading="lazy">

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 bg-01">
                <div class="row">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 order-2">

                        <h2>Tu solución para aceptar pagos</h2>

                        <p>Ofrece meses sin intereses a todas las tarjetas y recibe el depósito de tus ventas el mismo día.</p>
                        <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-40-home-hey-banco.webp" alt="Tu banco digital" loading="lazy" width="360" height="269.59">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- desktop y tablet -->
<section class="hey-hero-image-home bg-green-light d-none d-sm-none d-md-block d-lg-block ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-6 offset-lg-0 ">
                <div>

                    <h2>Contratación digital</h2>

                    <p>Sin trámites complicados, sin papeleo y sin ir a sucursal.</p><br>

                    <hey-btn-crear-cuenta [classStyle]=" 'btn btn-primary' " [title]=" 'Hazte cliente Hey en 3 minutos' "></hey-btn-crear-cuenta>

                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 ">
                <img src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-41-home-hey-banco.webp " alt="Tu banco digital " loading="lazy " width="618.64 " height="680.17 ">
            </div>
        </div>
    </div>
</section>


<!-- mobile-->
<section class="hey-hero-image-home bg-green-light d-block d-sm-block d-md-none d-lg-none ">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none ">
        <div class="row align-items-center ">
            <div class="contenedor ">
                <img class="contratacion" src="https://heybanco.s3.amazonaws.com/assets/img/P100-Home/P100-41-home-hey-banco.webp " alt="Tu banco digital " loading="lazy ">
                <div class="texto-encima ">
                    <h4>Contratación digital</h4>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-hero-home-contratacion bg-yellow-light d-sm-block d-md-none d-lg-none ">
    <div class="container ">
        <div class="row align-items-center ">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1 ">
                <div>
                    <p>Sin trámites complicados, sin papeleo y sin ir a sucursal.</p><br>
                    <hey-btn-crear-cuenta [classStyle]=" 'btn btn-primary' " [title]=" 'Hazte cliente Hey en 3 minutos' "></hey-btn-crear-cuenta>

                </div>
            </div>

        </div>
    </div>
</section>