<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1>Hey, protege tu dinero de forma inteligente</h1>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/hero-image/hero-image-seguros-persona.png'">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-5 offset-md-1 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-seguros-auto-persona.png'" alt="Seguro de Auto">
            </div>

            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <h2>El seguro de auto que te recompensa</h2>

                <p>Con tu seguro de Auto Hey nunca tienes pérdidas. Obtén tu cobertura Smart y recibe $1,000.00 pesos en tu renovación por no tener siniestros.</p>

                <a class="btn btn-primary" [routerLink]="['/seguros-auto-negocio']" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-02">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>DR.SAM</h2>

                <p>¡Cuidamos tu salud! Conoce una nueva forma de llevar tus consultas sin necesidad de salir de tu casa con paquetes que te mantienen sano a ti y a tu dinero.</p>

                <a class="btn btn-primary" [routerLink]="['/seguros-drsam-negocio']" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-seguros-drsam-persona.png'" alt="Seguro DR.SAM">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-5 offset-md-1 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-seguros-celular-persona.png'" alt="Seguro de Celular">
            </div>

            <div class="col-12 col-md-5 offset-md-0 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <h2>Seguro de celular</h2>

                <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño. Mantengamos tus finanzas y tu información a salvo.</p>

                <a class="btn btn-primary" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=marketing&utm_source=email%20service&utm_campaign=lanzamiento%20mobile" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-slider bg-02">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                <h2>Conoce más productos</h2>

                <div id="carousel-desktop" class="carousel slide d-none d-xs-none d-sm-none d-md-none d-lg-block" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-heypaygo.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Hey Pay Go</h3>

                                            <p>Conoce la terminal móvil que va con tu negocio.</p>

                                            <a class="btn btn-link" role="button" [routerLink]="['/heypay/go']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="row align-items-center">
                                        <div class="col-5 text-center">
                                            <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito-negocio.png'">
                                        </div>

                                        <div class="col-7">
                                            <h3>Tarjeta de Crédito</h3>

                                            <p>Recíbela directo a tu domicilio, sin complicaciones ni costo alguno.</p>

                                            <a class="btn btn-link disabled" role="button" disabled>Próximamente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-desktop" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-desktop" data-slide-to="0" class="active"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-desktop" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>

                <div id="carousel-mobile" class="carousel slide d-block d-xs-block d-sm-block d-md-block d-lg-none" data-ride="carousel" data-touch="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-heypaygo.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Hey Pay Go</h3>

                                    <p>Conoce la terminal móvil que va con tu negocio.</p>

                                    <a class="btn btn-link" role="button" [routerLink]="['/heypay/go']" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="row align-items-center">
                                <div class="col-5 col-md-5 text-center">
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/products/productos-tarjeta-de-credito-negocio.png'">
                                </div>

                                <div class="col-7 col-md-7">
                                    <h3>Tarjeta de Crédito</h3>

                                    <p>Recíbela directo a tu domicilio, sin complicaciones ni costo alguno.</p>

                                    <a class="btn btn-link disabled" disabled role="button">Próximamente</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ol class="carousel-indicators">
                        <a class="carousel-control-prev" href="#carousel-mobile" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <li data-target="#carousel-mobile" data-slide-to="0" class="active"><span></span></li>
                        <li data-target="#carousel-mobile" data-slide-to="1"><span></span></li>

                        <a class="carousel-control-next" href="#carousel-mobile" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>