<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col col-2 col-md-2 col-lg-2">
                  <a href="./folletos-informativos" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
                </a>
               
              </div>
              <div class="col col-md-6 col-lg-8">
                <h4>
                    Fondos de Inversión</h4>
              </div>
            </div>
          </div>

        <div class="row col-12 offset-0 col-md-10 offset-md-1 col-lg-7 offset-lg-2">

            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/basico" target="_self">
                                Fondo Básico
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/corto-plazo" target="_self">
                                Fondo Corto Plazo
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/mediano-plazo" target="_self">
                                Fondo Mediano Plazo
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/largo-plazo" target="_self">
                                Fondo Largo Plazo
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/bolsa-mexicana" target="_self">
                                Bolsa Mexicana
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./fondos-inversion/dolares-americanos" target="_self">
                                Dólares Americanos 
                                <img loading="lazy" class="arrow-left float-right" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-10-ic-arrow.svg'" alt="Tu banco digital">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" target="_blank">  
                                Avisos relevantes</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" target="_blank">
                                Rendimientos</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
