<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-1 col-lg-6 offset-lg-1 order-2 order-sm-1 order-md-1 order-lg-1">
                <div class="vertical-center">
                    <h2>Con Hey Pay Go® obtén comisiones bajas y rendimientos altos.</h2>

                    <p>Solicita tu terminal móvil y recibe una cuenta para tu negocio que te da 5.5% de rendimiento. Sin anualidad, sin costo y sin salir de casa. </p>

                    <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contrátalo ahora</a>
                    <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contrátalo ahora</a>

                    <p class="legales">
                        * Tasa preferencial por lanzamiento (3.20% regular) válida del 31 de Julio al 31 de Octubre del 2020. Promoción válida por 3 meses a partir de la solicitud del lector. Disponible sólo para Monterrey y área metropolitana.
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 order-1 order-sm-2 order-md-2 order-lg-2 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/hero-image/hero-image-heypaygo.png'">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-heypaygo.png'" alt="Hey Pay Go">
            </div>

            <div class="col-12 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-1 order-lg-2">
                <h3>La terminal móvil que va con tu negocio</h3>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>La terminal móvil con una excelente comisión de sólo 2.99%* (3.20% regular).</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Pide tu kit sin costo desde tu celular y lo llevamos hasta tu domicilio.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Acepta todas las tarjetas y cobra a Meses sin Intereses.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits no-color bg-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Con tu cuenta tu dinero crece <b>5.50%</b> en rendimientos.</h2>

                <h4>Con tu terminal Hey Pay Go obtén una cuenta para tu negocio que te da el <b>5.50%</b> de rendimiento anual en tu saldo promedio.</h4>

                <div class="row">
                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <p>Recibe una protección de vida por $25,000 pesos, sin costo.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <p>Cobra con tu terminal y recibe tu dinero en 24 hrs hábiles.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="benefit h-100">
                            <div class="benefit-box h-100">
                                <p>Acceso a tu banca electrónica sin costo, ni contratos extra.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-blue">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 offset-lg-1">
                <h2>Hey, ¿Tienes dudas? Te podemos ayudar</h2>

                <a class="btn btn-primary" role="button" href="https://wa.me/5218118204918/?text=Me%20interesa%20conocer%20m%C3%A1s%20de%20Hey%20Pay%20Go,%20me%20pueden%20apoyar?" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/wa.svg'">Escríbenos en WhatsApp
                </a>
            </div>
        </div>
    </div>
</section>

<section class="hey-requisitos">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <h2>Requisitos</h2>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Estar dado de alta en hacienda como Persona Física con Actividad Empresarial.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Comprobante de domicilio fiscal (recibo de luz, agua o predial no mayor a 3 meses).</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Alta de la Cédula fiscal de la SHCP.</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" alt="Tu banco digital, Tu banco 100% digital" [src]="environment.assetsUrl + 'img/icons/arrow-right-circle.svg'" class="align-self-start" alt="Tu banco digital, Tu banco 100% digital">

                    <div class="media-body">
                        <p>Identificación oficial con fotografía (INE o IFE) vigente.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 offset-lg-1 text-center">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-requisitos-heypaygo.png'" alt="hey pay go">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/formato_domiciliacion.pdf" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Solicitud de Domiciliación</a>
                    </div>

                    <div class="col-lg-4">
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/formato_objetar_cargos_domiciliacion.pdf" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Formato de objeción de cargos</a>
                    </div>

                    <div class="col-lg-4">
                        <a href="https://heybanco.s3.amazonaws.com/assets/legales/formato_cancelar_domiciliacion.pdf" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Solicitud de cancelación de Domiciliación</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hey-benefits bg-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2>Comienza a cobrar desde el primer día</h2>

                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 1</h3>

                                <p>Solicita tu terminal con Cuenta Hey incluida.</p>
                            </div>

                            <div class="benefit-box-shadow bg-pink">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 2</h3>

                                <p>Descarga el App de Hey, Pay!</p>
                            </div>

                            <div class="benefit-box-shadow bg-pink">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="benefit">
                            <div class="benefit-box">
                                <h3>Paso 3</h3>

                                <p>Conecta tu terminal vía Bluetooth®. ¡Listo! Comienza a cobrar.</p>
                            </div>

                            <div class="benefit-box-shadow bg-pink">
                                <div class="benefit-box-shadow-detail"></div>
                                <div class="benefit-box-shadow-detail"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contratar Hey Pay Go</a>
                <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Contratar Hey Pay Go</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta color bg-orange">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-10 offset-lg-1">
                <h2>Con Hey Pay Go® transforma tu dinero en dinero inteligente ¡Hoy!</h2>

                <a *ngIf="ajuste === false" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.heybanco.com/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Da clic y solicítala ya</a>
                <a *ngIf="ajuste === true" class="btn btn-primary" role="button" href="https://quieroserclientenegocios.hey.inc/#/login" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Da clic y solicítala ya</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-11 col-lg-4 offset-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/cta/cta-descarga-app-heypay.png'" alt="Tu banco digital, Tu banco 100% digital">
            </div>

            <div class="col-lg-5">
                <h2>Descarga la App de Hey Pay</h2>

                <div class="hey-stores">
                    <a href="https://apps.apple.com/mx/app/hey-pay/id1511524746?l=en" target="_blank">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/appstore.png'">
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.serti.hey&hl=en_US" target="_blank">
                        <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/googleplay.png'">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>