<section class="hey-hero-image">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h2>¡Recomienda Hey Banco y gana!</h2>
                    <br>

                    <p class="mb-15">
                        Conviértete en un Embajador Hey invitando a tus amigos a Hey Banco y gana recompensas.
                    </p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center">
                <img loading="lazy" class="responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P810-Giveaways/p810-101-img.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-gradient-green">
    <div class="container">
        <div class="row ">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <h2 class="col-12">¡Hey!</h2>
                <br>
                <p class="col-12">
                    Refiere a tus amig@s a abrir una Cuenta Hey y por cada referido que aperture su cuenta exitosamente recibes $100 pesos*.
                </p>
                <p class="legales col-12">
                    *Tu referido deberá abrir su Cuenta Hey del 7 al 21 de marzo del 2022 y abonar al menos $250 pesos en su cuenta.
                </p>
            </div>
            <div class="col-10 col-md-6 col-lg-5">
                <div class="col-12">
                    <p class="mb-10">Tu correo electrónico registrado en Hey:</p>
                    <div [formGroup]="form">
                        <mat-form-field class="website">
                            <input matInput formControlName="correoEmbajador">
                        </mat-form-field>
                    </div>
                    <p class="mb-10">Nombre y apellido de tu referido:</p>
                    <div [formGroup]="form">
                        <mat-form-field class="website">
                            <input matInput formControlName="nombreReferido">
                        </mat-form-field>
                    </div>
                    <p class="mb-10">Correo electrónico de tu referido:</p>
                    <div [formGroup]="form">
                        <mat-form-field class="website">
                            <input matInput formControlName="correoReferido">
                        </mat-form-field>
                    </div>
                    <div [formGroup]="form">
                        <mat-checkbox color="accent" formControlName="aceptoTerminos"> He leído y acepto el aviso de privacidad </mat-checkbox>
                    </div>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary" role="button" type="button" (click)="submitRequest()" [disabled]="!form.valid || busy" data-toggle="modal" data-target="#exampleModal">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</section>

<re-captcha size="invisible" *ngIf="RECAPTCHA_KEY" [siteKey]="RECAPTCHA_KEY" (resolved)="participar(type, $event)"></re-captcha>

<section class="hey-faq bg-01">
    <div class="container">
        <div class="row align-items-center centrar">
            <div class="col-10 offset-1">
                <h2>
                    Cambia tu estatus a Hey Pro y recibe $250 pesos por referido que aperture su Cuenta Hey. ¡Ser Hey Pro es muy fácil!
                </h2>
            </div>

            <div class="col-4 offset-4 boton centrar">
                <button class="btn btn-primary" role="button" type="button" routerLink="/parami/hey-pro" data-toggle="modal" data-target="#exampleModal">Conoce más</button>
            </div>
            <p class="legales col-10 offset-1 centrar">
                <b><a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-embajadores-clientes-hey.pdf" target="_blank">Consulta términos, condiciones, bases y privacidad</a>
                </b>. Vigencia del 7 al 21 de marzo de 2022. Los resultados serán publicados en nuestra cuenta de Instagram (@heybanco) durante el mismo periodo de vigencia de la promoción y a través de un correo electrónico notificando
                el incentivo.
            </p>
        </div>
    </div>
</section>

<section class="hey-faq">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P210/P210-8-img-faq.png'" alt="¿Dónde puedo resolver mis dudas sobre la Cuenta Hey?">
            </div>

            <div class="col-md-5 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-01">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    ¿Cómo puedo referir a mis amig@s?
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        Registra aquí a tus referidos para invitarlos a abrir una cuenta Hey
                                    </li>
                                    <li>
                                        Asegurate que cada referido deposite al menos $250 pesos en su cuenta del 7 al 21 de marzo
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ¿Cuando se deposita los referidos?
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                El monto acumulado por referidos que completen el proceso se depositará en tu Cuenta Hey del 24 al 31 de marzo

                            </div>
                        </div>
                    </div>

                    <div class="card bg-01">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    ¿Cuánto se deposita por referido?
                                    <img loading="lazy" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                                </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Por cada amigo referido, serás acreedor a $100 pesos

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<hey-cta-app bg2="true"></hey-cta-app>

<hey-slider-productos></hey-slider-productos>