<!-- desktop y tablet -->
<section class="hey-hero-image-cuenta-hey-negocios d-none d-sm-none d-md-block d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-0 col-lg-6">
                <div>
                    <p>Tarjeta Hey Negocios</p>

                    <h1>Estás a un paso de agilizar tu negocio</h1>

                    <img loading="lazy" class="hero-image-cuenta-hey-negocios" [src]="env.assetsUrl + 'img/P210-Cuentas/P210-63-img-cuenta-hey-negocios.png'" alt="Hey banco - Tarjeta credito Negocios">

                </div>
            </div>

            <div class="col-10 col-md-7 col-lg-6">
                <p class="beneficios">Beneficios</p>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Contratación 100% digital</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Sin anualidad</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Recompensas en efectivo del 2% por compras con tarjeta virtual y 1% con la tarjeta física</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Meses sin intereses en comercios participantes</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Compras diferidas con tasa preferencial</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Tarjeta tradicional o *Garantizada</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Transfiere tu saldo de otro banco con tasa desde 0%<sup>1</sup></p>
                    </div>
                </div>

                <p class="legales-terminos"><sup>1</sup>Aplica términos y condiciones</p><br>
                <!--DUDA-->
                <a class="btn btn-primary-purple col-md-6" role="button" href="https://quierosercliente.hey.inc/#/cw/form-correo?p=TFM" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Me interesa</a>
                <a href="./assets/folletos/folleto-tarjeta-hey-negocios.pdf" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Tarjeta Hey Negocios</p>
                </a>
            </div>

        </div>
    </div>
</section>


<!-- mobile-->
<section class="hey-hero-image-cuenta-hey-negocios d-block d-sm-block d-md-none d-lg-none">
    <div class="container d-none d-block d-sm-block d-md-none d-lg-none">
        <div class="row">
            <div class="col-sm-6 offset-sm-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0">
                <div>
                    <p>Tarjeta Hey Negocios</p>

                    <h1>Estás a un paso de agilizar tu negocio</h1>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <p class="beneficios">Beneficios</p>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Contratación 100% digital</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Sin anualidad</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Recompensas en efectivo del 2% por compras con tarjeta virtual y 1% con la tarjeta física</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Meses sin intereses en comercios participantes</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Compras diferidas con tasa preferencial</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Tarjeta tradicional o *Garantizada</p>
                    </div>
                </div>

                <div class="media">
                    <img loading="lazy" [src]="env.assetsUrl + 'img/P100-Home/P810-92-ic-check.png'" class="align-self-start" alt="Tu banco digital">

                    <div>
                        <p class="media-body">Transfiere tu saldo de otro banco con tasa desde 0%<sup>1</sup></p>
                    </div>
                </div>

                <p class="legales-terminos"><sup>1</sup>Aplica términos y condiciones</p>
                <!--DUDA-->
                <!--a *ngIf="ajuste === false" class="btn btn-primary-purple col-md-6" role="button" href="https://quierosercliente.heybanco.com/#/cw/form-correo?p=TFM" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Me interesa</a-->
                <a class="btn btn-primary-purple col-md-6" role="button" href="https://quierosercliente.hey.inc/#/cw/form-correo?p=TFM" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Me interesa</a>
                <a href="./assets/folletos/folleto-tarjeta-hey-negocios.pdf" target="_blank">
                    <p class="legales-small">Información y Comisiones de la Tarjeta Hey Negocios</p>
                </a>
            </div>
        </div>
    </div>
</section>