<section class="hey-legal-title">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col col-2 col-md-2 col-lg-2">
                    <a [routerLink]="['/terminos-condiciones']" target="_self"> <img loading="lazy" class="back" [src]="environment.assetsUrl + 'img/P700-Compania/P710-Nosotros/P710-11-ic-back.svg'" alt="Tu banco digital">
                    </a>

                </div>
                <div class="col col-md-6 col-lg-6">
                    <h4>
                        Promociones</h4>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-2 espacio">
                </div>
                <div class="col-12  col-md-10 col-lg-7">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-boleto-dorado-hey.pdf" target="_blank">
                                        Boleto Dorado</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/giveaway-portabilidad-nomina.pdf" target="_blank">
                                        Giveaway Nómina Hey</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-referidos.pdf" target="_blank">
                                        Giveaway Referidos</a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-embajadores-hey.pdf" target="_blank">
                                        Embajadores Hey Pro</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-1-anio-de-vuelos-hey-x-viva.pdf" target="_blank">
                                        Giveaway 1 de vuelos Hey x Viva</a></td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-tarjetas.pdf" target="_blank">
                                        Tarjetas Diseñadas por Clientes</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-catar-2022.pdf" target="_blank">
                                        Giveaway Catar 2022™
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-giveaway-ahorro.pdf" target="_blank">
                                        Hey Ahorra
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-cashback-cinepolis.pdf" target="_blank">
                                        Cashback Cinépolis
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="https://heybanco.s3.amazonaws.com/assets/legales/terminos-y-condiciones-seguro-hogar-hey.pdf" target="_blank">
                                        Beneficio Seguro del Hogar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>