<section class="hey-hero-image hey-corresponsales">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-0 col-md-8 offset-md-0 col-lg-7 offset-lg-1">
                <div class="vertical-center">
                    <h1>+23,600 puntos para manejar tu dinero</h1>
                    <p>
                        A donde quiera que vayas queremos que realices tus movimientos o dispongas de tu dinero sin ningún problema.</p>

                    <p>
                        Conoce los puntos en donde puedes hacer uso de tu Tarjeta Hey.
                    </p>
                </div>
            </div>

            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4">
                <img loading="lazy" class="responsive-corresponsales-hero" [src]="environment.assetsUrl + 'img/hero-image/hero-image-corresponsales.png'" alt="Tu banco digital">
            </div>

        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-oxxo.png'" alt="Tu banco digital">
            </div>

            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-0">
                <h2>Paga tu Tarjeta o deposita a tu Cuenta Hey en <b>OXXO</b></h2>
                <p>
                    Realiza depósitos de hasta $5,000 pesos diarios o paga tu Tarjeta de Crédito en +19,800 sucursales. ¡Fácil, rápido y seguro!
                </p>


                <p class="legales">Horario de lunes a domingo de 6:00 a 22:00. Comisión de $12.00 pesos. Depósitos a cuentas o tarjetas de crédito hasta $26,640.00 pesos por día pagando $5,000.00 pesos en cada transacción. </p>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-02">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4 offset-lg-0 order-1 order-sm-1 order-md-1 order-lg-2">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-corresponsales-02.png'" alt="Tu banco digital">
            </div>

            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1">
                <h2>Consulta y retira en Sucursales y Cajeros <b>Banregio</b></h2>

                <p>Haz uso de cualquiera de los cajeros y sucursales Banregio del país para realizar todos tus movimientos sin costo.</p>

                <a class="btn btn-primary" role="button" target="_blank" href="https://www.banregio.com/oficinas.php">Encontrar mi tienda más cercana</a>
            </div>

        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-corresponsales-01.png'" alt="Tu banco digital">
            </div>

            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-0">
                <h2>Paga tu Tarjeta o deposita a tu Cuenta Hey en <b>7-Eleven</b></h2>

                <p>Realiza depósitos de hasta $5,000 pesos diarios o paga tu Tarjeta de Crédito en +1,800 sucursales. ¡Fácil, rápido y seguro!</p>

                <p class="legales">Horario de lunes a domingo de 6:00 a 22:00. Comisión de $10.00 ($8.62 + IVA). Depósitos a cuentas o tarjetas de débito con límite de $5,000.00 pesos por día. Pagos a tu Tarjeta de Crédito de hasta $5,000.00 pesos en cada transacción.</p>

                <a class="btn btn-primary" role="button" target="_blank" href="https://www.7-eleven.com.mx/buscador-tiendas/#/stores">Encontrar mi tienda más cercana</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-01">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1">
                <h2>Deposita hasta $5,000 a tu cuenta Hey en <b>BBVA</b></h2>

                <p>A través de sus +2,000 Practicajas en todo el país. Deposita al instante y ve tu dinero reflejado en tu cuenta en 15 minutos.</p>

                <p class="legales">De 8:00 a 20:00. Todos los días de la semana. Comisión por depósitos es de $27.41 + IVA.</p>

                <a class="btn btn-primary" role="button" target="blank" href="https://youtu.be/LuipCk8vf3A">Entérate como</a>
            </div>

            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4 offset-lg-0 order-1 order-sm-1 order-md-1 order-lg-2">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-corresponsales-03.png'" alt="Tu banco digital">
            </div>


        </div>
    </div>
</section>

<section class="hey-cta bg-blue">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-10 offset-md-1 col-lg-4 offset-lg-0">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-corresponsales-04.gif'" alt="Tu banco digital">
            </div>

            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-1">
                <h2>Retira efectivo cuando quieras en <b>+4,000</b> supermercados</h2>

                <p>Ya puedes disponer de $2,000 a $3,000 pesos en efectivo en cualquiera de nuestros supermercados afiliados.</p>

                <a class="btn btn-primary" role="button" target="_blank" href="https://heybanco.s3.amazonaws.com/assets/folletos/lista-supermercados.pdf">Conocer los supermercados afiliados</a>
            </div>

        </div>
    </div>
</section>

<section class="hey-cta">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 offset-0 col-md-12 offset-md-0 col-lg-6 offset-lg-1 order-2 order-sm-2 order-md-2 order-lg-1">
                <h2>+3,600 <b>cajeros</b> disponibles para ti </h2>

                <p>Consulta y retira efectivo en nuestros cajeros afiliados sin comisión por movimiento.</p>

                <p class="legales">De 8:00 a 20:00. Todos los días de la semana.</p>
            </div>
            <div class="col-10 offset-0 col-md-12 offset-md-0 col-lg-4 offset-lg-0 order-1 order-sm-1 order-md-1 order-lg-2">
                <img loading="lazy" class="responsive-empresas" [src]="environment.assetsUrl + 'img/cta/cta-corresponsales-05.gif'" alt="Hey Banco - cajeros afiliados">
            </div>


        </div>
    </div>
</section>

<section class="hey-faq bg-02 hey-corresponsales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-10 offset-0 col-md-5 offset-md-1 col-lg-3 offset-lg-1 order-2 order-md-1 order-lg-1">
                <img loading="lazy" class="ocultar" [src]="environment.assetsUrl + 'img/cta/cta-faq-cuenta.png'" alt="Tu banco digital">
            </div>

            <div class="col-md-12 col-lg-7 order-1 order-md-2 order-lg-2">
                <h2>Preguntas frecuentes</h2>

                <div class="accordion" id="accordionExample">
                    <div class="card bg-white">
                        <div class="card-header" id="headingOne">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  ¿Qué movimientos puedo hacer en 7-Eleven?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Puedes hacer depósitos a tu Cuenta Hey o tarjetas de débito con límite de $5,000.00 pesos por día y pagos a tu Tarjeta de Crédito Hey de hasta $5,000.00 pesos en cada transacción, solo necesitas los 16 dígitos de la tarjeta correspondiente en un horario
                                de lunes a domingo de 6:00 a 22:00.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingTwo">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  ¿Cuánto cuesta hacer un depósito o pago en 7-Eleven?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                La comisión por realizar un pago o depósito en seven eleven es de Comisión de $10.00 ($8.62 + IVA)
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingThree">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  ¿Cuales movimientos puedo hacer en cajeros Banregio con mi Tarjeta Hey?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Puedes consultar tu saldo así como retirar hasta $9,500 pesos al día.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingFour">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                  ¿Cómo fondear mi cuenta en practicajas BBVA?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Para poder hacer un depósito en BBVA sigue las instrucciones del siguiente <a href="https://youtu.be/LuipCk8vf3A" target="_blank">video</a>.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingFive">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                  ¿Cuánto es lo máximo que puedo depositar BBVA?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                El depósito puede ser desde $50.00 hasta $5,000 pesos.
                            </div>
                        </div>
                    </div>

                    <div class="card bg-white">
                        <div class="card-header" id="headingSix">
                            <h3>
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                  ¿En cuáles supermercados puedo hacer retiros?<img loading="lazy" alt="Tu banco digital" [src]="environment.assetsUrl + 'img/icons/contract-icon.svg'">
                              </button>
                            </h3>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                Conoce los 22 comercios donde puedes hacer retiros dentro de cualquiera de sus sucursales en todo el país <a href="https://heybanco.s3.amazonaws.com/assets/folletos/lista-supermercados.pdf" target="_blank">aquí</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hey-slider-beneficios></hey-slider-beneficios>

<hey-cta-app></hey-cta-app>

<hey-slider-productos></hey-slider-productos>