<section class="hey-hero-image hey-seguro-generales">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class="vertical-center">
                    <h1 class="titulo">Hey, protege tu dinero de forma inteligente</h1>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-5 offset-md-0 col-lg-4 offset-lg-0 text-center">
                <img loading="lazy" class="responsive-hero-seguro" [src]="environment.assetsUrl + 'img/P251-Seguros-Home/P251-0-hero-image.png'" alt="Protección hey. Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-seguro-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Protección Hey</h2>

                <p>Configura tu plan de protección personalizada, selecciona las coberturas que se adapten a tu estilo de vida y protégete contra muerte accidental, robo y fraude.</p>

                <a class="btn btn-primary" [routerLink]="['/seguros-proteccion-hey']" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive-seccion1" [src]="environment.assetsUrl + 'img/P251-Seguros-Home/P251-3-img-proteccion-hey.png'" alt="Protección hey. Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-02 hey-seguro-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-4 offset-md-1 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <img loading="lazy" class="responsive-seccion2" [src]="environment.assetsUrl + 'img/P251-Seguros-Home/P251-4-img-seguro-auto-recompensa.png'" alt="Protección hey. Tu banco digital">
            </div>

            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <h2>El seguro de auto que te recompensa</h2>

                <p>Con tu seguro de Auto Hey nunca tienes pérdidas. Obtén tu cobertura Smart y recibe $1,000.00 pesos en tu renovación por no tener siniestros.</p>

                <a class="btn btn-primary" [routerLink]="['/seguros-auto-persona']" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>

<section class="hey-cta hey-seguro-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                <h2>Protección para celulares nuevos o usados</h2>

                <p>Hey, ¡Lo tenemos cubierto! Conoce nuestro plan contra robo y daño <b>desde solo $120.00 pesos</b>. Mantengamos tus finanzas y tu información a salvo.</p>

                <a class="btn btn-primary" role="button" href="https://la.studio.chubb.com/mx/heybanco/mobile/MXE4400001/es-MX?utm_medium=referral&utm_source=heybanco&utm_campaign=lazamiento+mobile&utm_content=hompage+cta" target="_blank" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>

            <div class="col-9 col-md-5 offset-md-0 col-lg-4 offset-lg-1">
                <img loading="lazy" class="responsive-seccion2" [src]="environment.assetsUrl + 'img/P251-Seguros-Home/P251-7-img-proteccion-celular.png'" alt="¿Hey banco cuenta con seguro para celular? Tu banco digital">
            </div>
        </div>
    </div>
</section>

<section class="hey-cta bg-02 hey-seguro-generales">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-9 col-md-4 offset-md-1 col-lg-4 offset-lg-1 order-2 order-sm-2 order-md-1 order-lg-1">
                <img loading="lazy" class="responsive-seccion2" [src]="environment.assetsUrl + 'img/P251-Seguros-Home/P251-8-img-apoyo-hospitalario.png'" alt="¿Hey banco cuenta con Ayuda Hospitalaria y Consulta Virtual? Tu banco digital">
            </div>

            <div class="col-12 col-md-5 offset-md-1 col-lg-5 offset-lg-1 order-1 order-sm-1 order-md-2 order-lg-2">
                <h2>Ayuda Hospitalaria y Consulta Virtual</h2>

                <p>Conoce una nueva forma de llevar tus consultas sin necesidad de salir de tu casa con paquetes que te mantienen sano a ti y a tu dinero.</p>

                <a class="btn btn-primary" [routerLink]="['/personas/seguros/apoyo-hospitalario']" role="button" onclick="dataLayer.push({'event':'evPageLink'});">Conoce más</a>
            </div>
        </div>
    </div>
</section>

<hey-slider-productos></hey-slider-productos>