<section class="hey-hero-image ">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-6 offset-sm-1 col-md-5 offset-md-1 col-lg-6 offset-lg-1">
                <div class=" vertical-center">
                    <h1>Crédito <br> Personal Hey </h1>
                    <br>

                    <p class="mb-15"> Alcanza tus metas con un <br> crédito sin complicaciones. <br> </p>
                </div>
            </div>

            <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-5 offset-lg-0 text-center  ">
                <img loading="lazy" class="d-none d-lg-block d-md-block responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P262-Personas/p262-1-img.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">
                <img loading="lazy" class="d-sm-none responsive-cuentas-hero" [src]="environment.assetsUrl + 'img/P262-Personas/p262-1.1-img.png'" alt="¿Cómo puedo abrir una Cuenta Hey? Tu banco digital">

            </div>
        </div>
    </div>
</section>

<section class="hey-cta no-padding personal-banner">
    <div class="container">
        <div class="row">
            <div class="d-none d-lg-block d-md-none col-lg-5 offset-lg-1 vertical-full order-md-2 order-2 order-lg-1">
                <img loading="lazy" class="d-none d-lg-block d-md-block" [src]="environment.assetsUrl + 'img/P262-Personas/p262-2-img.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>

            <div class="d-block d-lg-none d-md-block col-lg-5 offset-lg-1 vertical-full order-md-2 order-2">
                <img loading="lazy" [src]="environment.assetsUrl + 'img/P262-Personas/p262-2.1-img.png'" alt="Ahorra en hey banco. Tu banco digital">
            </div>

            <div class="d-block col-12 col-md-8 offset-md-1 col-lg-5 offset-lg-1 order-lg-2 order-md-1 order-1">
                <div class="vertical-center">

                    <h2>Obtén un crédito para usar en lo que tú quieras</h2>

                    <div class="column mb-24">
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-8-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Usa tu crédito en lo que tú decidas
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-8-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Domicilia el pago de tu mensualidad
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-8-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Adelanta pagos sin penalización
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-8-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Reduce tu tasa de interés cambiando tu Nómina a Hey
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="hey-caracteristicas bg-purple">
    <div class="container">
        <h1 class="offset-1">Tu Crédito Personal Hey </h1>
        <br>
        <br>
        <div class="row offset-1 offset-md-0 offset-lg-0 ">
            <div class="row col-12">
                <div class="media mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P262-Personas/p262-7-img.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Desde $5,000 hasta $400,000 pesos, <br> según capacidad de pago </p>
                    </div>
                </div>

                <div class="media mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P262-Personas/p262-4-img.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Pagos mensuales o quincenales domiciliados a tu Cuenta Hey</p>
                    </div>
                </div>
            </div>

            <br>

            <div class="row col-12">
                <div class="media mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P262-Personas/p262-6-img.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Tasa de interés fija</p>
                    </div>
                </div>

                <div class="media mb-20 col-md-5 offset-md-1 col-lg-5 offset-lg-1">
                    <img loading="lazy" [src]="environment.assetsUrl + 'img/P262-Personas/p262-5-img.png'" class="align-self-start" alt="Ahorra en hey banco. Tu banco digital">
                    <div class="media-body">
                        <p>Plazos desde 3 hasta 48 meses</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="hey-cta no-padding info-credito">
    <div class="container">
        <div class="row">
            <div class="col-12 row">
                <div class="col-12 offset-0 col-md-12 offset-md-1 col-lg-5 offset-lg-1 order-lg-2 info-box">
                    <img loading="lazy" class="d-none d-lg-none d-md-none" [src]="environment.assetsUrl + 'img/P262-Personas/p262-3-img.png'" alt="Ahorra en hey banco. Tu banco digital">
                </div>

                <div class="col-12 col-md-8 offset-md-1 col-lg-5 offset-lg-1 order-lg-1">

                    <h2>Requisitos</h2>

                    <div class="column mb-24 offset-0 offset-md-0 offset-lg-0">
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Ser persona Física
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Tener entre 21 y 70 años
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Ser mexicano
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Tener ingreso mensuales de al menos $5,000 pesos
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Tener Cuenta Hey Verificada
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 row ">
                <div class="col-12 col-md-8 offset-md-1 col-lg-5 offset-lg-1 order-1">

                    <h2>Documentación</h2>

                    <div class="column mb-24 offset-0 offset-md-0 offset-lg-0">
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Solicitud de crédito
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Aviso de privacidad
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                INE por ambos lados
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Comprobante de domicilio (no mayor a 3 meses)
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-0 col-lg-5 offset-lg-1 order-2">

                    <h2>Características</h2>

                    <div class="column mb-24 offset-0 offset-md-0 offset-lg-0">
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Crédito simple sin grantía
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Libre destino
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Tasa de interés anual fija
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Pagos fijos
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Comisión por apertura del <strong class="text-bold">2.5%</strong> sobre el monto financiado
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Sin penalización por prepago
                            </p>
                        </div>
                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Plazos del 3, 6, 12, 18, 24, 36, 48 meses
                            </p>
                        </div>

                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Si realizas portablilidad de Nómina a Hey Banco se otorgan condiciones prefenciales*
                            </p>
                        </div>

                        <div class="row text-left">
                            <img loading="lazy" class="item-img" [src]="environment.assetsUrl + 'img/P262-Personas/p262-9-img.svg'" alt="Tu banco digital, Tu banco 100% digital">
                            <p class="col-10">
                                Monto del crédito desde $5,000 pesos
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-11 row offset-1 info-legales">
                <div>
                    <h5 class="legales ">Crédito Personal Hey</h5>

                    <p class="legales">
                        Costo Anual Total (CAT) Crédito Personal Hey. <strong>CAT Promedio <span class="text-bold"> 37.4% Sin IVA.</span> </strong> Tasa de Interés Anual Fija. Vigencia de la oferta 23 de agosto de 2022. Cálculo realizado el 23 de febrero
                        de 2022. Producto en Moneda Nacional y disponible a través del App Hey Banco impulsado por Banregio disponible en El App Store o Google Play. *Obtén una tasa preferencial desde el 19%. La tasa varía en la función de la calificación
                        del buró de cada cliente. <br> <br> Incumplir tus obligaciones te puede generar comisiones e intereses moratorios. Contratar créditos que excedan tu capacidad de pago afecta tu historial crediticio. El avalista, obligado solidario
                        o coacreditado responderá como obligación principal por el total del pago frente a la Institución Financiera.
                    </p>
                    <br>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <p class="legales"> <strong> Unidad Especializada de Atención a Usuarios (UNE):</strong></p>
                            <p class="legales">
                                Teléfono: Monterrey y otras ciudades 81 BANREGIO (81 22673446) <br> Correo Electrónico: trasnsparencia@banregio.com <br> Página de internet: www.banregio.com
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6">

                            <p class="legales"> <strong> Comisión Nacional para la Protección y Defensa de los usuarios de Servicios Financieros (CONDUSEF):</strong></p>
                            <p class="legales">
                                Teléfono: Monterrey y otras ciudades 55 5340 0999 <br> Correo Electrónico: asesoria@condusef.gob.mx <br> Página de internet: www.gob.mx/condusef
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>