<section class="hey-ayuda-detalle">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda']">Centro de Ayuda</a></li>
                        <li class="breadcrumb-item"><a [routerLink]="['/centro-ayuda-inversion']">Inversión Hey</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gana semanas 6.50% sobre tu Inversión Hey</li>
                    </ol>
                </nav>

                <div class="video-responsive">
                    <iframe src="https://www.youtube.com/embed/mH7weUJ-dSM" title="Gana semanas 6.50% sobre tu Inversión Hey" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </div>

            </div>
        </div>
    </div>
</section>